body{
    background-color: #f9f9f9;
}

img{
    image-rendering: -webkit-optimize-contrast;
}

a{
    /*color: #ff9800 !important;*/
    text-decoration: none !important;
}

.modal{
    top: 25% !important;
}

.container-fluid{
    padding: unset !important;
}

.container {
    text-align: center;
    font-size: 20px;
}

.container-left{
    text-align: left !important;
}

.container-center{
    display: flex;
    justify-content: center;
    align-items: center;
}
  
.container-align-center{
    display: flex;
    align-items: center;
}

.container-bgcolor-white{
    background-color: white !important;
}

.container-bgcolor-blue{
    width:100%;
    height:200px;
    background-color: #3F51B5!important;
    color:white;
}

.container-bgcolor-green{
    width:100%;
    height:200px;
    background-color: #41B654!important;
    color:white;
}

.container-bgcolor-orange{
    width:100%;
    height:200px;
    background-color: orange!important;
    color:white;
}

.container-bg-color-gray{
    background-color: #EDEFED;
}

.container-paddingLR0{
    padding-left: 0px;
    padding-right: 0px;
}

.text-center{
    text-align: center;
}
  


.link{
    margin-left: 20px;
    color: orange !important;
    font-size: smaller;
    cursor: pointer;
}

.mg-T10{
    margin-top: 10px;
}

.mg-T20{
    margin-top: 20px;
}

.mg-T30{
    margin-top: 30px;
}

.mg-B20{
    margin-bottom: 20px;
}

.mg-B30{
    margin-bottom: 30px;
}

.mg-TB0{
    margin-top: 0px;
    margin-bottom: 0px;
}

.mg-L20{
    margin-left: 20px;
}
.mg-R10{
    margin-right: 10px;
}

.mg-LR0{
    margin-left: 0px;
    margin-right: 0px;
}

.mg-LR20{
    margin-left: 20px;
    margin-right: 20px;
}

.pd-T20{
    padding-top: 20px;
}

.pd-T30{
    padding-top: 30px;
}

.pd-T50{
    padding-top: 50px;
}

.pd-B30{
    padding-bottom: 30px;
}

.pd-B50{
    padding-bottom: 50px;
}

.pd-LR0{
    padding-left: 0px;
    padding-right: 0px;
}

.pd-LR20{
    padding-left: 20px;
    padding-right: 20px;
}

.pd-LR25{
    padding-left: 25px;
    padding-right: 25px;
}
  
.pd-All50{
    padding: 50px;
}
.heightmax{
    height: 1200px;
}


.bg-black{
    background-color: gray;
    width: 100%;
    height: 300px;
  }
  
.fa-play-circle{
    -webkit-transition: font-size .25s;
    transition: font-size .25s;
    transform: scale(1);
    cursor: pointer;
}

.fa-play-circle:hover {
    font-size: 5em;
}   

.btn-taxi{
    color: #000;
    background-color: orange!important;
    border-radius: unset!important;
    font-weight: 700;
}

.btn-taxi-white{
    color: orange;
    background-color: white;
    border-color: orange!important;
    border-radius: unset!important;
    font-weight: 700;
    cursor: pointer;
}

.modal-content{
    border-radius:unset !important;
}

.modal-content .modal-header{
    border-bottom:unset !important;
}

.modal-content .modal-footer{
    border-top:unset !important;
}

.img-default{
    height: 200px;
    background-color: #616161;
    display: flex;
    align-items: center;
    justify-content: center;
}


.ios-download-btn {
    width: 180px;
    height: 62px;
    background-image: url("~assets/images/pic_main_download_ios.svg");
    cursor: pointer;
}

.ios-download-btn:hover {
    padding: 2px;
}

.ios-download-btn:active {
    padding: 3px;
}

.android-download-btn {
    width: 180px;
    height: 62px;
    background-image: url("~assets/images/pic_main_download_android.svg");
    cursor: pointer;
}

.android-download-btn:hover {
    padding: 2px;
}

.android-download-btn:active {
    padding: 3px;
}


/* Download btn popup */

.btn-ios-download {
    width: 186px;
    height: 64px;
    background-image: url("~assets/images/bt_popup_download_ios_noactive.png");
    cursor: pointer;
}

.btn-ios-download:hover {
    background-image: url("~assets/images/bt_popup_download_ios_active.png");
    padding: 2px;
}

.btn-ios-download:active {
    padding: 3px;
}

.btn-android-download {
    width: 186px;
    height: 64px;
    background-image: url("~assets/images/bt_popup_download_android_noactive.png");
    cursor: pointer;
}
.btn-android-download:hover {
    background-image: url("~assets/images/bt_popup_download_android_active.png");
    padding: 2px;
}

.btn-android-download:active {
    padding: 3px;
}

.arrow-right{
    width: 25px;
    height: 20px;
    margin-left: 5px;
}

.arrow-left{
    width: 25px;
    height: 20px;
    margin-right: 5px;
}

.text-orange{
    color: orange !important;
}

.link-is-active{
    color:black;
}