<template>
    <div class="container">
        <nuxt-child />
    </div>
</template>

<script>
import jQuery from "jquery";
export default {
  data: () => {
    return { }
  }
}
</script>

<style scoped>
.container{
    margin-top:80px;
}

.text-orange {
  color: orange !important;
  font-size: xx-large;
}

p {
  margin-top: 20px;
  margin-bottom: 20px;
}

p a {
  color: black;
}

.topic-list{
    width: 250px;
    text-align: center;
    margin: auto;
}

.topic-list ul{
    text-align: left;
}

.is-active{
    color: orange !important;
    font-weight: bold;
}

</style>