<template>
    <div class="container">

        <div class="row">
            <div class="col">
                <h1 class="text-orange">{{title}}</h1>
            </div>
        </div>
        <div class="row">
            <div class="col-lg-4">
                <p v-for="value in list">
                    <nuxt-link :to="'/help/termsofuse/passengers/en/'+value.link+''" exact active-class="is-active">{{value.text}}</nuxt-link></p>
                </p>
            </div>
            <div class="col-lg-8" >
                <nuxt-child />
            </div>
        </div>
    </div>
</template>


<script>
import jQuery from "jquery";
export default {
  data: () => {
    return { 
      title: "Agreements and Conditions on the Use of Services for the General Public",
      list: [   
       { 
           link: "",
           text: "Agreements and Conditions on the Use of Services"
        },
        { 
           link: "aboutus",
           text: "About our Services"
        },
        {
            link: "register",
            text: "Registration and Using of Services"
        },
        {
            link: "payment",
            text: "Payment and Service Charges"
        },
        {
            link: "license",
            text: "Proprietary Right in Intellectual Property"
        },
        {
            link: "security",
            text: "Personal Information Protection"
        },
        {
            link: "dependent",
            text: "Connections with Other Application/Website"
        },
        {
            link: "thirdparty",
            text: "The Third Persons"
        },
        {
            link: "marketingandevent",
            text: "Marketing Promotion or Marketing Activity Event"
        },
        {
            link: "responsibity",
            text: "Limit of Liability"
        },
        {
            link: "securityinfo",
            text: "In the case of any change in the data"
        },
        {
            link: "editcondition",
            text: "Revisions of the Agreements and Conditions"
        },
        {
            link: "announcement",
            text: "Notices"
        },
        {
            link: "terminate",
            text: "Suspension on the use and cancelation in providing the services"
        },
        {
            link: "termofcondition",
            text: "Scope of these Agreements and Conditions"
        }

      ]
    }
  }
}
</script>

<style scoped>
.container{
    margin-top:80px;
}

.text-orange {
  color: orange !important;
  font-size: xx-large;
}

p {
  margin-top: 20px;
  margin-bottom: 20px;
}

p a {
  color: black;
}

.topic-list{
    width: 250px;
    text-align: center;
    margin: auto;
}

.topic-list ul{
    text-align: left;
}

.is-active{
    color: orange !important;
    font-weight: bold;
}

</style>