<template>
    <div class="container">
        <nuxt-child />
    </div>
</template>


<script>
import jQuery from "jquery";
export default {
  data: () => {
    return { 
      //title: "ข้อกำหนดและแนวปฏิบัติของสมาชิก APP TAXI APPLICATION",
      /*
      list: [   
       { 
           link: "",
           text: "ข้อ 1. การปฏิบัติตามกฎหมาย นโยบายและข้อแนะนำ"
        },
        { 
           link: "aboutus",
           text: "เกี่ยวกับบริการของเรา"
        },
        {
            link: "register",
            text: "การลงทะเบียนและการใช้บริการ"
        },
        {
            link: "payment",
            text: "การชำระเงินและค่าบริการ"
        },
        {
            link: "license",
            text: "กรรมสิทธิ์ในทรัพย์สินทางปัญญา"
        },
        {
            link: "security",
            text: "การคุ้มครองข้อมูลส่วนบุคคล"
        },
        {
            link: "dependent",
            text: "การเชื่อมโยงกับแอพพลิเคชั่น/เว็บไซต์อื่นๆ"
        },
        {
            link: "thirdparty",
            text: "บุคคลที่สาม"
        },
        {
            link: "marketingandevent",
            text: "การส่งเสริมการตลาดหรือจัดกิจกรรมการตลาด"
        },
        {
            link: "responsibity",
            text: "ข้อจำกัดความรับผิด"
        },
        {
            link: "securityinfo",
            text: "กรณีมีการเปลี่ยนแปลงข้อมูลใดๆ"
        },
        {
            link: "editcondition",
            text: "การแก้ไขและเพิ่มเติมข้อตกลง/เงื่อนไข"
        },
        {
            link: "announcement",
            text: "คำบอกกล่าว"
        },
        {
            link: "terminate",
            text: "ระงับการใช้และการยกเลิกให้บริการ"
        },
        {
            link: "termofcondition",
            text: "ขอบเขตของข้อตกลงและเงื่อนไขนี้"
        }

      ] */
    }
  }
}
</script>

<style scoped>
.container{
    margin-top:80px;
}

.text-orange {
  color: orange !important;
  font-size: xx-large;
}

p {
  margin-top: 20px;
  margin-bottom: 20px;
}

p a {
  color: black;
}

.topic-list{
    width: 250px;
    text-align: center;
    margin: auto;
}

.topic-list ul{
    text-align: left;
}

.is-active{
    color: orange !important;
    font-weight: bold;
}

</style>