<template>

<div>
    <div class="passenger-container row">
        <div class="col passenger-col">
            <div class="passenger-title">
                <h5>สำหรับ PASSENGER</h5>
                <br/>
                <h2>ทำให้การเดินทางของคุณง่ายและสะดวกกว่าเดิม</h2>
                <br/>
                <p>ใช้งานง่ายไม่กี่ขั้นตอนทำให้คุณได้รถทันทีโดยไม่ต้องรออีกต่อไปทำให้การเดินทางของคุณเป็นไปอย่างราบรื่นตั่งแต่จุดรับถึงปลายทาง ดาวน์โหลดได้แล้ววันนี้</p>
                <br/>
                <div class="passenger-download">
                    <button><a href="https://itunes.apple.com/th/app/apptaxi/id1246054015?mt=8" target="_blank"><img src="~assets/images/cut_res-08.png"></a></button>
                    <button><a href="https://play.google.com/store/apps/details?id=com.apptaxi.passenger" target="_blank"><img src="~assets/images/cut_res-07.png"></a></button>
                </div>
            </div>
            <div class="passenger-image">
                <img src="~assets/images/cut_res-01.png" />
            </div>
        </div>
    </div>

    <div class="passenger-video-container row">
        <div class="col">
            <img class="play-btn" src="~assets/images/cut_res-17.png" >
        </div>
    </div>

    <div class="passenger-guide-container container">
        <div class="row">
        <div class="col">
            <h1 class="guide-title">เริ่มการเดินทางไปกับเรา</h1>
        </div>
        </div>
        <div class="row">
        <div class="col-sm-12 col-md-4 right">
            <img src="~assets/images/cut_res-03.png">
            <div class="cover">
                <h4 class="cover-text">1.เรียกแท็กซี่ด้วยเสียง</h4>
            </div>
        </div>
        <div class="col-sm-12 col-md-4">
            <img src="~assets/images/cut_res-04.png">
            <div class="cover">
                <h4 class="cover-text">2.รอแท็กซี่มารับที่จุดรับ</h4>
            </div>
        </div>
        <div class="col-sm-12 col-md-4 left">
            <img src="~assets/images/cut_res-05.png">
            <div class="cover">
                <h4 class="cover-text">3.เดินทางอย่างปลอดภัย</h4>
            </div>
        </div>
        </div>
    </div>

</div>


</template>

<script>

import utils from '~/utils/utils'

export default {
    components: { 
    },
    methods:{
        openModal: (name)=>{
            utils.openModal(name)
        }
    }
}
</script>

<style scoped>

/*@media (min-width: 1023px){*/
    h5{
        font-weight: bold;
    }

    h2{
        font-weight: 600;
        font-size: 2.1em;
    }

    img{
        image-rendering: -webkit-optimize-contrast;
    }

    .left{
        text-align: left;
    }

    .right{
        text-align: right;
    }

    .passenger-container{
        background-image: url("~assets/images/cut_res-18.jpg");/*url("/assets/images/cut_res-18.png");*/
        /*background-size: contain;*/
        background-size: 100% 100%;
        background-repeat: no-repeat;
        height: 46vw;
        width: 100vw;
    }

    .passenger-col{
        margin-left: 18vw;
        margin-top: 14vw;
        display: flex;
    }

    .passenger-title{
        /*position: absolute;*/
        color: white;
        /*
        top: 14vw;
        left: 18vw;
        */
        width: 33vw;
    }

    .passenger-image{
    }

    .passenger-image img{
        width: 40vw;
        margin-top: -7vw;
        image-rendering: -webkit-optimize-contrast;
    }

    .passenger-download{
        display:flex;
    }

    .passenger-download button{
        background: none;
        border: none;
        padding: 0;
        cursor: pointer;
        flex: 0 1 40%;
    }

    .passenger-download button:hover{
        moz-box-shadow: inset 0 0 100px 100px rgba(255, 255, 255, 0.1);
        -webkit-box-shadow: inset 0 0 100px 100px rgba(255, 255, 255, 0.1);
        box-shadow: inset 0 0 100px 100px rgba(255, 255, 255, 0.1);
    }

    .passenger-download button img{
        width: 90%;
        image-rendering: -webkit-optimize-contrast;
    }

    .passenger-video-container{
        width: 100vw;
        height: 37vw;
        background-color: #424242;
        position: relative;
    }

    .passenger-video-container .play-btn{
        position: absolute;
        top: 50%;
        left: 50%;
        margin-left: -51px;
        margin-top: -51px;
    }

    .passenger-guide-container{
        width: 100vw;
        height: 45vw;
        margin-bottom: 50px;
        max-height: 570px;
    }

    .passenger-guide-container img{
        width: 70%;
    }

    .passenger-guide-container .guide-title{
        padding-top: 30px;
        color: #FF9800;
        font-weight: bold;
    }

    .passenger-guide-container  .cover{
        width: fit-content;
        border: 2px solid;
        border-radius: 25px;
        border-color: #FF9800;
    }

    .passenger-guide-container  .col-md-4:nth-child(1) .cover{
        float: right;
    }

    .passenger-guide-container  .col-md-4:nth-child(2) .cover{
        margin: 0 auto;
    }

    .passenger-guide-container  .col-md-4:nth-child(3) .cover{
        margin-left: -10px;
    }

    .passenger-guide-container .cover-text{
        padding: 5px 15px;
    }
/*}*/

@media (max-width: 1024px){
    .passenger-container{
        height: 52vw;
        background-size: cover;
    }
    .passenger-title{
        width: 50vw;
    }
    .passenger-col{
        margin-left: 5vw;
        margin-top: 13.5vw;
    }
    .passenger-image{
        margin-top: 4vw;
    }
    .passenger-video-container{
        height: 40vw;
    }
    .passenger-guide-container{
        height: 50vw;
    }
    h4{
        font-size: 1.1rem;
    }

}

@media (max-width: 768px){

    .row,
    .col,
    .container{
        padding: 0;
        margin: 0;
    }

    .passenger-container{
        height: 59vw;
        background-size: cover;
        margin-top: 70px;
    }
    .passenger-col{
        margin-left: 8vw;
        margin-top: 12.5vw;
    }
    .passenger-title{
        width: 50vw;
    }
    .passenger-image{
        margin-top: 8vw;
    }
    .passenger-video-container{
        height: 40vw;
    }
    .passenger-guide-container{
        height: unset;
        max-height: unset;
        margin-bottom: 20px;
    }
    .guide-title{
        font-size: x-large;
    }
    .right{
        text-align:unset;
    }
    .left{
        text-align: unset;
    }
    h4{
        font-size: 1.1rem;
    }
    .passenger-guide-container .cover{
        text-align: center;
        justify-content: center;
        margin: auto !important;
        float: unset !important;
    }

    .passenger-title h5,
    .passenger-title h2{
            font-size: small !important;
    }

}

@media (max-width: 767px){
    .passenger-title p{
        display: none;
    }
}
</style>
