<template>

<div>
    <div class="driver-container row">
        <div class="col driver-col">
            <div class="driver-title">
                <h5>สำหรับ DRIVER</h5>
                <br/>
                <h2>อิสระในการรับงาน ที่ต้องการด้วยตัวคุณเอง</h2>
                <br/>
                <p>คุณสามารถที่จะเลือกรับงานที่คุณต้องการได้หรือปล่อยผ่าน ยิ่งคุณรับงานคุณก็จะได้ค่าตอบแทนที่มากขึ้น เมื่อคุณรับงานบ่อย และเป็นงานที่มีประสิทธิภาพ คุณก็จะได้รับแต้มสะสมมากขึ้น</p>
                <br/>
                <div class="driver-download">
                    <button><a href="https://itunes.apple.com/th/app/apptaxi-driver-thai/id1246063872?mt=8" target="_blank"><img src="~assets/images/cut_res-08.png"></a></button>
                    <button><a href="https://play.google.com/store/apps/details?id=com.apptaxi.driver.th" target="_blank"><img src="~assets/images/cut_res-07.png"></a></button>
                </div>
            </div>
            <div class="driver-image">
                <img src="~assets/images/cut_res-02.png" />
            </div>
        </div>
    </div>
</div>

</template>

<script>
import utils from '~/utils/utils'

export default {
    components: { 
    },
    methods:{
        openModal: utils.openModal
    }
}
</script>

<style scoped>
h5{
    font-weight: bold;
}
h2{
    font-weight: 600;
    font-size: 2.1em;
}

.driver-container{
    background-image: url("~assets/images/cut_res-19.jpg");
    /*background-size: contain;*/
    background-size: 100% 100%;
    background-repeat: no-repeat;
    height: 46vw;
    width: 100vw;
}

.driver-col{
    margin-left: 18vw;
    margin-top: 14vw;
    display: flex;
}

.driver-title{
    /*position: absolute;*/
    color: white;
    /*
    top: 14vw;
    left: 18vw;
    */
    width: 33vw;
}

.driver-image img{
    width: 40vw;
    margin-top: -10vw;
    image-rendering: -webkit-optimize-contrast;
}

.driver-download{
    display:flex;
}

.driver-download button{
    background: none;
    border: none;
    padding: 0;
    cursor: pointer;
    flex: 0 1 40%;
}

.driver-download button:hover{
    moz-box-shadow: inset 0 0 100px 100px rgba(255, 255, 255, 0.1);
    -webkit-box-shadow: inset 0 0 100px 100px rgba(255, 255, 255, 0.1);
    box-shadow: inset 0 0 100px 100px rgba(255, 255, 255, 0.1);
}

.driver-download button img{
    width: 90%;
    image-rendering: -webkit-optimize-contrast;
}

@media (max-width: 1024px){
    .driver-container{
        background-size: cover;
        height: 42vw;
    }
    .driver-col{
        margin-left: 7vw;
        margin-top: 7vw;
    }
    .driver-title{
        width: 50vw;
    }
    .driver-image{
        margin-top: 11vw;
    }
    .driver-image img{
        margin-top: -15vw;
    }
}

@media (max-width: 768px){

    .row,
    .col,
    .container{
        padding: 0;
        margin: 0;
    }

    .driver-container{
        background-size: cover;
        height: 59vw;
    }
    .driver-col{
        margin-left: 7vw;
        margin-top: 10vw;
    }
    .driver-title{
        width: 50vw;
    }
    .driver-image{
        margin-top: 11vw;
    }

    .driver-title h5,
    .driver-title h2{
            font-size: small !important;
    }

}

@media (max-width: 767px){
    .driver-title p{
        display: none;
    }
}

</style>
