<template>

<div class="adverts-container container">

    <div class="row" style="margin-bottom:30px">
        <div class="col">
            <h1 class="title">ติดต่อโฆษณา</h1>
            <p>ให้เราช่วยคุณโฆษณา สินค้าของคุณได้ตรงถึงกลุ่มเป้าหมายที่คุณต้องการ</p>
        </div>
    </div>
    
    <div class="row">
        <div class="col-sm-12 col-md-4">
            <div class="card">
                <div class="cover">
                    <img src="~assets/images/cut_res-14.png">
                </div>
                <h5>AD ติดหลังคารถ</h5>
            </div>
        </div>
        <div class="col-sm-12 col-md-4">
            <div class="card">
                <div class="cover">
                    <img src="~assets/images/cut_res-16.png">
                </div>
                <h5>AD ติดหลังรถ</h5>
            </div>
        </div>
        <div class="col-sm-12 col-md-4">
            <div class="card">
                <div class="cover">
                    <img src="~assets/images/cut_res-15.png">
                </div>
                <h5>AD ติดหลังเบาะ</h5>
            </div>
        </div>
    </div>

    <div class="row">
        <div class="col">
            <button class="btn margin-adverts" ><router-link to="/advertisement"> รายละเอียดเพิ่มเติม </router-link></button>
        </div>
    </div>
    
</div>

</template>

<script>
import jQuery from 'jquery'

export default {
  components: { 
    
  },
  methods:{
  }
}
</script>

<style scoped>

h5{
    font-weight: bold;
    padding: 10px;
}

.adverts-container .title{
    padding-top: 30px;
    color: #FF9800;
    font-weight: bold;
}

.adverts-container  .col-md-4:nth-child(1) .card{
    float: right;
}

.adverts-container  .col-md-4:nth-child(2) .card{
    margin: 0 auto;
}

.adverts-container  .col-md-4:nth-child(3) .card{
    margin-left: -10px;
}

.adverts-container .cover-text{
    padding: 5px 15px;
}

.card{
    width: 70%;
    border: 1px solid;
    border-radius: 15px;
    overflow: hidden;
    box-shadow: 1px 2px #d2d2d2;
    border-color: #bbbbbbbb;
    border-top: none;
}

.card .cover{
    width: 100%;
}

.card .cover img{
    width: inherit;
}

.btn{
    color: #FF9800;
    border-color: #FF9800;
    background-color: unset;
    font-weight: bold;
    border-radius: 0px;
    border: 2px solid;
}

.margin-adverts{
    margin-bottom: 50px;
    margin-top: 30px;
}

a{
    color: #ff9800 !important;
    text-decoration: none !important;
}

@media (max-width: 768px){
    .adverts-container .title{
        font-size: xx-large;
    }
    .card{
        width: 80%;
    }
    .adverts-container .col-md-4{
        justify-content: center;
    }
    .adverts-container .col-md-4 .card{
        float: unset !important;
        margin: 10px auto !important;
    }
}
</style>
