<template>

  <div class="taxi-header">
      <h2>เริ่มการเดินทางไปกับเรา</h2>
      <h5>เดินทางอย่างมั่นใจพร้อมกับผู้ใช้บริการอีกกว่า 1 ล้านคน</h5>
  </div>

</template>

<script>

export default {
  components: { 
    
  },
  methods:{
  }
}
</script>

<style scoped>

.taxi-header,
.section2-header{
  width:100%;
  height:355px;
  color:white;
  text-align: center;
  /*background-color: rgba(0, 0, 0, .5);*/
  background-image: url("~assets/images/bg_header_taxi.png");
  /*padding-top: 4%;*/
}

.taxi-header h2,
.taxi-header h5,
.taxi-header i{
  display: block;
  position: relative;
  top: 50%;
  transform: translateY(-50%);
}

</style>
