<template>

<div class="container container-bg-color-gray pd-T30 pd-B50 text-center">
    <div class="col-12 col-md-auto">
    <p>รับข่าวสารและโปรโมชั่นได้ก่อนใคร</p>
    <input class="input-text-news" type="text" placeholder="อีเมล" v-model="email">
    
    <label class="select" >
        <select v-model="personType">
            <option value="passenger" >ผู้โดยสาร </option>
            <option value="driver" >คนขับ</option>
        </select>
    </label>
    
    <button class="btn btn-news" v-on:click="sendNewsEmail()" >ตกลง</button>
    </div>
</div>

</template>

<script>
import jQuery from 'jquery'

export default {
  components: { 
    
  },
  data: () => {
    return {
        email: '',
        personType: 'passenger'
    }
  },
  methods:{
    sendNewsEmail: function(){
        if( /^\w+([\.-]?\w+)*@\w+([\.-]?\w+)*(\.\w{2,3})+$/.test(this.email) ){
            console.log( 'send email to:' , this.email , ' type:' , this.personType )
            //alert( 'ส่งอีเมลถึงท่านเรียบร้อย กรุณาขอรับฟังข่าวสารได้ทางอีเมล' )
            jQuery('#registerNews').modal('show')
        }else{
            alert( 'กรุณากรอกอีเมลให้ถูกต้อง' )
        }

    }
  }
}
</script>

<style scoped>


.btn-news{
    color: black;
    background-color: orange!important;
    border-radius: unset !important;
    font-weight: 700;
}

::-webkit-input-placeholder { /* WebKit, Blink, Edge */
  padding-left: 10px;
  color:    #CFCDCC;
}
:-moz-placeholder { /* Mozilla Firefox 4 to 18 */
  padding-left: 10px;
  color:    #CFCDCC;
  opacity:  1;
}
::-moz-placeholder { /* Mozilla Firefox 19+ */
  color:    #CFCDCC;
  opacity:  1;
  padding-left: 10px;
}
:-ms-input-placeholder { /* Internet Explorer 10-11 */
  color:    #CFCDCC;
  padding-left: 10px;
}
::-ms-input-placeholder { /* Microsoft Edge */
  color:    #CFCDCC;
  padding-left: 10px;
}
.input-text-news{
  height: 40px;  
  margin: 0px;
  border: 0px;
  padding: 0px;
  font-size: 16px;
  margin-right: 2px;
  width: 250px;
  padding-left: 20px;
}

.select {
    border: 1px solid #ccc;
    overflow: hidden; 
    height: 40px;    
    width: 100px;
    position: relative;
    display: inline;
    border: 0px;
}

select{       
    height: 40px;
    padding: 5px;
    font-size: 16px;       
    width: 100px;
    border: 0px;
    color: #CFCDCC;
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
}
.select:after {
    content:"\F107";
    font-family: FontAwesome;
    color: #CFCDCC;
    padding: 2px 0px;
    position: absolute; right: 11px; top: 0;
    /*background: red;*/
    z-index: 1;
    text-align: center;
    width: 10%;
    height: 100%;      
    pointer-events: none;
    box-sizing: border-box;   
}

</style>
