<template>
  <div>
    <div class="container container-left container-top-bottom">
        <div class="row mg-LR0">
            <div class="col-lg-4">
                <p><nuxt-link :to="'/term-of-use/'" exact active-class="is-active">ข้อกำหนดการใช้งาน</nuxt-link></p>
                <p><nuxt-link :to="'/term-of-use/privacy'" active-class="is-active">นโยบายความเป็นส่วนตัว</nuxt-link></p>
                <p><nuxt-link :to="'/term-of-use/security'" active-class="is-active">ความไว้วางใจและความปลอดภัย</nuxt-link></p>
                <p><nuxt-link :to="'/term-of-use/safety'" active-class="is-active">ความปลอดภัยในการให้บริการ</nuxt-link></p>
                <p><nuxt-link :to="'/term-of-use/warranty'" active-class="is-active">การรับประกันผู้โดยสาร</nuxt-link></p>
                <p><nuxt-link :to="'/term-of-use/payment'" active-class="is-active">เงื่อนไขการรับชำระเงิน</nuxt-link></p>
                <p><nuxt-link :to="'/term-of-use/refund'" active-class="is-active">การคืนเงินให้ผู้โดยสาร</nuxt-link></p>
                <p><nuxt-link :to="'/term-of-use/register'" active-class="is-active">เอกสารที่ใช้ประกอบการสมัคร</nuxt-link></p>
            </div>
            <div class="col-lg-8" >
                <nuxt-child />
            </div>
        </div>
    </div>
  </div>
</template>

<script>
export default {
  //layout: 'leftnav',
  asyncData ({ req }) {
    return {
      name: req ? 'server' : 'client'
    }
  },
  mounted: () => {
      const navBar = jQuery('.navbar'),
      data = navBar.data();
      navBar.removeClass(data.startcolor);
      navBar.removeClass(data.startsize);
      navBar.addClass(data.notindexColor);
      navBar.addClass(data.notindexSize);
  },
  destroyed: () =>{
      const navBar = jQuery('.navbar'),
      data = navBar.data();
      navBar.addClass(data.startcolor);
      navBar.addClass(data.startsize);
      navBar.removeClass(data.notindexColor);
      navBar.removeClass(data.notindexSize);
  }
}
</script>

<style>
.container-top-bottom{
    margin-top: 6em;
    margin-bottom: 5em;
}

.container-left{
    text-align: unset !important;
}

a{
    text-decoration: none;
    color: #9C9899;
}

a:focus,
a:hover{
    text-decoration: none;
    color: #9C9899;
}

.is-active{
    font-weight: 600;
    color: black !important;
    text-decoration: none;
}
</style>
