<template>
  <div>
    <p class="text-orange">{{title}}</p>
    <p v-for="value in list" v-html="value"></p>
    <hr/>
  </div>
</template>

<script>
import jQuery from "jquery";
export default {
  data: () => {
    return { 
      title: "เกี่ยวกับบริการของเรา",
      list: [
        "บริษัทเป็นผู้ให้บริการ(ซอร์ฟแวร์) แอพพลิเคชั่นในการบริการเรียกยานพาหนะหรือรถแท็กซี่ผ่านระบบอินเตอร์เน็ต หรือ Call Center / ระบบโทรศัพท์(02) / Line หรือผ่านระบบอื่น ซึ่งมีวัตถุประสงค์ในการให้ความช่วยเหลือท่าน ผู้โดยสาร หรือบุคคลใดๆ ในการเดินทาง เคลื่อนย้าย ไม่ว่าจะเป็น คน สัตว์ สิ่งของ จากจุดหมายหนึ่ง ไปยังจุดหมายหนึ่ง หรือในหลายจุดหมายปลายทาง โดยในการให้บริการดังกล่าวถึงแม้บริษัทจะจัดให้มีบุคลากร ศูนย์บัญชาการ (Customer Care) มีการให้ข้อมูล ความรู้ นำเสนอข้อมูลและวิธีการใดๆ ในการให้บริการและเรื่องอื่นๆ  ไม่ว่ากับทั้งบุคคลที่สาม ผู้โดยสาร หรือ คนขับรถ หรือความช่วยเหลือใดๆ นอกจากการเรียกรถผ่านทางระบบอินเตอร์เน็ต ก็เป็นแต่เพียงความช่วยเหลือเพิ่มเติม รองรับ แก้ไข ให้ในการบริการเรียกรถผ่านทาง(ซอร์ฟแวร์) แอพพลิเคชั่นของบริษัทได้สะดวก เข้าถึง  ได้รับการบริการที่ดี แก้ไข และรองรับในการให้บริการจากการใช้(ซอร์ฟแวร์) แอพพลิเคชั่นดังกล่าวของบริษัท ให้ได้ครบถ้วนมากที่สุด รวมถึงจัดกิจกรรมส่งเสริมทางการตลาด ให้สิทธิประโยชน์ใดๆ ก็เป็นเพียงการทำการตลาดจูงใจให้ท่านหรือบุคคลอื่นใดมาใช้บริการกับบริษัทเท่านั้น",
        "โดยบริษัทไม่ได้ดำเนินการในลักษณะเป็นเจ้าของรถยนต์ในการบริการด้วยตนเอง หรือเป็นผู้ให้บริการในการใช้ยานพาหนะในขนส่งใดๆ หรือจะถือว่าเป็นเสมือนหนึ่งผู้ให้บริการขนส่งทางยานพาหนะใดๆ หรือเป็นผู้ประกอบกิจการให้เช่ายานพาหนะพร้อมคนขับ คนขับรถ บุคคลใดๆ ที่มาใช้บริการแอพพลิเคชั่นดังกล่าวจึงไม่ถือว่าเป็นลูกจ้าง พนักงาน หรือตัวแทนของบริษัท",
        "การกระทำใดๆ ของคนขับรถ บุคคลใดๆ ที่ก่อให้เกิดความสูญเสีย ความเสียหาย ละเมิด เกิดข้อร้องเรียน ข้อพิพาท การกระทำใด และ/หรือ การละเว้นการใดๆ หรือการกระทำผิดกฎหมายใดๆ รวมถึงเรื่องอื่นๆ ที่มีผลเสียหายตามมา บริษัทจะไม่มีหน้าที่รับผิดชอบใดๆ ในกรณีดังกล่าวทั้งสิ้นทุกประการ",
        "ทั้งนี้ในการที่ท่านใช้บริการยานพาหนะในขนส่งดังกล่าว การให้บริการยานพาหนะในการขนส่งพร้อมคนขับรถภายหลังคนขับรถที่ให้การตอบรับดังกล่าวผ่านซอร์ฟแวร์ (แอพพลิเคชั่น) เป็นการให้บริการคนละส่วนในการใช้บริการซอร์ฟแวร์ (แอพพลิเคชั่น) ของบริษัทในการเรียกรถ การใช้บริการดังกล่าวเท่ากับว่าถือว่าท่านตกลงและยินยอมจะรับความเสี่ยงด้วยตัวเอง หากเกิดความสูญเสีย ความเสียหายใดๆ เกิดขึ้นจากการใช้บริการยานพาหนะในการขนส่งดังกล่าว ท่านไม่มีสิทธิเรียกร้องค่าความสูญเสีย ความเสียหายใดๆ จากบริษัทได้  *เงื่อนไขและข้อยกเว้นความ"
      ]
    }
  }
}
</script>
<style scoped>
p {
  margin-top: 20px;
  margin-bottom: 20px;
  text-align: left;
  text-indent: 50px;
}
.text-orange{
    color: orange !important;
    text-align: center;
    text-indent: 0;
}

p a{
  color:black;
}

ul li{
    list-style-type: decimal;
    text-align: left;
    text-indent: 20px;
}
</style>