<template>
  <div>
    <p class="text-orange">{{title}}</p>
    <p v-for="value in list" v-html="value"></p>
    <hr/>
  </div>
</template>

<script>
import jQuery from "jquery";
export default {
  data: () => {
    return { 
      title: "คำบอกกล่าว",
      list: [
        "คำบอกกล่าวใดๆ ที่ทางบริษัทอาจมีส่งให้ท่านทราบโดยส่งไปยังซอร์ฟแวร์(แอพพลิเคชั่น) สื่ออิเล็กทรอนิกส์ หรือ สื่อช่องทางโซเชียลมีเดียอื่นใด ไม่ว่าจะเป็นทางอีเมล์  หรือในบัญชีแอพพลิเคชั่นของท่าน หรือโดยทำเป็นลายลักษณ์อักษรส่งไปทางไปรษณีย์ ตามที่ท่านให้ไว้กับบริษัทตอนสมัคร หรือภายหลังมีการเปลี่ยนแปลงที่แจ้งกับบริษัทแล้ว ให้ถือว่าท่านได้รับทราบข้อความในคำบอกกล่าวเหล่านั้นโดยชอบด้วยกฎหมายแล้ว ",
        "<font color='red'>เว้นแต่การส่งคำบอกกล่าวนั้นอาจเกิดเหตุขัดข้องระหว่างส่ง จะด้วยเหตุใดก็ตาม ทางบริษัทจะแจ้ง หรือส่งข่าวให้ท่านทราบภายหลังโดยเร็วที่สุด</font>",
        "อนึ่ง ในกรณีที่อีเมล์ หรือที่อยู่ที่ติดต่อ รับคำบอกกล่าวของท่าน มีการเปลี่ยนแปลงไปจากเดิมที่ได้แจ้งไว้แก่บริษัทโดยที่ท่านไม่ได้แจ้งเปลี่ยนแปลงกับบริษัท หรือท่านไม่มีการตอบกลับมาภายในกำหนด 7 วัน ให้ถือว่าการบอกกล่าว หรือการแจ้ง หรือ ติดต่อเหล่านั้นโดยชอบแล้ว"
      ]
    }
  }
}
</script>
<style scoped>
p {
  margin-top: 20px;
  margin-bottom: 20px;
  text-align: left;
  text-indent: 50px;
}
.text-orange{
    color: orange !important;
    text-align: center;
    text-indent: 0;
}

p a{
  color:black;
}

ul li{
    list-style-type: decimal;
    text-align: left;
    text-indent: 20px;
}
</style>