<template>
  <div>
    <p class="text-orange">{{title}}</p>
    <p v-for="value in list" v-html="value"></p>
    <hr/>
  </div>
</template>
<script>
import jQuery from "jquery";
export default {
  data: () => {
    return { 
      title: "การเชื่อมโยงกับแอพพลิเคชั่น/เว็บไซต์อื่นๆ",
      list: [
        "1.บนแอพพลิเคชั่น/เว็บไซด์นี้ถ้ามีการเชื่อมโยงกับแอพพลิเคชั่น/เว็บไซต์อื่นๆ ซึ่งอยู่ภายใต้การให้บริการและดูแลจัดการโดยบุคคลอื่น หรือเมื่อท่านออกจากแอพพลิเคชั่น/เว็บไซด์นี้โดยผ่านการเชื่อมต่อลิงค์ซึ่งมีอยู่ในแอพพลิเคชั่น/เว็บไซด์นี้ ซึ่งไม่ได้อยู่ใต้การบริการและดูจัดการของบริษัท",
        "ถ้าเกิดความสูญเสีย หรือเสียหายใดๆ ไม่อยู่ภายใต้ความรับผิดชอบของบริษัท ท่านไม่สามารถเรียกร้องให้บริษัทรับผิดชอบความสูญเสีย หรือเสียหายใดๆ กับบริษัทได้",
        " 2.ห้ามท่านเชื่อมโยงแอพพลิเคชั่น/เว็บไซต์อื่น มายังแอพพลิเคชั่น/เว็บไซต์ของบริษัท ยกเว้นกรณีที่ท่านแจ้งความประสงค์ดังกล่าวต่อบริษัทและได้รับความยินยอมจากบริษัทเป็นหนังสือ และในการให้ความยินยอมดังกล่าว  บริษัท สงวนสิทธิที่จะกำหนดเงื่อนไขใด ๆ ไว้ด้วยก็ได้"
      ]
    }
  }
}
</script>
<style scoped>
p {
  margin-top: 20px;
  margin-bottom: 20px;
  text-align: left;
  text-indent: 50px;
}
.text-orange{
    color: orange !important;
    text-align: center;
    text-indent: 0;
}

p a{
  color:black;
}

ul li{
    list-style-type: decimal;
    text-align: left;
    text-indent: 20px;
}
</style>