<template>
  <div>
    <p class="text-orange">{{title}}</p>
    <p v-for="value in list" v-html="value"></p>
    <hr/>
  </div>
</template>

<script>
import jQuery from "jquery";
export default {
  data: () => {
    return { 
      title: "ข้อตกลงและเงื่อนไขในการใช้บริการ สำหรับบุคคลทั่วไป",
      list: [
        "ข้อตกลงและเงื่อนไขเหล่านี้ทั้งหมดเป็นสัญญาระหว่างท่าน กับ บริษัท แอพ แท็กซี่ จำกัด ทะเบียนนิติบุคคลเลขที่ 0105560023760 ซึ่งในข้อตกลงและเงื่อนไขนี้เรียกว่า “บริษัท” โปรดอ่านและทำความเข้าใจข้อกำหนดทั้งหมดอย่างละเอียดและครบถ้วน ก่อนทำการยอมรับ เพราะเมื่อท่านยอมรับการใช้บริการนี้แล้ว ถือว่าท่านได้อ่านทำความเข้าใจทั้งหมดชัดแจ้งอย่างละเอียดถี่ถ้วนแล้ว จึงยอมผูกพันกับข้อตกลงและเงื่อนไขดังกล่าว ท่านจึงกดปุ่มยอมรับด้านล่างข้อตกลงและเงื่อนไขดังกล่าวนี้",
        "แต่ถ้าเมื่อท่านได้อ่านและทำความเข้าใจแล้ว ไม่เห็นด้วยหรือไม่ยอมรับเงื่อนไขและข้อตกลงไม่ว่าจะทั้งหมด บางส่วน หรือเงื่อนไขรายละเอียดเล็กน้อยๆ ใด ท่านสามารถกดปุ่มปฏิเสธกับข้อตกลงและเงื่อนไขดังกล่าว ซึ่งบริษัทจะขอสงวนสิทธิ์การใช้บริการ ขอความกรุณาไม่ให้ท่านดำเนินการบนแอพพลิเคชั่น หรือ การบริการใดๆ ต่อ",
        "  ในกรณีที่ท่านได้ทำการยอมรับ บริษัทขอสงวนสิทธิ์ในการเปลี่ยนแปลง แก้ไข เพิ่มเติม ดัดแปลง ตัดทอน ลดทอน ข้อตกลงและเงื่อนไขในฉบับนี้ใดๆ จะประกาศให้ท่านทราบผ่านทางเว็บไซด์ของบริษัท...................  และผ่านทางแอพพลิเคชั่น โดยจะมีผลบังคับใช้เมื่อมีการปรับปรุง เปลี่ยนแปลงครั้งล่าสุด ซึ่งเป็นหน้าที่ของท่านในการรับผิดชอบในการตรวจสอบข้อตกลงและเงื่อนไขดังกล่าวอย่างต่อเนื่อง หากมีการเปลี่ยนแปลงข้อตกลงหรือเงื่อนไขใดๆ ไม่ว่าท่านจะได้ตรวจสอบดังกล่าวหรือไม่ ถือว่าท่านได้ให้การยินยอมและยอมรับในการเปลี่ยนแปลงเงื่อนไขและข้อตกลงดังกล่าวแล้ว",
      ]
    }
  }
}
</script>
<style scoped>
p {
  margin-top: 20px;
  margin-bottom: 20px;
  text-align: left;
  text-indent: 50px;
}
.text-orange{
    color: orange !important;
    text-align: center;
    text-indent: 0;
}

p a{
  color:black;
}

ul li{
    list-style-type: decimal;
    text-align: left;
    text-indent: 20px;
}
</style>