<template>
  <div>
    <p class="text-orange">{{title}}</p>
    <p v-for="value in list" v-html="value"></p>
    <hr/>
  </div>
</template>
<script>
import jQuery from "jquery";
export default {
  data: () => {
    return { 
      title: "การส่งเสริมการตลาดหรือจัดกิจกรรมการตลาด",
      list: [
        "ในการใช้บริการบริษัทอาจมีการให้ผลประโยชน์ สิทธิพิเศษใดๆ กับท่านในทั้งในรูปตัวเงิน ทรัพย์สิน หรือสิทธิพิเศษอื่นๆ เช่น ส่วนลดราคาผลิตภัณฑ์หรือบริการ คูปองโค้ด คูปองเงินสด บัตรกำนัล การสะสมคะแนน สิทธิพิเศษในการเข้าถึง สิทธิในการเข้าร่วมกิจกรรมใดๆ และอื่นๆ อีกมากมาย กับบริษัท บริษัทในเครือ บริษัทคู่ค้า หรือกับพันธมิตรของบริษัท ในการที่ท่านจะได้รับผลประโยชน์ สิทธิพิเศษใดๆ ต้องเป็นไปตามกฎเกณฑ์และเงื่อนไขที่บริษัทกำหนด ในแต่ละช่วงเวลานั้น ซึ่งบริษัทจะมีการแจ้งให้ทราบผ่านทางแอพพลิเคชั่น หรือ หน้าเว็บไซด์ของบริษัท ช่องทางอื่นในโซเชียลมีเดีย และในบางช่วงเวลาจะมีการแจ้งให้กับท่านเป็นการเฉพาะตัวผ่านช่องทางต่างๆในโซเชียลมีเดียอื่นๆ",
        "บริษัทขอสงวนสิทธิ์ในการให้ผลประโยชน์ สิทธิพิเศษใดๆ กับเฉพาะบุคคลที่ปฏิบัติได้ตามเกณฑ์ของบริษัทในช่วงระยะเวลาที่กำหนดเท่านั้น ในบางกรณีหากท่านปฏิบัติได้ตามเกณฑ์บริษัทแต่ไม่ได้แจ้งความประสงค์รับผลประโยชน์หรือสิทธิพิเศษดังกล่าวภายในระยะเวลาที่กำหนด บริษัทถือว่าท่านสละสิทธิในการรับผลประโยชน์ และสิทธิพิเศษแบบใดๆ แล้วในการให้ผลประโยชน์ สิทธิพิเศษ รางวัลใดๆ ในบางกรณีบริษัทขอสงวนสิทธิ์ในการหักค่าธรรมเนียม ค่าใช้จ่ายใดๆ เพิ่มเติม รวมถึงภาษีกับท่าน"
      ]
    }
  }
}
</script>
<style scoped>
p {
  margin-top: 20px;
  margin-bottom: 20px;
  text-align: left;
  text-indent: 50px;
}
.text-orange{
    color: orange !important;
    text-align: center;
    text-indent: 0;
}

p a{
  color:black;
}

ul li{
    list-style-type: decimal;
    text-align: left;
    text-indent: 20px;
}
</style>