<template>
  <div>
    <p class="text-orange">{{title}}</p>
    <p v-for="value in list" v-html="value"></p>
    <hr/>
  </div>
</template>
<script>
import jQuery from "jquery";
export default {
  data: () => {
    return { 
      title: "การชำระเงินและค่าบริการ",
      list: [
        "ในการใช้บริการเรียกรถผ่านแอพพลิเคชั่น (ซอร์ฟแวร์) บริษัทมีการคิดค่าบริการ โดยอัตราค่าบริการจะแจ้งให้ท่านทราบขณะทำการเรียกรถผ่านแอพพลิเคชั่น (ซอร์ฟแวร์) บนหน้าจอ ในส่วนช่องทางการชำระเงินนั้นบริษัทจะจัดเอาไว้ให้กับท่านขึ้นอยู่กับท่านสะดวกกับช่องทางใด ท่านสามารถทราบได้จากข้อมูลบนแอพพลิเคชั่น หรือ เว็บไซด์บริษัท",
        "โดยอัตราค่าบริการจะเป็นเท่าไรนั้น ขึ้นอยู่ที่บริษัทกำหนดในช่วงเวลานั้น และขึ้นอยู่กับการส่งเสริมและจัดทำกิจกรรมทางการตลาดในช่วงเวลานั้นๆ รวมถึงสิทธิประโยชน์และสิทธิพิเศษ ส่วนลดใดๆ ที่มอบให้เฉพาะรายบุคคล",
        "เว้นแต่ในกรณีค่าโดยสาร เช่น ค่าโดยสารตามค่ามิเตอร์ หรือกรณีท่านตกลงร่วมกับคนขับในอัตราเหมาจ่าย รวมค่าทิป การชำระเงินดังกล่าวเป็นเรื่องระหว่างท่าน กับคนขับรถโดยตรง ค่าโดยสาร รวมถึงค่าทิป หากมีการโต้แย้งเกิดขึ้นบริษัทไม่มีความรับผิดชอบใดๆ เป็นเรื่องระหว่างคนขับกับท่าน เว้นแต่ในกรณีบริษัทมีการจัดช่องทางการชำระเงินเพื่ออำนวยความสะดวก หรือ จัดทำการส่งเสริมการตลาดหรือกิจกรรมการตลาด โปรโมชั่นให้กับท่าน เช่น อำนวยความสะดวกให้ท่านสามารถชำระเงินด้วยบัตรเครดิต หรือ บริษัทจัดโปรโมชั่นส่วนลดค่าโดยสารให้กับท่าน",
        "ในส่วนของค่าทิปนั้น เป็นเงินที่ให้ด้วยความสมัครใจของท่าน ท่านจะให้ทิปจำนวนเท่าใด จะเป็นจำนวนมากกว่าค่าโดยสาร หรือน้อยกว่า หรือไม่ให้เลยก็ได้",
        "ในการชำระเงินนั้นเมื่อท่านได้รับบริการและชำระเงินเรียบร้อยแล้วท่านไม่สิทธิเรียกร้องขอให้คืนเงินดังกล่าวแต่อย่างใด"
      ]
    }
  }
}
</script>
<style scoped>
p {
  margin-top: 20px;
  margin-bottom: 20px;
  text-align: left;
  text-indent: 50px;
}
.text-orange{
    color: orange !important;
    text-align: center;
    text-indent: 0;
}

p a{
  color:black;
}

ul li{
    list-style-type: decimal;
    text-align: left;
    text-indent: 20px;
}
</style>