<template>
  <div>
    <p class="text-orange">{{title}}</p>
    <ul>
      <li v-for="value in list">
        {{ value }}
      </li>
    </ul>
    <hr/>
  </div>
</template>

<script>
import jQuery from "jquery";
export default {
  data: () => {
    return { 
      title: "การลงทะเบียนและการใช้บริการ",
      list: [
        "ในการสมัครลงทะเบียนและการใช้บริการท่านจะต้องให้รับรองและยืนยันว่าเป็นบุคคลที่มีสิทธิและมีความสามารถตามกฎหมาย บรรลุนิติภาวะ เป็นบุคคลที่มีอำนาจผูกพันทำสัญญานิติกรรมได้ด้วยตนเอง  หรือบุคคลที่ต้องห้ามด้วยเหตุประการใด และ/หรือบุคคลที่ต้องทำสัญญาแบบมีเงื่อนไข เช่น ได้รับความยินยอมตามกฎหมายก่อน ไม่นั้นท่านจะไม่ได้รับรองหรือคุ้มครองสิทธิตามกฎหมายและตามข้อตกลงและเงื่อนไขนี้",
        "ในการลงทะเบียนท่านจะต้องให้การรับรองและยืนยันว่าข้อมูลที่กรอกเข้ามาเป็นข้อมูลที่ถูกต้องแท้จริง และเป็นข้อมูลส่วนตัวของท่านเอง ไม่นำข้อมูลของบุคคลอื่นใดมากรอก โดยการสมัครเป็นไปด้วยความสมัครใจของตัวท่าน ด้วยจุดประสงค์ของการสมัครเพื่อประโยชน์ของตัวท่านเอง",
        "ในการลงทะเบียนเมื่อท่านได้กรอกข้อมูลถูกต้องครบถ้วน และได้แสดงความจำนงสมัครการใช้บริการเข้ามาแล้ว บริษัทมีอำนาจพิจารณาในการให้การอนุมัติ หรือที่จะปฏิเสธการให้บริการกันท่านได้ โดยไม่ต้องระบุหรือแจ้งเหตุผลใดๆ ให้ท่านทราบ แต่การปฏิเสธดังกล่าวท่านมีสิทธิที่จะสมัครลงทะเบียนเข้ามาใหม่ได้หากเป็นไปตามเงื่อนไขและข้อกำหนดของบริษัท",
        "ภายหลังจากการลงทะเบียนสมัครเข้ามา เมื่อท่านได้รับการรับอนุมัติให้ใช้บริการแล้ว แต่ทางบริษัทตรวจพบหรือมีข้อสงสัยใดๆ ว่าข้อมูลที่ท่านให้มาไม่ถูกต้อง ไม่เพียงพอ หรือเป็นข้อมูลที่มิใช่ข้อมูลที่ปรับปรุงล่าสุด หรือท่านเป็นบุคคลที่ไม่เข้าเกณฑ์ที่บริษัทกำหนด บริษัทขอสงวนสิทธิในการระงับใช้บริการของท่านชั่วคราว หรืออาจถึงขั้นยกเลิกการให้บริการท่านได้",
        "ในการใช้บริการท่านจะมีรหัส(Password) ในการเข้าสู่บัญชีเพื่อใช้บริการ รวมถึงการเข้าสู่บัญชีใช้งานโดยผ่านทาง Facebook หรือ อีเมล์ ท่านต้องเก็บไว้เป็นความลับ ห้ามท่านนำข้อมูลดังกล่าวเปิดเผยให้กับบุคคลใด หรือ ห้ามท่านอนุญาตหรือนำข้อมูลของนำบุคคลหนึ่ง บุคคลใดมาใช้สิทธิในบัญชีแทนท่าน โอน หรือจำหน่ายสิทธิในบัญชีดังกล่าวของตัวท่านให้บุคคลใดได้ หากพบการกระทำดังกล่าวบริษัทจะขอยกเลิกการให้บริการกับท่านในบัญชีดังกล่าวโดยทันที และในกรณีเกิดความเสียหายดังกล่าวจากการเก็บรหัสที่ใช้การบริการไม่ดี หรือ นำข้อมูลดังกล่าวเปิดเผยให้กับบุคคลใด หรือ อนุญาตหรือนำเอาข้อมูลบุคคลหนึ่งบุคคลใดมาใช้สิทธิบัญชีแทน โอน จำหน่ายสิทธิในบัญชีดังกล่าว บริษัทจะไม่ความรับผิดชอบต่อความเสียหายใดๆ",
        "ในการใช้บริการท่าน มีสิทธิเข้าถึงการใช้บริการ ตามแต่ที่บริษัทอนุญาตให้เข้าถึงได้",
        "ในการใช้บริการเป็นหน้าที่ของท่านในการดาวน์โหลดซอร์ฟแวร์ โดยต้องตรวจสอบให้แน่ใจว่าท่านได้ดาว์นโหลดซอร์ฟแวร์ที่ถูกต้อง บริษัทจะไม่มีหน้าที่และความรับผิดชอบใดๆ หากท่านไม่มีอุปกรณ์ เครื่องมือที่เหมาะสมในดาว์นโหลดซอร์ฟแวร์ หรือท่านดาว์นโหลดซอร์ฟแวร์ไม่ถูกต้อง หรือผิดเวอร์ชั่นในอุปกรณ์ใดๆ ของท่านเอง",
        "ภายหลังที่ดาวน์โหลด(ซอร์ฟแวร์) แอพพลิเคชั่นแล้ว  หากเกิดความล่าช้า ผิดพลาด ไม่ถูกต้องครบถ้วน หยุดชะงัก ไม่สามารถเข้าถึงระบบ เนื้อหา ข้อมูล ข่าวสาร อันเนื่องมาจากความบกพร่องประการใดๆ   ไม่สามารถเข้าถึง การใช้ (ซอร์ฟแวร์) แอพพลิเคชั่นเป็นไปอย่างต่อเนื่อง บริษัทไม่ต้องมีความรับผิดชอบค่าความเสียหายใดๆ กับท่าน ท่านไม่สิทธิเรียกร้องค่าเสียหายใดๆ ที่เกิดขึ้นกับบริษัทได้ อีกทั้งไม่รับผิดชอบความเสียหายใดๆ ที่เกิดจากโปรแกรมหรือไฟล์ที่อาจสร้างความเสียหายต่อระบบของผู้ใช้(ซอร์ฟแวร์) แอพพลิเคชั่น ซึ่งรวมถึงไวรัส สไปแวร์ สแปม โทรจัน เวิร์ม หรือซอฟท์แวร์หรือไฟล์ หรือข้อมูลที่มีรบกวนซึ่งเป็นอันตรายใด  ที่อาจสร้างความเสียหายดังกล่าว  เว้นแต่ความเสียหายดังกล่าวเกิดจากความผิดของบริษัทโดยจงใจ",
        "ในการให้บริการของบริษัท บริษัทจะมีการช่วยเหลือ ทั้งด้านการให้ข้อมูล ข่าวสาร รวมถึงให้คำแนะนำ ซึ่งอยู่ที่ท่านจะใช้วิจารณญาณในการพิจารณาว่าจะเชื่อ หรือ กระทำตามหรือไม่ หากเกิดความเสียหายใดๆ จากข้อมูล ข่าวสารรวมถึงการให้คำแนะนำ ท่านไม่สิทธิเรียกร้องค่าเสียหายใดๆ ที่เกิดขึ้นกับบริษัทได้",
        "ในการใช้บริการ บริษัทมีกฎเกณฑ์ และระเบียบของบริษัท รวมถึงมีการกำหนดคุณสมบัติ ของผู้ใช้บริการ ที่ท่านต้องปฏิบัติตาม หากการกระทำใดๆ ของท่านไม่ปฏิบัติตามกฎระเบียบ บริษัทสามารถมีสิทธิระงับการใช้บริการชั่วคราว การเข้าถึงการใช้บริการใดๆ จนไปถึงยกเลิกการให้บริการได้โดยไม่ต้องแจ้งให้ทราบล่วงหน้า",
        "ในการใช้บริการ ท่านต้องอยู่ภายใต้กฎหมาย และปฏิบัติตามกฎหมายของประเทศไทย  หากการกระทำใดๆ ของท่านไม่ปฏิบัติตามกฎหมาย หรือละเว้นการปฏิบัติใดๆ ตามกฎหมายบริษัทสามารถมีสิทธิระงับการใช้บริการชั่วคราว การเข้าถึงการใช้บริการใดๆ จนไปถึงยกเลิกการให้บริการได้โดยไม่ต้องแจ้งให้ทราบล่วงหน้า รวมถึงใช้สิทธิในการดำเนินคดีฟ้องร้องกับท่าน",
        "ในการใช้บริการ(ซอร์ฟแวร์) แอพพลิเคชั่น ท่านต้องใช้เหมาะสมและถูกวัตถุประสงค์การใช้งาน หากบริษัทสงสัย หรือพบว่าท่านใช้บริการ ไม่ถูกวัตถุประสงค์หรือใช้วัตถุประสงค์อื่นนอกเหนือจาก วัตถุประสงค์ในการให้บริการของบริษัท บริษัทมีสิทธิระงับการใช้งานชั่วคราว การเข้าถึงการใช้งานใดๆ จนไปถึงยกเลิกการให้บริการได้โดยไม่ต้องแจ้งให้ทราบล่วงหน้าได้",
        "ในการใช้บริการหากบริษัทมีข้อสงสัยใด ว่าท่านไม่ใช่เจ้าของบัญชีที่แท้จริง หรือข้อมูลที่ท่านเคยให้ไว้กับบริษัทไม่ได้ให้ข้อมูลถูกต้องครบถ้วน ท่านต้องให้บริษัทสามารถสอบถาม ตรวจสอบเพื่อยืนยันตัวตนที่แท้จริงของท่าน รวมถึงข้อมูลที่ถูกต้องครบถ้วนได้ ถ้าท่านไม่ยืนยันตัวตน หรือไม่สามารถยืนยันตัวตนได้ หรือไม่ให้ความร่วมมือ หรือไม่ให้ข้อมูลที่ถูกต้องครบถ้วนกับบริษัท พนักงานเจ้าหน้าที่ของบริษัท  หรือไม่สามารถติดต่อท่านได้ บริษัทมีสิทธิระงับการใช้งานชั่วคราว การเข้าถึงการใช้งานใดๆ จนไปถึงยกเลิกการให้บริการได้",
        "ในการใช้บริการหากบริษัทสงสัย หรือเข้าใจ รวมถึงพบเห็นความผิดปกติใด ว่าท่านไม่ได้ใช้ บริการ(ซอร์ฟแวร์) แอพพลิเคชั่นตามที่ท่านสมควรใช้อย่างเหมาะสมและถูกวัตถุประสงค์การใช้งาน ไม่เป็นไปตามกฎเกณฑ์ข้อหนึ่งข้อใดของบริษัท กระทำผิดต่อกฎหมายหนึ่งกฎหมายใด บริษัทมีสิทธิที่จะสอบถามและตรวจสอบเบื้องต้น ซึ่งท่านต้องให้ความร่วมมือในการตอบคำถามและตรวจสอบ ถ้าท่านไม่ยินยอมหรือให้ความร่วมมือตามสมควร บริษัทมีสิทธิระงับการใช้งานชั่วคราว การเข้าถึงการใช้งานใดๆ จนไปถึงยกเลิกการให้บริการได้",
        "ในการให้ข้อมูลทั้งข้อมูลส่วนตัวของท่าน หรือข้อมูลใดๆ ที่เกี่ยวข้องกับการใช้บริการหากมีการเปลี่ยนแปลงข้อมูลใดๆ ท่านต้องแจ้งการเปลี่ยนแปลงมาให้บริษัท หรือพนักงานเจ้าหน้าบริษัทรับทราบ หากท่านไม่แจ้งการเปลี่ยนแปลงดังกล่าว หรือแจ้งภายหลังการเปลี่ยนดังกล่าวในระยะเวลาอันเกินสมควร เมื่อบริษัทรับทราบการเปลี่ยนนั้น โดยที่ท่านไม่ได้แจ้งเข้ามา หรือแจ้งเข้ามาล่าช้าในระยะอันเกินสมควร บริษัทมีสิทธิระงับการใช้งานชั่วคราว การเข้าถึงการใช้งานใดๆ จนไปถึงยกเลิกการให้บริการได้",
        "ห้ามท่านใช้บริการ(ซอร์ฟแวร์) แอพพลิเคชั่น ไปทางสร้างความเดือดร้อน ความเสียหาย หรือสร้างความรำคาญแก่บุคคลหนึ่งบุคคลใด นิติบุคคลใด รวมถึงบริษัท บริษัทมีสิทธิระงับการใช้งานชั่วคราว การเข้าถึงการใช้งานใดๆ จนไปถึงยกเลิกการให้บริการได้",
        "ห้ามท่านใช้บริการบริการ(ซอร์ฟแวร์) แอพพลิเคชั่น ไปในทางเจตนาทุจริต หรือส่อว่าจะเจตนาทุจริตแก่บุคคลหนึ่งบุคคลใด นิติบุคคลใด รวมถึงบริษัท เช่น ในการดำเนินงานของบริษัท บริษัทอาจมีการจัดกิจกรรมการส่งเสริมการตลาด แจกโปรโมชั่น หรือของรางวัล หรือผลประโยชน์อื่นใด หากพบว่าท่านมีเจตนาทุจริต หรือส่อว่าจะเจตนาทำการทุจริต เพื่อให้ได้รับผลประโยชน์ใดๆ จากส่งเสริมกิจกรรมการตลาดของบริษัทดังกล่าว บริษัทมีสิทธิระงับการใช้งานชั่วคราว การเข้าถึงการใช้งานใดๆ จนไปถึงยกเลิกการให้บริการได้ รวมถึงดำเนินการทางกฎหมายกับท่าน",
        "ในการดำเนินการใช้บริการผ่าน(ซอร์ฟแวร์) แอพพลิเคชั่น บางทีท่านจะต้องมีการติดต่อกับคนขับรถ ผ่านทางโครงข่ายสัญญาณโทรศัพท์หรือมีการดำเนินการใดๆ ที่อาจให้เสียค่าใช้จ่ายเพิ่มเติม ค่าใช้จ่ายในส่วนดังกล่าวเป็นความรับผิดชอบของตัวท่านเอง บริษัทไม่มีหน้าที่รับผิดชอบแต่ใดๆ",
        "ในการดาว์นโหลดติดตั้งแอพพลิเคชั่น(ซอร์ฟแวร์) ของบริษัท เข้ากับอุปกรณ์มือถือ แท็บเล็ต อุปกรณ์คอมพิวเตอร์ หรืออุปกรณ์อย่างใดๆ ก่อให้เกิดความเสียหายต่ออุปกรณ์ ข้อมูล ระบบใดๆในอุปกรณ์ดังกล่าว ท่านไม่สิทธิเรียกร้องค่าเสียหาย และความรับผิดชอบใดๆ ต่อบริษัทไม่ว่ากรณีใดๆทั้งสิ้น",
        "ในการใช้บริการบริษัทท่านอาจรู้ข้อมูลความลับของบริษัท ไม่ว่าจะเป็นผลิตภัณฑ์หรือบริการ ธุรกิจ เทคโนโลยี  ความรู้ความชำนาญ ความคิดและแนวคิด แผนการตลาด รายชื่อลูกค้าผู้โดยสาร คนขับรถ บุคคลใดๆ ที่บริษัทกำหนดให้รักษาเป็นความลับจนกว่าบริษัทจะทำการเปิดเผยต่อสาธารณะ หรือได้รับความเห็นชอบเป็นลายลักษณ์อักษรกับบริษัท เว้นแต่กฎหมายกำหนดให้เปิดเผยได้",
        "ในการใช้บริการกับบริษัท บริษัทไม่ได้รับรองคุณภาพของคนขับรถที่มาให้บริการผ่านซอร์ฟแวร์ (แอพพลิเคชั่น) ของบริษัท ว่าท่านจะได้รับบริการจากคนขับรถที่ดี มีกริยา มารยาท สุภาพ รวมถึงขับรถได้อย่างถูกต้องเหมาะสม หากคนขับรถที่ใช้บริการเรียกรถกระทำการใดๆ หรือละเว้นการกระทำใดๆ ที่ส่งผลให้ท่านได้รับความสูญเสีย ความเสียหาย เดือดร้อน รำคาญ ละเมิด หรือผิดกฎหมายต่างๆ จะเป็นไปด้วยความตั้งใจ หรือไม่ตั้งใจ หรือจะเกิดจากอุบัติเหตุ หรือเหตุสุดวิสัย ซึ่งอาจเป็นผลต่อเนื่องจากการใช้บริการเรียกรถผ่านซอร์ฟแวร์ (แอพพลิเคชั่น) ของบริษัท บริษัทไม่มีส่วนรับผิดชอบต่อการกระทำของผู้โดยสารหรือบุคคลใดๆ ดังกล่าว ท่านไม่สามารถเรียกร้องค่าเสียหายใดๆ กับบริษัทได้",
        "ในการใช้บริการกับบริษัท บริษัทไม่ได้รับรอง รับประกันว่าเมื่อท่านเรียกรถผ่านซอร์ฟแวร์ (แอพพลิเคชั่น) ของบริษัท ท่านจะได้พาหนะในการขนส่งทุกครั้ง หรือจะได้รับการบริการที่เป็นไปอย่างต่อเนื่อง ไม่มีปัญหาเรื่องระบบล่ม จะเข้าถึงฟังค์ชันการใช้งานใดๆ บนซอร์ฟแวร์ (แอพพลิเคชั่น) เป็นไปได้อย่างต่อเนื่อง ไม่ล่าช้า ทุกครั้งทุกเวลาที่ใช้บริการ หากเกิดปัญหาอย่างใดๆ ที่กล่าวมา ท่านหรือบุคคลใดๆ ได้รับความสูญเสีย หรือความเสียหายใดๆ ท่านไม่สามารถเรียกร้องความรับผิดชอบใดๆ หรือค่าเสียหาย ค่าใช้จ่ายใดๆ กับบริษัทได้",
        "ในการใช้บริการกับบริษัท บริษัทไม่ได้รับรองว่าคุณภาพของตัวยานพาหนะในการใช้บริการ ว่าจะอยู่สภาพใหม่ สะอาด หรือปราศจากการบกพร่องชำรุดใด หากระหว่างการใช้บริการขนส่งดังกล่าว ท่านหรือบุคคลใด ได้รับความสูญเสียความเสียหายใดๆ จากคุณภาพหรือประสิทธิภาพของยานพาหนะดังกล่าว ท่านไม่สามารถเรียกร้องความรับผิดชอบใดๆ หรือค่าเสียหาย ค่าใช้จ่ายใดๆกับบริษัทได้ การให้บริการยานพาหนะในการขนส่งพร้อมคนขับรถภายหลังคนขับรถให้การตอบรับดังกล่าวผ่านทางซอร์ฟแวร์(แอพพลิเคชั่น) เป็นการให้บริการคนละส่วนในการใช้บริการซอร์ฟแวร์ (แอพพลิเคชั่น) ของบริษัทในการเรียกรถ",
        "ในการใช้บริการกับบริษัท บริษัทไม่ได้รับรองความถูกต้องของข้อมูล ข้อความอย่างสมบูรณ์ให้กับท่าน ว่าข้อมูล แสดงเส้นทางการจราจร ความหนาแน่นของเส้นทางจราจร ระยะเวลาที่คนขับรถจะมาถึง ค่าโดยสารจะเป็นไปอย่างถูกต้องสมบูรณ์ ข้อมูลดังกล่าวเป็นเพียงการคาดคะเน และคาดการณ์ความเป็นไปได้ หากท่านต้องได้รับความสูญเสีย ความเสียหาย ค่าใช้จ่ายๆ ใดเพิ่มเติม จากข้อมูล หรือข้อความดังกล่าว   ท่านไม่สามารถเรียกร้องความรับผิดชอบใดๆ หรือค่าเสียหาย ค่าใช้จ่ายใดๆ กับบริษัทได้",
        "ในการใช้บริการท่านสามารถมีบัญชีการใช้งานเพียงบัญชีเดียวเท่านั้น หากบริษัทตรวจสอบหรือพบว่าท่านมีการใช้งานเกินกว่าหนึ่งบัญชี บริษัทสามารถระงับใช้การบริการของท่านให้เหลือเพียงบัญชีเดียว  หรือระงับใช้งานกับท่านทุกบัญชีไม่ว่าบัญชีนั้นจะเป็นบัญชีที่เป็นตัวตนที่แท้จริงของท่านหรือไม่",
        "ห้ามท่านดัดแปลง ลบ หรือแก้ไข ทางวิศวกรรมบนซอร์ฟแวร์ (แอพพลิเคชั่น) ของบริษัท ไม่ว่าด้วยเหตุใดๆ   หากบริษัทตรวจสอบหรือพบ บริษัทสามารถระงับใช้การบริการของท่านได้ทันที"
      ]
    }
  }
}
</script>
<style scoped>
p {
  margin-top: 20px;
  margin-bottom: 20px;
  text-align: left;
  text-indent: 50px;
}
.text-orange{
    color: orange !important;
    text-align: center;
    text-indent: 0;
}

p a{
  color:black;
}

ul li{
    list-style-type: decimal;
    text-align: left;
    text-indent: 20px;
}
</style>