<template>
  <div>
    <p class="text-orange">{{title}}</p>
    <p v-for="value in list" v-html="value"></p>
    <hr/>
  </div>
</template>
<script>
import jQuery from "jquery";
export default {
  data: () => {
    return { 
      title: "ข้อจำกัดความรับผิด",
      list: [
        "ตามที่กฎหมายจะกำหนดหลักเกณฑ์และเงื่อนไขไว้ ความรับผิดของเราตามข้อตกลงและเงื่อนไขนี้จะจำกัดเพียงจำนวนเงินที่คุณจ่ายไปจริงเพื่อใช้บริการกับบริษัทเราเท่านั้น",
        "บริษัทไม่ต้องรับผิดต่อความสูญเสีย ความเสียหายใดๆ ไม่ว่าทางตรงหรือทางอ้อม กรณีพิเศษอื่นใด อุบัติเหตุ หรือเชิงเกี่ยวกับลงโทษ หรือทางเศรษฐกิจ หรือผลเสียหายสืบเนื่องกรณีอื่นๆ รวมถึงความเสียหาย ค่าเสียหายที่เกิดจากความล้มเหลวของการสื่อสาร อินเตอร์เน็ต การเชื่อมโยงทางซอร์ฟแวร์ ฮาร์ดแวร์เข้ากับระบบ การเชื่อมโยงทางอิเล็กทรอนิกส์ การทุจริต ความปลอดภัย ความสูญหายหรือจารกรรมข้อมูล ไวรัส  สไปแวร์ สแปม โทรจัน เวิร์ม หรือซอฟท์แวร์หรือไฟล์ หรือข้อมูลที่มีรบกวนซึ่งเป็นอันตรายใด  ความสูญเสียที่เกิดกับบุคคล สภาพจิตใจ สูญเสียข้อมูล ความสูญเสียทางธุรกิจ รายได้ กำไร หรือการลงทุน หรือการแสวงหาผลประโยชน์ไม่ว่าด้านอื่นใด แม้ว่าบริษัทจะได้รับทราบและคาดคะเนถึงความเป็นไปได้ของความสูญเสีย ความเสียหายดังกล่าว รวมถึงกรณีเกิดข้อพิพาทกับบุคคลที่สาม บริษัทไม่ต้องเข้าร่วมหรือเจรจาข้อพิพาทใดๆ",
        "ท่านยินยอมรับผิดชอบและสละสิทธิการเรียกร้องความรับผิดและค่าใช้จ่ายต่างๆ รวมถึงค่าทนายความทั้งหมดจากบริษัท",
        "ในกรณีที่เกิดความสูญเสีย ความเสียหายแก่บริษัท หรือบริษัทต้องถูกเรียกเก็บค่าใช้จ่ายใดๆ ไม่จำกัดเพียงแค่ค่าทนายความ และไม่จำกัดเป็นบุคคลภายใดเรียกร้องค่าเสียหายจากบริษัท ไม่ว่าโดยตรงหรือโดยอ้อม อันเนื่องมาจากการที่ท่านฝ่าฝืนกฎหมายหรือข้อกำหนดและเงื่อนไขนี้ ในขณะที่ใช้บริการ ท่านจะต้องชดใช้ค่าเสียหายให้แก่บริษัท ทันทีที่บริษัทร้องขอโดยไม่มีข้อโต้แย้งแต่อย่างใด"
      ]
    }
  }
}
</script>
<style scoped>
p {
  margin-top: 20px;
  margin-bottom: 20px;
  text-align: left;
  text-indent: 50px;
}
.text-orange{
    color: orange !important;
    text-align: center;
    text-indent: 0;
}

p a{
  color:black;
}

ul li{
    list-style-type: decimal;
    text-align: left;
    text-indent: 20px;
}
</style>