<template>
  <div>
    <p class="text-orange">{{title}}</p>
    <p v-for="value in list" v-html="value"></p>
    <hr/>
  </div>
</template>
<script>
import jQuery from "jquery";
export default {
  data: () => {
    return { 
      title: "การคุ้มครองข้อมูลส่วนบุคคล",
      list: [
        "บริษัทมีนโยบายความปกป้องดูแลเป็นส่วนบุคคล โดยบริษัทจะใช้ความระมัดระวังและความใส่ใจในมาตรฐานในการปกป้องข้อมูลส่วนบุคคลของท่าน เมื่อท่านใช้บริการกับทางเรา เมื่อท่านสมัครลงทะเบียนและกรอกข้อมูลเข้ามา รวมถึงข้อมูลต่างๆ ที่ท่านใช้บริการกับทางบริษัทเราแล้วถือว่าท่านได้ยินยอมให้บริษัทใช้ข้อมูลส่วนบุคคลดังกล่าวของท่านเป็นไปตามนโยบายความเป็นส่วนบุคคลของบริษัท",
        "โดยบริษัทจะนำข้อมูลส่วนบุคคลของท่านเพื่อใช้ในการประมวลผลเพื่อตรวจสอบความมีตัวตนของท่านว่าถูกต้องตรงความจริงหรือไม่ ใช้เปิดเผยข้อมูลส่วนบุคคลบางส่วน ตามความเหมาะสมเพื่อใช้ในการให้บริการในการเรียกรถ เพื่อให้ความสะดวกคนขับรถในการให้บริการ และตรวจสอบความถูกต้องในการใช้บริการขนส่งของท่าน รวมทั้งเพื่อการป้องกันและดำเนินอาชญากรรม หรือเรื่องใดๆ ที่ผิดกฎหมายทั้งปวง",
        "อีกทั้งเพื่อส่งข้อมูลข่าวสาร แจ้งเตือน ข้อเสนอใดๆ ให้ท่าน เพื่อส่งเสริม ช่วยเหลือเพิ่มเติม รองรับ แก้ไข ให้ในการบริการเรียกรถผ่านทาง(ซอร์ฟแวร์) แอพพลิเคชั่นของบริษัทได้สะดวก เข้าถึง  ได้รับการบริการที่ดี แก้ไข และรองรับในการให้บริการจากการใช้(ซอร์ฟแวร์) แอพพลิเคชั่นดังกล่าวของบริษัท ให้ได้ครบถ้วนมากที่สุด เช่น เพื่อใช้ติดต่อสื่อสาร รับข้อเสนอแนะ รับร้องเรียนจากท่าน เพื่อคืนเงิน หรือค่าใช้จ่ายอย่างใดๆ ให้กับท่านตามข้อตกลงและเงื่อนไขนี้ รวมถึงให้บริการหรือผลิตภัณฑ์ของบริษัทรูปแบบต่างๆ ที่จะเกิดขึ้นในอนาคต",
        "รวมถึงท่านยินยอมให้บริษัทใช้ข้อมูลส่วนบุคคลของท่านข้อมูลเกี่ยวกับธุรกรรม ไปประมวลผล ศึกษา บันทึกเป็นฐานข้อมูล วิเคราะห์ ส่งข้อมูลข่าวสาร แจ้งเตือน ข้อเสนอพิเศษ โปรโมชั่น โฆษณา ข้อเสนอใดๆ เพื่อส่งเสริมกิจกรรมทางการตลาดของบริษัท และขยายการให้บริการได้ เพื่อให้ท่านได้มีโอกาสเข้าร่วม เพื่อให้เกิดผลประโยชน์แก่ตัวท่าน",
        "รวมถึงบริษัทนำข้อมูลส่วนบุคคลของท่านข้อมูลเกี่ยวกับธุรกรรม เปิดเผยบางส่วนให้กับบริษัทในเครือ บริษัทคู่ค้า พันธมิตร บริษัทที่ให้การสนับสนุนบริษัท เพื่อเหตุอย่างเดียวกัน ภายใต้ที่กฎหมายกำหนดที่สามารถเปิดเผยให้ได้",
        "หากท่านไม่ยินยอม ให้บริษัทนำข้อมูลส่วนบุคคลของท่านไปเพื่อใช้ส่งเสริมการตลาดแบบใดๆ ท่านสามารถทำเรื่องเข้ามาตามช่องทางที่บริษัทบนหน้าเว็บไซด์หรือแอพพลิเคชั่น  หรือช่องทางอื่นใด ของบริษัทจะดำเนินจากเปลี่ยนแปลง ไม่เกิน 14 วันทำการนับตั้งแต่วันที่ได้รับแจ้ง",
        "แต่ทั้งนี้ท่านยินยอมให้ข้อมูลส่วนบุคคลของท่าน ให้บริษัทมีสิทธิโอนย้ายข้อมูล ไปให้บริษัทที่มีการซื้อกิจการของบริษัท ซื้อสิทธิในการบริหารจัดการ ซื้อซอร์ฟแวร์(แอพพลิเคชั่น) บริการเรียกรถดังกล่าวของบริษัท หรือเมื่อบริษัทเกิดการควบรวมบริษัทกับนิติบุคคลอื่น",
        "เว้นแต่ ข้อตกลงในส่วนนี้กรรมสิทธิ์ ข้อมูลใดๆ ที่เป็นฝั่งคนขับรถ ที่เป็นของบริษัทผู้ถือหุ้นบริษัทฝ่ายที่เป็นเจ้าของกรรมสิทธิ์ข้อมูลในรถ และเป็นฝ่ายบริษัทผู้ถือหุ้นบริษัทที่เป็นผู้ชักชวนคนขับรถคนดังกล่าวเข้าระบบในการโอนย้ายข้อมูลใดๆ ต้องได้รับความยินยอมเป็นหนังสือจากบริษัทผู้ถือหุ้นบริษัทดังกล่าวก่อนด้วย",
        "ภายหลังท่านให้ความยินยอมข้อมูลส่วนบุคคลภายในข้อตกลงและเงื่อนไขนี้ ท่านอยากเพิกถอนความยินยอม ท่านสามารถทำด้วยการแจ้งการเพิกถอนความยินยอมมาตามช่องทางที่บริษัทกำหนดแต่ผลการเพิกถอนดังกล่าว บริษัทมีสิทธิ์ที่สงวนสิทธิ์ในการเข้าใช้งานบางส่วน จนไปถึงระงับการให้บริการกับท่าน"
      ]
    }
  }
}
</script>
<style scoped>
p {
  margin-top: 20px;
  margin-bottom: 20px;
  text-align: left;
  text-indent: 50px;
}
.text-orange{
    color: orange !important;
    text-align: center;
    text-indent: 0;
}

p a{
  color:black;
}

ul li{
    list-style-type: decimal;
    text-align: left;
    text-indent: 20px;
}
</style>