<template>
  <div>
    <p class="text-orange">{{title}}</p>
    <p v-for="value in list" v-html="value"></p>
    <hr/>
  </div>
</template>

<script>
import jQuery from "jquery";
export default {
  data: () => {
    return { 
      title: "ขอบเขตของข้อตกลงและเงื่อนไขนี้",
      list: [
        "ข้อตกลงและเงื่อนไขนี้ให้อยู่ภายใต้บังคับและตีความตามกฎหมายแห่งราชอาณาจักรไทยและศาลไทยโดยไม่คำนึงถึงหลักแห่งการขัดกันของกฎหมาย",
        "ถ้ามีข้อกำหนดใดๆ ในข้อตกลงและเงื่อนไขนั้นไม่มีผล หรือไม่สามารถใช้บังคับได้ ข้อกำหนดนั้นจะไม่มีผลกระทบต่อส่วนที่เหลือของข้อตกลงและเงื่อนไขนี้"
      ]
    }
  }
}
</script>
<style scoped>
p {
  margin-top: 20px;
  margin-bottom: 20px;
  text-align: left;
  text-indent: 50px;
}
.text-orange{
    color: orange !important;
    text-align: center;
    text-indent: 0;
}

p a{
  color:black;
}

ul li{
    list-style-type: decimal;
    text-align: left;
    text-indent: 20px;
}
</style>