
<template>
  <div>
    <p class="text-orange">{{title}}</p>
    <ul>
      <li v-for="value in list">
        {{ value }}
      </li>
    </ul>
    <p v-for="value in topic" v-html="value"></p>
    <hr/>
  </div>
</template>

<script>
import jQuery from "jquery";
export default {
  data: () => {
    return { 
      title: "ระงับการใช้และการยกเลิกให้บริการ",
      list: [
        "เมื่อท่านทำผิดเงื่อนไขข้อใดข้อหนึ่งของข้อตกลงฉบับนี้ หรือกฎระเบียบ กฎเกณฑ์ของบริษัท  เงื่อนไขต่างๆ ที่ทางบริษัทจะประกาศในอนาคต ทั้งที่เป็นผลตามมาจากเงื่อนไขและข้อตกลงนี้ หรือไม่เกี่ยวกับข้อตกลงและเงื่อนไขนี้ บริษัทมีสิทธิ์ระงับการใช้งานชั่วคราว การเข้าถึงการใช้งานใดๆ จนไปถึงยกเลิกการให้บริการได้",
        "บริษัทขอสงวนสิทธิ์ ในการระงับการใช้งานชั่วคราว การเข้าถึงการใช้งานใดๆ เปลี่ยนรูปแบบ เปลี่ยนแปลง แก้ไข ดัดแปลง เพิ่มเติม ตัดทอนฟังค์ชั่นใดๆ บนซอร์ฟแวร์(แอพพลิเคชั่น) จนไปถึงยกเลิกการให้บริการเมื่อใดก็ได้โดยไม่ต้องแจ้งล่วงหน้า",
        "ในกรณีเป็นที่น่าสงสัยว่าท่านจะทำผิดเงื่อนไขใดเงื่อนไขหนึ่งของบริษัท หรือเงื่อนไขต่างๆ ที่ทางบริษัทจะประกาศในอนาคต ทั้งที่เป็นผลตามมาจากเงื่อนไขและข้อตกลงนี้ หรือไม่เกี่ยวกับข้อตกลงและเงื่อนไขนี้ หรือ ผิดกฎหมายใดๆ  บริษัทมีสิทธิ์ระงับการใช้งานชั่วคราว การเข้าถึงการใช้งานใดๆ จนไปถึงยกเลิกการให้บริการได้ทันที โดยไม่ต้องแจ้งล่วงหน้าเช่นกัน",
      ],
      topic: [
        "ในการระงับการให้บริการชั่วคราว การเข้าถึงการใช้งานใดๆ จนไปถึงยกเลิกการให้บริการไม่ว่าด้วยเหตุใดๆ หากเกิดความเสียหายใดกับท่าน หรือกับบุคคลใดที่เป็นผลตามจากการระงับการชั่วคราว การเข้าถึงการใช้งานใดๆ จนไปถึงยกเลิกการให้บริการ ท่านไม่สิทธิเรียกร้องความรับผิดชอบใดๆ ค่าเสียหายใดๆ ค่าใช้จ่ายใดๆ กับทางบริษัทได้",
        "<font color='red'>รวมถึงการระงับใช้การบริการอาจส่งผลต่อสิทธิในการรับผลประโยชน์ หรือเงื่อนไขพิเศษ รางวัล หรือผลตอบแทนในรูปแบบใดๆ ที่บริษัทจะมอบให้ท่าน ถ้าท่านถูกระงับการใช้บริการถือเป็นสิทธิอำนาจของบริษัทที่จะงดการให้ผลประโยชน์ หรือเงื่อนไขพิเศษ รางวัล หรือผลตอบแทนในรูปแบบใดๆ แก่ท่านโดยไม่ต้องแจ้งล่วงหน้า </font>"
      ]
    }
  }
}
</script>
<style scoped>
p {
  margin-top: 20px;
  margin-bottom: 20px;
  text-align: left;
  text-indent: 50px;
}
.text-orange{
    color: orange !important;
    text-align: center;
    text-indent: 0;
}

p a{
  color:black;
}

ul li{
    list-style-type: decimal;
    text-align: left;
    text-indent: 20px;
}
</style>
