<template>
    <div>
    <div class="row">
      <div class="col">
        <h1 class="text-orange">MEMBERS’ TERMS AND PRACTICAL GUIDELINES</h1>
        <h1 class="text-orange">APP TAXI APPLICATION</h1>
        <h1 class="text-orange">MEENA LEASING CO., LTD.</h1>
      </div>
    </div>
    <div class="row">
        <div class="col" >
          <p v-for="value in list" v-html="value"></p>
          <hr/>
        </div>
    </div>
  </div>
</template>

<script>
import jQuery from "jquery";
export default {
  data: () => {
    return {
      list: [
        "<b><u>Clause 1. Compliance with the Law, Policy and Advices</u></b>",
        "1.1 The members must strictly comply with the law relating to land traffics, policies and advices of the Company currently existing and to exist in the future such as having and using valid driving licenses, posting documents relating to the taxi and driver at the place highly visible, posting non-smoking sticker in the taxi at the point prescribed point, refraining from driving in the wrong traffic lane, refraining from speeding exceeding the speed limit, strictly complying with the traffic lights, refraining from using mobile telephone while driving without hearing aids, giving light signal before changing the traffic lane or making turn, etc.",
        "1.2 No members shall perform or omit to perform, cooperate or support the other members in any acts which may cause damage or tarnish reputation of the Company or perform any acts whatever to cause Taxi Application to stop short.",
        "1.3 No members shall perform any act which is possibly a criminal offence or a deception on the passengers or other persons which may cause damage, whether directly or indirectly, to the Company.",
        "1.4 No members shall use the application in making them being able to participate with unlawful thing or organization nor shall instigate nor encourage the other members to oppose or threaten the other members which may affect the Company’s benefits.",
        "1.5 No members shall use the cars registered with the Application as vehicles for transporting things or people prohibited by law such as narcotics, aliens, war arms, etc.",
        "<b><u>Clause 2. Professional Quality Service</u></b>",
        "2.1 The members must provide services politely and take into account travel safety as the significant matter.",
        "2.2 During the course of using the application, members must not use any drugs nor consume any beverages having the mixtures of all kinds of alcohols nor shall they keep any contrabands or beverage containers having the mixtures of alcohols with their caps opened ready to drink in the cars. If a passenger should have noticed that a member is under the influence of any drug or alcoholic beverage, the passenger shall have a right to cancel the use of the car and lodge a complaint with the Company immediately.",
        "2.3 It is strictly forbidden that no members shall use the cars as the places for storing fire arms or things which can be used as fire arms.",
        "2.4 Members shall maintain conditions of the cars cleaned, free from infections and always ready to be put to use as well as maintaining themselves to be in good physical health and under the condition ready to drive safely at all times.",
        "2.5 Members must be politely dressed with clean attires, use polite words with the passengers and talks with them as necessary only and avoid infringing the passengers’ personal rights.",
        "2.6 Members must have copy of each of Car Registration, Hire-Purchase Contract or document showing the acquisition on the possession of the car and car insurance policy stuck in the car at all times.",
        "2.7 Throughout the period of times while providing services to the passengers, it shall be the members’ duties to keep tab on warning or arranging passengers sitting in front seat by side of the members to fasten their safety seatbelts at all times throughout their travels.",
        "2.8 Members must avoid, in all cases, to demonstrate their belligerent behaviors towards the passengers, both inappropriate verbal and threatening passengers, bodily and mentally. Should there be any circumstances which may cause a potential risk to demonstrate such behaviors, the members must notify the Company accordingly immediately in order to enable the Company to proceed with appropriate actions and maintain justice for both parties.",
        "2.9 It is strictly forbidden that no members shall commit any offences of sexual harassments against any passengers whether by way of criticism, showing a manner of obscenity, molestation, detention, restraint, an act against their wills and bodies.",
        "The members shall always be aware that the thoughts and feelings of being sexually harassed are variedly different according to the social customs and individual thought. Therefore, any criticism on descriptions of a passenger by using words or manners which cause a potential risk of infringement against the passenger’s right would all be taboos.",
        "2.10 The members shall provide assistances disable, aging passengers or minor children with loving kindness, especially, getting on or out of the car including helping them in carrying their belongings or supplies as reasonable.",
        "2.11 The members shall be responsive to the passengers upon reasonably requested such as tuning up or down the air-conditioner or radio voice level or driving in a scary manner.",
        "2.12 The members shall always be diligently kept up with learning to acquire knowledge on the routes and that under no circumstances shall a member choose the route other than the normal one which should be use from the point of origin to the destination unless otherwise requested by the passenger.",
        "2.13 In the case where a passenger forgetfully leaves his/her property in a car regardless of the price, the respective member must hurriedly notify and return such property to the passenger immediately. If the property cannot be returned, the Company’s Call Center must be notified and the property returned to the Center or the local police authority at the first available chance.",
        "2.14 In the case in which a member has already made a scheduled appointment for pick-up with a passenger through the system, it shall be deemed to be the member’s duty to pick up the passenger as scheduled. The member shall be prohibited to transfer the scheduled appointment pick-up job to the other member or person except in an unavoidable emergency case such as car has broken down or run into an accident.",
        "2.15 Upon arrival at the pick-up point and the passenger cannot be located, the member shall call the passenger to confirm that he/she has already arrived at the scheduled pick-up point. If the passenger could not be contacted or could be contacted, but, the passenger has requested the member to wait with unreasonably excessive period of time or that the waiting car would obstruct the traffic route of the other persons or that such point is a prohibited area for stopping or parking any car, the member must call the passenger to cancel the deal on the pick-up and notify the Company Call Center on the cancellation of the scheduled pick-up immediately.",
        "2.16 No members shall refuse to provide the service for reason of the race, religion, nationality, disability, sexual orientation, sex, sexual identity or other attribute protected by law. Such manner of insulting or discriminations on a person or a group of persons for such reasons shall be deemed to be a disrespect of status of a person and disrespect to the honor of the passenger.",
        "2.7 Members shall be prohibited to request passengers to make reservation or use their own service personally or as a special deal other than the reservation through the application system as such practice is deemed to be a violation of the Company’s objective in requiring a car at the nearest location to pick up the passengers with the maximum efficiency.",
        "2.18 The members shall be prohibited to contact or disturb the passengers through the other communication channels not being the communication channels designated for making contacts related to the reserved jobs through the application system.",
        "2.19 The members must not perform any acts in a manner likely to be hostile to the Company by recommending the passengers to use the services of the other applications.",
        "2.20 During the period of opening the application for functioning, the members must drive the cars registered in the application system by own self. The members shall be strictly prohibited to get the other person or give a consent to the other person to drive the cars having been registered in the application system in place or on behalf of them.",
        "<b><u><font color='red'>Clause 3. Practical Executions relating to the Levying of the Costs on the Use of the Application Service and Fares</font></u></b>",
        "3.1 The Company prescribes the terms of requirements for the members to pay the considerations for the use of the application at the rate of 1 unit right per trip by expressing intention to receive such unit right with the Company according to the conditions and procedures defined by the Company in advance of not less than 10 unit rights each time. In this respect, the Company shall manage and deduct number of the unit right to be the service charges at the abovementioned rate and notify the members on the deductions of the unit right each time on a daily basis.",
        "3.2 Te members can called for the additional fares in addition to the fares according to the meter of not over 20 Baht each time (twenty Baht only). The Company may make the adjustment on such additional fare in accordance with the official directives which, in this connection¸ the members shall be notify accordingly in advance every time. The considerations other than those, particularly, the special service incentives (tips) by purportedly citing the rainfall or traffic conditions as the pretexts, shall be deemed to be up to the right of the passengers to determine whether to pay or not without any threats, coercions, frauds, bargaining or demand by any means whatever. In addition, the members cannot fix the fares by way of flat payment deal per trip by own self.",
        "3.3 To get the admiration of the passengers for the members’ services will be up to the practical executions and the Code of Ethics in the members’ profession through no fraud, deception or an intention to cheat such as intentionally remaining neglected not to give change on the fares or giving the changes in shortfall amount.",
        "<b><u>Clause 4. Practical Executions on Occurrence of an Emergency Case.</u></b>",
        "4.1 The members must notify the Company Call Center immediately in an emergency case such as when a passenger has become sudden sick, to deliver a child, etc., to participate in solving the problem.",
        "4.2 The occurrence of an emergency or an accident shall not be deemed to be the right of a member to cancel the service and abandon the passenger disregarding whether such emergency or accident is the fault of whichever the party except the passenger is the party canceling such trip at his/her own willingness.",
        "4.3 If a member, during the period of transporting the passenger, should be of the view that he/she is under the situation of a potential risk, bodily or mentally or on his/her property, the member must hurriedly notify the Company Call Center to take actions immediately.",
        "<b><u>Clause 5. Discipline and Self-Development</u></b>",
        "5.1 The members must provide co-operations to the application system by participating in the training of other related activities every time as prescribed by the Company except such events cannot be taken part in because of a necessity which is reasonable to the case.",
        "5.2 It shall be deemed to be the duties of the members to give explanations and make the passengers come to understanding relating to the use of the application system for their good attitudes the application system and make them able to effectively make use of the application system in full efficiency.",
        "5.3 The members must execute strictly in compliance with their duties as defined under this Memorandum or to be defined in the future.",
        "5.4 The members acknowledge and confirm that they have been fully and completely aware of and understood the terms and conditions set forth herein as well as the Code of Ethics in their professions and stood readily to solely be responsible for any fault or damage resultant from any injury, loss of life or damage to properties of the passengers or the third persons occurring consequently as a result of providing the passenger transport service by their own cars."
      ]
    };
  }
};
</script>
<style scoped>
p {
  margin-top: 20px;
  margin-bottom: 20px;
  text-align: left;
  text-indent: 50px;
}
.text-orange {
  color: orange !important;
  text-align: center;
  text-indent: 0;
}

p a {
  color: black;
}

ul li {
  list-style-type: decimal;
  text-align: left;
  text-indent: 20px;
}
</style>