<template>
  <div>
    <div class="row">
      <div class="col">
        <h1 class="text-orange">ข้อกำหนดและแนวปฏิบัติของสมาชิก APP TAXI APPLICATION</h1>
        <h1 class="text-orange">บริษัท มีนาลิสซิ่ง จำกัด</h1>
      </div>
    </div>
    <div class="row">
        <div class="col" >
          <p v-for="value in list" v-html="value"></p>
          <hr/>
        </div>
    </div>
  </div>
</template>

<script>
import jQuery from "jquery";
export default {
  data: () => {
    return { 
      list: [
        "<b><u>ข้อ 1. การปฏิบัติตามกฎหมาย นโยบายและข้อแนะนำ</u></b>",
        "1.1 สมาชิกต้องถือปฏิบัติตามกฎหมายที่เกี่ยวข้องกับการจราจรทางบก นโยบายและข้อแนะนำของบริษัทฯ ทั้งที่มีอยู่แล้วและที่จะมีต่อไปในภายหน้าอย่างเคร่งครัด เช่น มีและใช้ใบอนุญาตขับรถที่มีการต่ออายุเป็นปัจจุบันอยู่เสมอ การปิดเอกสารเกี่ยวกับรถและคนขับในจุดที่สามารถมองเห็นได้ชัดเจน การปิดสติคเกอร์ห้ามสูบบุหรี่ในรถตามจุดที่กำหนด การไม่ขับขี่ผิดเส้นทางจราจร การไม่ขับขี่รถด้วยความเร็วเกินกำหนด การปฏิบัติตามสัญญาณไฟจราจรอย่างเคร่งครัด การไม่ใช้โทรศัพท์เคลื่อนที่ขณะขับรถโดยไม่มีอุปกรณ์ช่วยฟัง การให้สัญญาณไฟก่อนเปลี่ยนช่องทางเดินรถหรือเลี้ยวรถ เป็นต้น",
        "1.2 ห้ามมิให้สมาชิกกระทำการ งดเว้นกระทำการร่วมมือหรือสนับสนุนสมาชิกรายอื่นในกิจกรรมใดๆ ที่อาจก่อความเสียหายหรือทำลายชื่อเสียงของบริษัทฯหรือกระทำการใดๆอันอาจเป็นเหตุให้ TAXI  APPLICATION หยุดชะงัก",
        "1.3 ห้ามมิให้สมาชิกกระทำการใดๆที่อาจเป็นความผิดทางอาญาหรือหลอกลวงผู้โดยสารหรือบุคคลอื่นใด ซึ่งอาจก่อความเสียหายทั้งทางตรงและทางอ้อมแก่บริษัทฯ",
        "1.4 ห้ามมิให้สมาชิกใช้ APPLICATION ในการเข้ามีส่วนร่วมกับสิ่งของหรือองค์กรที่ผิดกฎหมาย ทั้งห้ามมิให้ยุยงส่งเสริมสมาชิกรายอื่นไม่ให้ใช้ APPLICATION  ต่อต้านหรือข่มขู่สมาชิกรายอื่นอันอาจมีผลกระทบต่อผลประโยชน์ของบริษัทฯ",
        "1.5 ห้ามมิให้สมาชิกใช้รถยนต์ที่ขึ้นทะเบียนกับ APPLICATION ไว้แล้ว เป็นพาหนะในการขนสิ่งของหรือบุคคลอันต้องห้ามตามกฎหมาย เช่น ยาเสพติด บุคคลต่างด้าว อาวุธสงคราม ฯลฯ",
        "<b><u>ข้อ 2. การให้บริการด้วยคุณภาพอย่างมืออาชีพ</u></b>",
        "2.1 สมาชิกต้องให้บริการแก่ผู้โดยสารด้วยความสุภาพและคำนึงถึงความปลอดภัยในการเดินทางเป็นสำคัญ",
        "2.2 ระหว่างการใช้งาน APPLICATION สมาชิกจะต้องไม่เสพยาหรือเครื่องดื่มที่มีส่วนผสมของแอลกอฮอล์ทุกชนิด ทั้งสมาชิกจะต้องไม่เก็บสิ่งของผิดกฎหมายหรือภาชนะเครื่องดื่มที่มีส่วนผสมของแอลกอฮอล์ที่เปิดฝาในลักษณะพร้อมดื่มไว้ในรถ ทั้งหากผู้โดยสารเห็นว่าสมาชิกกำลังอยู่ภายใต้ฤทธิ์ยาหรือแอลกอฮอล์ ผู้โดยสารย่อมมีสิทธิยกเลิกการโดยสารและร้องเรียนต่อบริษัทฯได้ทันที",
        "2.3 ห้ามมิให้สมาชิกใช้รถเป็นสถานที่เก็บอาวุธหรือสิ่งของที่อาจใช้เป็นอาวุธโดยเด็ดขาด",
        "2.4 สมาชิกต้องพึงรักษาสภาพรถให้สะอาดปลอดการติดเชื้อและพร้อมใช้งานอยู่เสมอ ทั้งต้องหมั่นรักษาสุขภาพของตนเองให้อยู่ในสภาพพร้อมขับรถได้อย่างปลอดภัยเป็นนิจ",
        "2.5 สมาชิกต้องแต่งกายในลักษณะสุภาพและสะอาด ใช้วาจาสุภาพกับผู้โดยสารและพูดคุยกับผู้โดยสารเท่าที่จำเป็นและหลีกเลี่ยงการละเมิดสิทธิส่วนบุคคลของผู้โดยสาร",
        "2.6 สมาชิกต้องมีสำเนาเอกสารทางทะเบียนของรถ สำเนาสัญญาเช่าซื้อหรือสำเนาเอกสารแสดงการได้มาซึ่งการครอบครองรถและกรมธรรม์ประกันภัยติดไว้ในตัวรถตลอดเวลา",
        "2.7 ตลอดเวลาที่ให้บริการแก่ผู้โดยสาร ให้ถือเป็นหน้าที่ของสมาชิกที่จะต้องคอยเตือนหรือจัดให้ผู้โดยสารซึ่งนั่งที่นั่งตอนหน้าแถวเดียวกับที่นั่งของสมาชิกคาดเข็มขัดนิรภัยตลอดเวลาการเดินทาง",
        "2.8 สมาชิกจะต้องหลีกเลี่ยงการแสดงพฤติกรรมก้าวร้าวรุนแรงต่อผู้โดยสารในทุกกรณี ทั้งด้วยวาจาที่ไม่เหมาะสมและการข่มขู่ต่อผู้โดยสารทั้งด้านร่างกายและจิตใจ หากมีเหตุการณ์ที่สุ่มเสี่ยงต่อการแสดงออกซึ่งพฤติกรรมดังกล่าว สมาชิกจะต้องแจ้งให้บริษัทฯทราบในทันทีเพื่อให้บริษัทฯดำเนินการตามความเหมาะสมและให้ความยุติธรรมแก่ทุกฝ่าย",
        "2.9 ห้ามมิให้สมาชิกกระทำความผิดใดๆอันเป็นการคุกคามทางเพศต่อผู้โดยสาร ไม่ว่าจะเป็นการวิจารณ์ แสดงอากัปกิริยาที่ลามก ลวนลาม กักขังหน่วงเหนี่ยว ข่มขืนใจหรือร่างกายของผู้โดยสารอย่างเด็ดขาด",
        "สมาชิกพึงตระหนักเสมอว่า  ความคิดหรือความรู้สึกต่อการถูกคุกคามทางเพศนั้นย่อมแตกต่างกันไปตามธรรมเนียมของสังคมและความคิดเห็นของบุคคล ดังนั้น การวิจารณ์ถึงรูปลักษณ์ของผู้โดยสาร การใช้คำพูดหรือกริยาอาการที่สุ่มเสี่ยงต่อการละเมิดต่อสิทธิส่วนบุคคลของผู้โดยสาร ย่อมถือเป็นสิ่งต้องห้ามทั้งสิ้น",
        "2.10 สมาชิกพึงให้ความช่วยเหลือผู้โดยสารที่พิการหรือชราภาพหรือเด็กผู้เยาว์ด้วยความเอื้ออาทร โดยเฉพาะระหว่างการขึ้นหรือลงจากรถ รวมทั้งการให้ความอนุเคราะห์ช่วยขนสิ่งของหรือสัมภาระของผู้โดยสารตามสมควร",
        "2.11 สมาชิกต้องตอบสนองต่อผู้โดยสารเมื่อได้รับการร้องขออย่างมีเหตุผล เช่น การปรับลดหรือเพิ่มอุณหภูมิเครื่องปรับอากาศหรือระดับเสียงวิทยุ หรือการขับรถในลักษณะหวาดเสียว",
        "2.12 สมาชิกจะต้องหมั่นศึกษาหาความรู้เกี่ยวกับเส้นทางการจราจรและสภาพของเส้นทางอยู่เสมอ สมาชิกจะเลือกเส้นทางอื่นที่ผิดไปจากเส้นทางปกติอันควรใช้ระหว่างสถานที่ต้นทางและปลายทางมิได้ เว้นแต่ผู้โดยสารจะเป็นฝ่ายร้องขอเอง",
        "2.13 กรณีผู้โดยสารหลงลืมทรัพย์สินไว้ในรถ ไม่ว่าจะมีราคาเท่าใดก็ตาม สมาชิกจะต้องรีบแจ้งและคืนทรัพย์สินนั้นแก่ผู้โดยสารทันที หากไม่สามารถกระทำได้ก็ต้องแจ้งและนำส่งทรัพย์สินต่อศูนย์ประสานงานของบริษัทฯ ( CALL CENTER ) หรือตำรวจท้องที่ในโอกาสแรกที่สามารถกระทำได้",
        "2.14 กรณีสมาชิกนัดหมายผู้โดยสารผ่านระบบไว้แล้ว ถือเป็นหน้าที่ของสมาชิกที่จะต้องเดินทางไปรับผู้โดยสารตามนัด ห้ามมิให้สมาชิกโอนงานที่นัดหมายนั้นไปให้สมาชิกหรือบุคคลอื่น เว้นแต่เป็นกรณีฉุกเฉินอันมิอาจก้าวล่วงได้ เช่น กรณีรถเสียหรือเกิดอุบัติเหตุ ",
        "2.15 เมื่อสมาชิกถึงจุดนัดรับผู้โดยสารแล้วแต่ไม่พบผู้โดยสาร ให้สมาชิกโทรหาผู้โดยสารเพื่อยืนยันการมาถึงจุดนัดพบ หากติดต่อผู้โดยสารไม่ได้หรือติดต่อได้แต่ผู้โดยสารร้องขอให้รอเป็นระยะเวลานานเกินสมควรหรือการจอดรอจะเป็นการกีดขวางทางจราจรของผู้อื่นหรือเป็นจุดที่ห้ามหยุดหรือจอดรถ สมาชิกจะต้องโทรแจ้งผู้โดยสารเพื่อขอยกเลิกการรับพร้อมกับแจ้งให้ศูนย์ประสานงานของบริษัทฯ ( CALL CENTER ) ทราบการยกเลิกนัดทันที ",
        "2.16 ห้ามมิให้สมาชิกปฏิเสธการให้บริการด้วยเหตุผลทางด้านเชื้อชาติ ศาสนา สัญชาติ ความพิการ อายุ รสนิยมทางเพศ เพศ อัตลักษณ์ทางเพศหรือคุณลักษณะอื่นที่ได้รับความคุ้มครองตามกฎหมาย บริษัทฯถือว่า การแสดงอาการเหยียดหยามหรือกีดกันต่อบุคคลหรือกลุ่มบุคคลด้วยเหตุดังกล่าว เป็นการไม่เคารพต่อสถานภาพของบุคคลและไม่ให้เกียรติต่อผู้โดยสาร",
        "2.17 ห้ามมิให้สมาชิกร้องขอให้ผู้โดยสารจองหรือใช้บริการของตนเป็นการส่วนตัวหรือเป็นการพิเศษนอกเหนือจากการจองรถผ่านระบบ APPLICATION เพราะถือเป็นการฝ่าฝืนวัตถุประสงค์ของบริษัทฯที่จะให้รถที่อยู่ใกล้ที่สุดไปรับผู้โดยสารด้วยประสิทธิภาพสูงสุด",
        "2.18 ห้ามมิให้สมาชิกติดต่อหรือรบกวนผู้โดยสารผ่านช่องทางการสื่อสารอื่นใดที่มิใช่การติดต่อเกี่ยวกับงานที่จองไว้ผ่านระบบ APPLICATION",
        "2.19 สมาชิกจะต้องไม่กระทำการเป็นปฏิปักษ์ต่อบริษัทฯด้วยการแนะนำให้ผู้โดยสารไปใช้บริการของ APPLICATION อื่น",
        "2.20 ระหว่างการเปิดใช้งาน APPLICATION สมาชิกจะต้องขับขี่รถยนต์ที่ลงทะเบียนไว้ในระบบ APPLICATION ด้วยตนเอง ห้ามมิให้สมาชิกจัดหาบุคคลอื่นหรือยินยอมให้บุคคลอื่นขับขี่รถยนต์ที่ลงทะเบียนในระบบแทนหรือในนามของสมาชิกโดยเด็ดขาด",
        "<b><u><font color='red'>ข้อ 3. ข้อปฏิบัติเกี่ยวกับการเรียกเก็บค่าใช้บริการ APPLICATION และค่าโดยสาร</font></u></b>",
        "3.1 บริษัทฯกำหนดให้สมาชิกชำระค่าตอบแทนการใช้บริการ APPLICATION แก่บริษัทฯ ในอัตราเที่ยวละ 1 หน่วยสิทธิ์ โดยแสดงเจตนาขอรับหน่วยสิทธิ์ต่อบริษัทฯตามเงื่อนไขและวิธีการที่บริษัทฯกำหนด เป็นการล่วงหน้าครั้งละไม่น้อยกว่า 10 หน่วยสิทธิ์ ในการนี้ บริษัทฯจะบริหารและคิดหักจำนวนหน่วยสิทธิ์เป็นค่าบริการตามอัตราดังกล่าวและแจ้งให้สมาชิกทราบการหักหน่วยสิทธิ์แต่ละครั้งเป็นรายวันไป ",
        "3.2 สมาชิกจะเรียกค่าโดยสารเพิ่มเติมจากค่าโดยสารตามมิเตอร์ได้ไม่เกินครั้งละ 20 บาท                    ( ยี่สิบบาทถ้วน ) ค่าโดยสารส่วนที่เพิ่มนี้ บริษัทฯอาจปรับปรุงได้ตามข้อกำหนดของทางราชการ โดยจะแจ้งให้สมาชิกทราบล่วงหน้าทุกครั้งไป ค่าตอบแทนอื่นนอกจากนี้ โดยเฉพาะเงินค่าบริการพิเศษ ( เงินทิป ) โดยกล่าวอ้างสภาวะฝนตกหรือสภาพการจรจรนั้น ให้ถือเป็นสิทธิของผู้โดยสารที่จะชำระหรือไม่ก็ได้โดยปราศจากการข่มขู่  ขู่เข็ญ ฉ้อฉล  ต่อรอง หรือเรียกร้องด้วยวิธีการใดๆ  ทั้งสมาชิกจะกำหนดค่าโดยสารเองด้วยวิธีการเหมาค่าโดยสารเป็นรายเที่ยวมิได้",
        "3.3 การจะให้ผู้โดยสารชื่นชมต่อการให้บริการของสมาชิกนั้น ขึ้นอยู่กับข้อปฏิบัติและจรรยาบรรณในวิชาชีพของสมาชิก ด้วยการไม่ฉ้อฉล หลอกลวงหรือแสดงเจตนาคดโกง เช่น การเพิกเฉยไม่คืนเงินทอนค่าโดยสาร หรือทอนแต่ไม่ครบจำนวน",
        "<b><u>ข้อ 4. ข้อปฏิบัติเมื่อเกิดเหตุฉุกเฉิน</u></b>",
        "4.1 สมาชิกต้องแจ้งเหตุฉุกเฉิน เช่น ผู้โดยสารเจ็บป่วยกะทันหัน ผู้โดยสารจะคลอดบุตร ฯลฯ ให้ศูนย์ประสานงานของบริษัทฯ ทราบทันทีเพื่อเข้าร่วมแก้ไขปัญหา",
        "4.2 การเกิดเหตุฉุกเฉินหรืออุบัติเหตุ ไม่ถือเป็นสิทธิของสมาชิกที่จะบอกเลิกและละทิ้งผู้โดยสาร ไม่ว่าเหตุฉุกเฉินหรืออุบัติเหตุนั้นจะเป็นความผิดของฝ่ายใด เว้นแต่ผู้โดยสารจะบอกเลิกการโดยสารเที่ยวนั้นด้วยความสมัครใจเอง",
        "4.3 ในระหว่างการรับส่งผู้โดยสาร หากสมาชิกเห็นว่าตนกำลังตกอยู่ในสภาวะสุ่มเสี่ยงต่อภยันตรายต่อร่างกาย จิตใจหรือทรัพย์สิน  สมาชิกต้องรีบแจ้งให้ศูนย์ประสานงานของบริษัทฯทราบเพื่อเข้าดำเนินการแก้ไขในทันที",
        "<b><u>ข้อ 5. วินัยและการพัฒนาตน</u></b>",
        "5.1 สมาชิกจะต้องให้การสนับสนุนระบบ APPLICATION ด้วยการเข้าร่วมการอบรมหรือกิจกรรมอื่นๆที่เกี่ยวข้องตามที่บริษัทฯกำหนดทุกครั้ง เว้นแต่ไม่สามารถกระทำได้เพราะเหตุจำเป็นอันสมควรแก่กรณี",
        "5.2 ให้ถือเป็นหน้าที่ของสมาชิกในการอธิบายและทำความเข้าใจกับผู้โดยสารเกี่ยวกับการใช้งานระบบ APPLICATION เพื่อให้ผู้โดยสารมีทัศนคติที่ดีและสามารถใช้งาน APPLICATION ได้อย่างเต็มประสิทธิภาพ",
        "5.3 สมาชิกจะต้องปฏิบัติตามหน้าที่ของตนที่ได้กำหนดไว้ตามบันทึกฉบับนี้หรือที่จะได้กำหนดต่อไปในภายหน้าอย่างเคร่งครัด",
        "5.4 สมาชิกรับทราบและยืนยันว่า สมาชิกรับทราบและเข้าใจข้อกำหนดและเงื่อนไขตลอดจนจรรยาบรรณในวิชาชีพของตนโดยครบถ้วนสมบูรณ์แล้ว อีกทั้งพร้อมที่จะรับผิดชอบต่อความผิดหรือความเสียหายจากการบาดเจ็บ เสียชีวิตหรือทรัพย์สินของผู้โดยสารและหรือบุคคลภายนอกที่เป็นผลจากการให้บริการรับส่งผู้โดยสารด้วยรถของสมาชิกเองแต่เพียงผู้เดียว"
      ]
    }
  }
}
</script>
<style scoped>
p {
  margin-top: 20px;
  margin-bottom: 20px;
  text-align: left;
  text-indent: 50px;
}
.text-orange{
    color: orange !important;
    text-align: center;
    text-indent: 0;
}

p a{
  color:black;
}

ul li{
    list-style-type: decimal;
    text-align: left;
    text-indent: 20px;
}
</style>