<template>
    <div class="container">

        <div class="row">
            <div class="col">
                <h1 class="text-orange">Agreements and Conditions on the Use of Services for Drivers on the Use of Services</h1>
            </div>
        </div>

        <div class="row">
            <div class="col-lg-4">
                <p ><nuxt-link :to="'/help/termsofuse/drivers/en'" exact active-class="is-active" id="index-link">Agreements and Conditions</nuxt-link></p>
                <p><nuxt-link :to="'/help/termsofuse/drivers/en/aboutus'" active-class="is-active">About our Services</nuxt-link></p>
                <p><nuxt-link :to="'/help/termsofuse/drivers/en/register'" active-class="is-active">Registration and Using of Services</nuxt-link></p>
                <p><nuxt-link :to="'/help/termsofuse/drivers/en/payment'" active-class="is-active">Payment</nuxt-link></p>
                <p><nuxt-link :to="'/help/termsofuse/drivers/en/fee'" active-class="is-active">Other Service Charge and Fee Computations</nuxt-link></p>
                <p><nuxt-link :to="'/help/termsofuse/drivers/en/license'" active-class="is-active">Proprietary Right in Intellectual Property</nuxt-link></p>
                <p><nuxt-link :to="'/help/termsofuse/drivers/en/security'" active-class="is-active">Personal Information Protection</nuxt-link></p>
                <p><nuxt-link :to="'/help/termsofuse/drivers/en/thirdparty'" active-class="is-active">The Third Persons</nuxt-link></p>

                <p><nuxt-link :to="'/help/termsofuse/drivers/en/responsibity'" active-class="is-active">Limit of Liability</nuxt-link></p>
                <p><nuxt-link :to="'/help/termsofuse/drivers/en/securityinfo'" active-class="is-active">In the case of any change in the data</nuxt-link></p>
                <p><nuxt-link :to="'/help/termsofuse/drivers/en/editcondition'" active-class="is-active">Revisions of the Agreements and Conditions</nuxt-link></p>

                <p><nuxt-link :to="'/help/termsofuse/drivers/en/announcement'" active-class="is-active">Notices</nuxt-link></p>
                <p><nuxt-link :to="'/help/termsofuse/drivers/en/terminate'" active-class="is-active">Suspension on the use and cancelation in providing the services</nuxt-link></p>
                <p><nuxt-link :to="'/help/termsofuse/drivers/en/termofcondition'" active-class="is-active">Scope of these Agreements and Conditions</nuxt-link></p>

            </div>
            <div class="col-lg-8" >
                <nuxt-child />
            </div>
        </div>
    </div>
</template>

<style scoped>
.container{
    margin-top:80px;
}

.text-orange {
  color: orange !important;
  font-size: xx-large;
}

p {
  margin-top: 20px;
  margin-bottom: 20px;
}

p a {
  color: black;
}

.topic-list{
    width: 250px;
    text-align: center;
    margin: auto;
}

.topic-list ul{
    text-align: left;
}

.is-active{
    color: orange !important;
    font-weight: bold;
}

</style>