<template>

<div class="container-fluid container-top-bottom">

    <div class="container mg-B30">
        <p><img class="mg-R10" src="~assets/images/icn_passenger.png">ผู้โดยสาร</p>
        <p> 
            <nuxt-link :to="'/'" >หน้าแรก</nuxt-link > 
            > เหตุผลในการเดินทาง 
        </p>
        <hr />
        <h2 class="text-orange">ทำให้การเดินทางของคุณง่ายขึ้น</h2>
    </div>

    <div class="container">
    
        <div class="card">
        <div class="row card-block pd-All50">
            <div class="col-lg-8">
                <h4 class="card-title">ใช้งานง่าย</h4>
                <p class="card-text">ใช้งานง่ายไม่กี่ขั้นตอนทำให้คุณได้รถทันทีโดยไม่ต้องรอทำให้การเดินทางของคุณเป็นไปอย่างราบรื่นตั้งแต่จุดรับถึงปลายทาง</p>
                <a class="link mg-LR0">ดูวิธีการใช้งานสำหรับผู้โดยสาร</a>
            </div>
            <div class="col-lg-4 col-md-auto text-center">
                <img src="~assets/images/pic_about_passenger_1.png" />
            </div>
        </div>
        </div>

        <div class="card">
        <div class="row card-block pd-All50">
            <div class="col-lg-8">
                <h4 class="card-title">ปลอดภัย</h4>
                <p class="card-text">ด้วยระบบติดตามเส้นทางการเดินทางและการลงทะเบียนคนขับรถทำให้คุณมั่นใจได้ว่าการเดินทางของคุณจะปลอดภัย</p>
                <a class="link mg-LR0">ความไว้วางใจและความปลอดภัย</a>
            </div>
            <div class="col-lg-4 col-md-auto text-center">
                <img src="~assets/images/pic_about_passenger_2.png" />
            </div>
        </div>
        </div>

        <div class="card">
        <div class="row card-block pd-All50">
            <div class="col-lg-8">
                <h4 class="card-title">ประหยัดกว่า</h4>
                <p class="card-text">ช่วยให้คุณประหยัดได้ทั้งเวลาและค่าโดยสารลดการปฎิเสธผู้โดยสารของคนขับและพร้อมรับส่วนลดและโปรโมชั่นต่างๆ</p>
                <a class="link mg-LR0">ตรวจสอบโปรโมชั่นสำหรับผู้โดยสาร</a>
            </div>
            <div class="col-lg-4 col-md-auto text-center">
                <img src="~assets/images/pic_about_passenger_3.png" />
            </div>
        </div>
        </div>

        <div class="card">
        <div class="row card-block pd-All50">
            <div class="col-lg-12 col-md-auto">
                <h4 class="card-title">คุณต้องการทำอะไรต่อ?</h4>
                <br/>
                <a class="link mg-LR0">ดาวน์โหลดแอพพิเคชั่นสำหรับผู้โดยสาร</a>
                <br/>
                <br/>
                <a class="link mg-LR0">ดูข้อมูลเพิ่มเติมที่ความช่วยเหลือ</a>
            </div>
        </div>
        </div>

    </div>
    
</div>

</template>

<script>
import jQuery from 'jquery'

export default {
    components: { 
    },
    head:{
        title: 'Passenger Page',
        meta: [
        { hid: 'description', name: 'description', content: 'About page description' }
        ]
    },
    data: () => {
        return { name: 'world' }
    },
    methods:{

    },
    mounted: () => {
        const navBar = jQuery('.navbar'),
        data = navBar.data();
        navBar.removeClass(data.startcolor);
        navBar.removeClass(data.startsize);
        navBar.addClass(data.notindexColor);
        navBar.addClass(data.notindexSize);
        console.log( data )
    },
    destroyed: () =>{
        const navBar = jQuery('.navbar'),
        data = navBar.data();
        navBar.addClass(data.startcolor);
        navBar.addClass(data.startsize);
        navBar.removeClass(data.notindexColor);
        navBar.removeClass(data.notindexSize);
    }
}
</script>

<style scoped>
.container-top-bottom{
    margin-top: 5em;
    margin-bottom: 5em;
}

.text-orange{
    margin-left: 20px;
    color: orange !important;
}

</style>
