<template>
  <div>
    <p class="text-orange">{{title}}</p>
    <p v-for="value in list" v-html="value"></p>
    <hr/>
  </div>
</template>

<script>
import jQuery from "jquery";
export default {
  data: () => {
    return { 
      title: "About our Services",
      list: [
        "Our Company provides services on (software) application in service calls for vehicles or taxis through internet system or Call Center/telephone system (02) Line or other system with the purpose to provide assistances to you, the passengers, or any persons in traveling, moving whether human beings, animals, things from one point to another or many destination points. However, in providing such services, even the Company, has made arrangements to have personnel available and Customer Care set up as well as providing any information, knowledge, presenting any data and method in providing the services and other matters both to the third persons, passengers or drivers or any assistances other than the service calls for vehicles through the internet system, but, they are just the additional assistances to support and remedy the situation in providing services in calling for the vehicles through (software) application of the Company in order to make our services conveniently and easily accessible; enable passengers to receive good services; our services can be remedied and can back up the providing of services from using such (software) application of the Company to the fullest extent including the organizing of marketing promotion activity, giving away any privileges would be just the market making to motivate you or any other persons only just to use the Company’s services.",
        "The Company has neither carried out any operations in a manner of being a proprietor of the cars in providing services by own self nor been a service provider in using vehicles for any transports nor shall it be deemed to be as if a service provider on transports by way of any vehicles nor shall it be deemed to be an operator carrying out business on leasing any vehicles with drivers, you, the drivers or any persons using the services of such application therefore shall not be deemed to be the employees, staff or representatives of the Company.",
        "The Company shall not be responsible, in all cases whatever, for any acts of the drivers or any persons who cause a loss, damage, wrongful act, claim, dispute, any acts and/or any omission to act or a commission of an offence against any laws including other matters consequently causing an adverse result.",
        "Provided, however, that the matter in which you have used the service of a vehicle for such transport purpose, in which the service of a vehicle for transport purpose with the driver is provided subsequent to the driver acknowledging the acceptance to provide the service through software (application), is the different part of the service in using the software (application) of the Company in calling for the car. The use of such service shall be deemed that you have agreed and consented to take a risk on your own. If any loss or damage should occur consequently as a result of the use of the vehicle for such transport, you have no right to claim any such loss or damage whatever from the Company. * Condition and exclusion on the offence. "
      ]
    }
  }
}
</script>
<style scoped>
p {
  margin-top: 20px;
  margin-bottom: 20px;
  text-align: left;
  text-indent: 50px;
}
.text-orange{
    color: orange !important;
    text-align: center;
    text-indent: 0;
}

p a{
  color:black;
}

ul li{
    list-style-type: decimal;
    text-align: left;
    text-indent: 20px;
}
</style>