<template>
  <div>
    <p class="text-orange">{{title}}</p>
    <p v-for="value in list" v-html="value"></p>
    <hr/>
  </div>
</template>
<script>
import jQuery from "jquery";
export default {
  data: () => {
    return { 
      title: "Connections with Other Application/Website",
      list: [
        "1. On this application/website, if there should be any connections with the other application/website which is under the providing of service and management by the other person or when you have exited this application/website through the link existing in the this application/website which is under the providing of service and management of the Company;",
        "Should any loss or damage have occurred, it will not be the responsibility of the Company, thus, you cannot demand the Company to be responsible for any losses or damages.",
        "2. You are prohibited to link the other application/website to the application/website of the Company except in the case which you have notified the Company on your desire in so doing and a written consent accordingly is obtained from the Company provided, however, that in giving such consent, the Company reserves its right to set any conditions therewith."
      ]
    }
  }
}
</script>
<style scoped>
p {
  margin-top: 20px;
  margin-bottom: 20px;
  text-align: left;
  text-indent: 50px;
}
.text-orange{
    color: orange !important;
    text-align: center;
    text-indent: 0;
}

p a{
  color:black;
}

ul li{
    list-style-type: decimal;
    text-align: left;
    text-indent: 20px;
}
</style>