<template>
  <div>
    <p class="text-orange">{{title}}</p>
    <p v-for="value in list" v-html="value"></p>
    <hr/>
  </div>
</template>
<script>
import jQuery from "jquery";
export default {
  data: () => {
    return { 
      title: "Revisions of the Agreements and Conditions",
      list: [
        "In making a change in, an alteration on, addition to, a modification on, cut down on and reduction in any of the provisions under these Conditions and Agreements including  the other conditions and agreements, under other related contracts or announcements relating to these Conditions and Agreements, a notification accordingly to you shall be made through the Company’s website or application or other social media and that such change shall be enforceable upon the completion of the latest revision without any requirement to notify you in advance or receive an approval in writing from the Company first including receiving consent from you first. It will be your duty and responsibility for making continuous checks and verifications on such Agreements and Conditions. If there should be any alterations on the Agreements and Conditions, it would be deemed that you have given your consent and accepted the change in such Agreements and Conditions disregarding whether you have made any checks or verification thereon or not.",
        "If you should not be satisfied with the latest revised Agreements and Conditions, you shall be entitled to stop using the services by deleting or withdrawing the software (application), mobile devices, tablets or any equipments which you have installed on the software (application).",
        "The consequences of such act may result in your right to receive any benefits, special privileges or prizes in the future to be deprived of. As such, the Company reserves its right to stop giving you such benefits, special privileges or prizes immediately without you having any right whatever to lodge any claims against the Company even your right to receive any of such benefits, special privileges or prizes was bestowed upon you before the date on which such services are stopped."
      ]
    }
  }
}
</script>
<style scoped>
p {
  margin-top: 20px;
  margin-bottom: 20px;
  text-align: left;
  text-indent: 50px;
}
.text-orange{
    color: orange !important;
    text-align: center;
    text-indent: 0;
}

p a{
  color:black;
}

ul li{
    list-style-type: decimal;
    text-align: left;
    text-indent: 20px;
}
</style>