<template>
  <div>
    <p class="text-orange">{{title}}</p>
    <p v-for="value in list" v-html="value"></p>
    <hr/>
  </div>
</template>
<script>
import jQuery from "jquery";
export default {
  data: () => {
    return { 
      title: "Marketing Promotion or Marketing Activity Event",
      list: [
        "In using the services, the Company may give you any benefits or special privileges either in the form of money, properties, or other special privileges such as product or service price discounts, code coupons, cash coupons, gift coupons/certificates, points accumulations, accessing to special privilege, rights for participating in any activities and many others with the Company, the Company’s affiliates, partner companies or the Company’s allies. Nevertheless, the benefits or special privileges you will receive must be in accordance with the rules and conditions prescribed by the Company at such each period of time which, in this respect, a notification accordingly will be made to you through the Company’s application or website or the other channel in social media and in some period of time, you will be individually notified, in particular, through channels in other social media channels.",
        "The Company reserves its right in giving any benefits or special privileges to only the ersons who comply with the rules of the Company in the period of time as prescribed. In some particular case, even you have complied with the Company’s rules, but, failed to express your desire to receive such benefits or special privileges within the prescribed period of time, the Company deems it that you have already waived your right in receiving such benefits or special privileges.",
        "In giving away any benefits, special privileges and prizes, the Company, in some particular case, reserves its right to make additional deductions from what you receive as the fees or expenses including tax."
      ]
    }
  }
}
</script>
<style scoped>
p {
  margin-top: 20px;
  margin-bottom: 20px;
  text-align: left;
  text-indent: 50px;
}
.text-orange{
    color: orange !important;
    text-align: center;
    text-indent: 0;
}

p a{
  color:black;
}

ul li{
    list-style-type: decimal;
    text-align: left;
    text-indent: 20px;
}
</style>