<template>
  <div>
    <p class="text-orange">{{title}}</p>
    <p v-for="value in list" v-html="value"></p>
    <hr/>
  </div>
</template>
<script>
import jQuery from "jquery";
export default {
  data: () => {
    return { 
      title: "Payment and Service Charges",
      list: [
        "In using the services for cars through the Company’s application (software), we impose the service charges on which the respective service charge rate will be displayed on the screen while you are calling for the car through application (software). On the payment channel, we will provide you with the channel in so doing depending on whichever channel will be convenient for you. You can obtain such information from data on the application of the Company’s website.",
        "Whatever the service charge rate will be, shall be up to our determinations which is based on such particular period of time and dependable on marketing promotion and activity at such particular period of time including the privileges and special rights granted exclusively to particular persons individually.",
        "Except in the case of the fare such as the fare according to the meter or in the case in which you have mutually agreed with the driver at a flat payment rate including tip. Such payment is the deal directly between you and the driver. If any dispute on such fare and tip should have occurred, the Company shall bear no responsibility for that because it is the matter between you and the driver except in the case where we have arranged for the payment channel for your convenience or that marketing promotions or activities have been organized for your benefits such as providing comfort to enable you to make payment by credit card or launching promotion campaign for reductions of the fares for you.",
        "In respect of the tip, it is the matter of a gift you made at your willingness and, as such, you have no right whatever to call for the return of it."
      ]
    }
  }
}
</script>
<style scoped>
p {
  margin-top: 20px;
  margin-bottom: 20px;
  text-align: left;
  text-indent: 50px;
}
.text-orange{
    color: orange !important;
    text-align: center;
    text-indent: 0;
}

p a{
  color:black;
}

ul li{
    list-style-type: decimal;
    text-align: left;
    text-indent: 20px;
}
</style>