<template>
  <div>
    <p class="text-orange">{{title}}</p>
    <ul>
      <li v-for="value in list">
        {{ value }}
      </li>
    </ul>
    <hr/>
  </div>
</template>

<script>
import jQuery from "jquery";
export default {
  data: () => {
    return { 
      title: "Registration and Using of Services",
      list: [
        "On the application for registration and the use of services, you are required to certify and confirm that you are the person having the right and being legally competent; of legal age, being the person having the power in binding on performing juristic acts and entering into contracts/agreements by own self; not being the person prohibited to perform any acts for any reasons whatever and/or the person compellingly required to make contracts/agreements on condition: such as; must receive a consent in accordance with the law first, otherwise you will not be legally certified nor protected in accordance with the law and these Agreements and Conditions.",
        "In making the registration, you are required to certify and confirm that the information you fill in is your correct and true personal information without entering information of the other persons and that the application for the registration is made on your voluntary basis with the purpose for your own benefit.",
        "In making the registration, once you have fully and completely filled in the information and declared your intention on the application for using the services, the Company has the power to make considerations in giving the approval or denying to give the approval on your application without any requirement to notify you or give you any reason whatsoever provided, however, that such denial does not deprive you of the right to resubmit the application for the registration once again if your application is in accordance with the conditions and terms of the Company.",
        "If, subsequent to the registration and relevant approval, the Company should have discovered or been suspicious that the information given by you is neither correct nor sufficient nor most up-to-date or that you are not the person meeting the criteria as prescribed by the Company, the Company reserves its right to temporarily suspend you from using the services or even canceling the providing of services to you. ",
        "In using the services, you will be given a password for gaining access into the account to use the services including the access into working account through Facebook or e-mail. You have to keep it in strict confidence and that under no circumstances shall such information be disclosed to any persons nor shall you allow nor take data of any persons in exercising the right in the account on your behalf nor shall you transfer nor dispose of the right in such your own account to any persons. If any of such acts should be discovered, the Company will cancel 	the providing of services in said account to you immediately and that in the case where a damage has arisen consequently as a result of your carelessness in keeping the service password or that you have disclosed such information to any persons or allowed or taken data of any person in exercising the right in the account on your behalf, transferring or disposing of the right in such account, the Company shall bear no responsibility for any damages in all cases and in entirety.",
        "In using the services, you have a right to gain access into using the services as the Company will allow you on the accessibility.",
        "In using the services, it is your duty to download the software which you are required to make a check to ensure that you have downloaded the proper one. The Company bears no responsibility if you do not have the appropriate equipments or tools in downloading it or if you have improperly downloaded it or that it is wrong on the version in any of your own equipments.",
        "After you have downloaded the (software) application, if there should be any delay, error, mistake, incompleteness, disruption, causing you being unable to gain access into the system, data, information due to any defect or being unable to gain access to use the (software) application continuously, the Company shall bear no responsibility for any damages whatever. As such, you have no right to claim any damages whatever occurring to you from the Company.In addition, the Company bears no responsibility for any damage occurring from the programs or files which may cause damage to the system of the (software) application of the users which include virus, spyware, spam, Trojan, worm or software or file or interference data which can pose any harm or cause such damage except such damage has occurred through the Company’s intentional fault.",
        "The Company shall, in providing the services, give its assistances in providing the data, information including the advices which will be up to you to use your judgment as to whether you will believe it or accordingly comply with it or not. If any damage should have occurred consequently as a result of such data, information and the advices provided, you have no right to claim any occurring damages whatever from the Company.",
        "In using the services, the Company has its rules and regulation including the determinations on qualifications of the service users that you have to comply with. If any of your acts should not be in compliance with such rules and regulations, the Company shall have a right to temporarily suspend you from using the services, accessing into the use of any services or even canceling the providing of services to you without any advanced notification.",
        "In using the services, you will be under the laws and required to observe the laws of Thailand. If any of your acts should not be in compliance with the laws or should be an omission to perform any acts whatever in accordance with the laws, the Company shall have a right to temporarily suspend you from using the services, accessing into the use of any services or even canceling the providing of services to you without giving you any advanced notification including exercising its right to enter lawsuit against you. ",
        "In using the service of the (software) application, you must use it reasonably and and properly in accordance with the objective of the usage. If the Company should be in doubt or should discover that you have used the services not being in accordance with the objective or for the purpose other than the purpose in providing the services of the Company, the Company shall have a right to temporarily suspend you from using the services, accessing into the use of any services or even canceling the providing of services to you without any advanced notification.",
        "In using the services, if the Company should be in doubt that you are not the true owner of the bank account or the information your previously gave to the Company was not fully accounted for, you must allow the Company to be entitled to inquire you, check and verify your real entity including complete and proper information. If you should fail to confirm or cannot confirm your entity or have not been cooperative  or have not given the proper and complete information to the Company, the Company’s staff or that you cannot be contacted, the Company shall have a right to temporarily suspend you from using the services, accessing into the use of any services or even canceling the providing of services to you.",
        "In using the services, if the Company should be in doubt or understand or see any abnormality that you have not used the service of the (software) application appropriately as you should or properly in accordance with the usage purpose or in accordance with any Clause of the Company’s regulations and it is in violation of any law, the Company shall be entitled to make preliminary inquiries and checks with which you must be cooperative in answering the questions and checking. If you should disagree or not give any reasonable cooperation, the Company shall have a right to temporarily suspend you from using the services, accessing into the use of any services or even canceling the providing of services to you.",
        "In giving the information, both your personal information or any information relating to the use of the services, should there be any change in any information, you must notify the Company or the Company’s staff on such change. If you should fail to make a notification on such change or that such notification is made past a reasonable period of time subsequent to the change, if the Company should have known on such change without your notification accordingly or there is a delay in making the notification, the Company shall have a right to temporarily suspend you from using the services, accessing into the use of any services or even canceling the providing of services to you. ",
        "You are strictly forbidden to use the service of the (software) application to create any troublesomeness, damage  or annoyance to any persons, juristic persons including the Company, the Company shall have a right to temporarily suspend you from using the services, accessing into the use of any services or even canceling the providing of services to you. ",
        "You are strictly forbidden to use the service of the (software) application with an intention in bad faith or evincing an intention to do thing in bad faith upon any person, juristic person including the Company: such as; in the Company’s operations which the Company may hold the activities on marketing and sales promotions or giving away the prizes or any other benefits, if you should be found to do thing intentionally in bad faith or evincing an intention to do thing in bad faith in order to acquire any benefits from such Company’s marketing promotion activity, the Company shall have a right to temporarily suspend you from using the services, accessing into the use of any services or even canceling the providing of services to you including legal actions against you.",
        "In carrying out the operations on the use of services through the (software) application, you may probably be required to contact the drivers through the telephone signal network or undertake any actions requiring you to possibly pay additional expenses, such part of the expenses shall be your own responsibility. The Company has no duty to take any responsibility for whatever the expenses.  ",
        "In downloading for installing the application (software) of the Company with mobile device, tablet, computer or any equipment that has caused damage to your equipment, data, any system in such equipment, you have no right to claim any damages and responsibilities whatever from the Company.",
        "In using the Company’s services, you may perceive the Company’s confidential information, whether on the products or services, business, technology, know-how, ideas and concepts, marketing plan, clients’ names, drivers, any persons whom the Company defines as the persons to be kept in confidence until they are publicly disclosed or a consent in writing to disclose is obtained from the Company unless otherwise the law provides that such information can be disclosed.",
        "In using the Company’s service, we do not certify the qualifications of the drivers providing the services through the Company’s software (application) that you will receive good services from the drivers, that the drivers are persons of good conducts, being polite and driving properly. If any driver being called for use under this service call program should perform any acts or omit to perform any acts in a manner to cause you to sustain any damage,troublesomeness, annoyance, to be in violation of any laws, whether intentionally or unintentionally, or that such things should have caused from an accident or force majeure possibly as a continuous result on the use of the service in calling for the car through the Company’s software (application), the Company has no duty whatever to be responsible for any acts of such passenger or person. As such, you cannot demand any compensations of the damages whatever from the Company.",
        "In using the Company’s services, we cannot assure you when you make your call for the service of a car through the Company’s software (application) that you will get the car for your transport every time or that you will get the service continuously without any problem on the system failure, can access to working functions on software (application) continuously without any delay every time when the service is used. If any of such aforementioned problems should occur consequently causing you or any persons to sustain any loss or damage, you cannot demand any responsibility or indemnification of any damages or expenses whatever from the Company.",
        "In using the Company’s services, we cannot assure you on the quality of the vehicles for us in the services that they are under new, clean condition without any defects nor dilapidation. If, during the course of using such transport service, you or any person should sustain any loss or damage from the quality or efficiency of such vehicles, you cannot demand any responsibility or indemnification of any damages or expenses whatever from the Company. The providing of vehicle service for transport purpose with the driver subsequent to the driver’s acknowledging to provide such service through the software (application) is the different service apart from the use of service of the Company’s software (application) in calling for a car.",
        "In using the Company’s services, we do not certify nor assure you the accuracy of the data or the completeness of the contents that the data showing the traffic routes, the traffic route density, timing period on the arrival of the drivers and the fares will be absolutely right. Such data is only the assumption and possible expectation. If you sustain any additional loss, damage or expenses from such data or contents, you cannot demand any responsibility or indemnification of any damages or expenses whatever from the Company. ",
        "In using the services, you are allowed to have only one working account, if the Company should discover subsequent to the audit that you have more than on working account, the Company has a right to cut down your working account service to remain at only one working account or stop working with all your accounts regardless of whether such accounts are your tangibly actual accounts or not.",
        "You are prohibited to make any engineering modification, deletion or alteration on the Company’s software (application) regardless of whatever the reason. If the Company should discover such acts of yours, the Company can stop you from using the service immediately."
      ]
    }
  }
}
</script>
<style scoped>
p {
  margin-top: 20px;
  margin-bottom: 20px;
  text-align: left;
  text-indent: 50px;
}
.text-orange{
    color: orange !important;
    text-align: center;
    text-indent: 0;
}

p a{
  color:black;
}

ul li{
    list-style-type: decimal;
    text-align: left;
    text-indent: 20px;
}
</style>