<template>
  <div>
    <p class="text-orange">{{title}}</p>
    <p v-for="value in list" v-html="value"></p>
    <hr/>
  </div>
</template>
<script>
import jQuery from "jquery";
export default {
  data: () => {
    return { 
      title: "Personal Information Protection",
      list: [
        "The Company has a policy on the Individual Privacy on which the standard of extreme prudence and attention are put forth in protecting your personal information when you use our services. Upon your application for registration and fill in your information including other data in relation to the services of our Company you will use, it will be deemed that you have relinquished your right with the agreement to allow the Company to use your personal information in accordance with the Company’s Policy on the Individual Privacy.",
        "In this respect, the Company will use your personal information for processing in checking your identity existence whether it is accurate in accordance with the reality or not which, in this connection, some of your personal information will be disclosed as appropriate for use in providing the services in calling for the taxi in order to facilitate the drivers in providing the services and check the accuracy on your use of service for transportation including to prevent and tackle against any criminal actions or any and all matters which are against the law.",
        "Moreover, your personal information will enable the Company to transmit any data, information, warning, proposals to you for use in the enhancement, additional assistances, back up, corrections in providing the services through the Company’s (software) application comfortably, accessing, receiving good services and backing up the providing of services from the use of such Company’ (software) application completely and fully as much as possible such as in using for communication contacts, receiving recommendations, receiving complaints from you for a return of money or any other expenses for you according to these Agreements and Conditions including the providing of services or products of the Company in a variety of forms to occur in the future.",
        "Including your consent to allow the Company to use your personal information with regard to the transactions for processing, studying, database recording, analysis, transmitting information and message, warning, special offers, promotions, advertisement, any proposals in order to promote the Company’s marketing activities and expanding the services and to enable you to have the opportunity for participation for your personal benefits.",
        "Including the matter that the Company has disclosed some parts of your personal information with regard to the transactions to affiliated companies, partner companies, allies, companies providing supports to the Company for the same reasons under the scope provided by law for the Company to be competent to disclose.",
        "If you should not give your consent to let the Company take your personal information for use in whichever the marketing promotion is, you can wage your disagreement through the Company’s channel such as on website or application or any other channels of the Company, the Company will then take actions to make change accordingly within the period of not over 14 working days from the date of receiving your notification.",
        "Provided, however, that you have agreed to allow the Company to have a right to transfer some parts of your personal information to the company buying the Company’s business, the management right, software (application) for such taxi calling services or upon the Company’s business merger with the other juristic person.",
        "Except the Agreements on this part which are the proprietary right, any data relating to the drivers that have owned by the Company’s shareholding company, the company owning the proprietary right in the data of the taxis and shareholding company and the company persuading the drivers to come into the system, the transfer of any such data must receive a written consent first from the Company’s shareholding companies. ",
        "Subsequent to your consent to allow the Company to transfer some parts of your personal information under these Agreements and Conditions, if you should desire to revoke your consent, you can do so by giving your notification on the revocation through the Company’s prescribed channel provided, however, that on the result of such revocation, the Company shall still have a right to reserve its right to direct you to make use of some parts of the services or even to stop providing the services to you."
      ]
    }
  }
}
</script>
<style scoped>
p {
  margin-top: 20px;
  margin-bottom: 20px;
  text-align: left;
  text-indent: 50px;
}
.text-orange{
    color: orange !important;
    text-align: center;
    text-indent: 0;
}

p a{
  color:black;
}

ul li{
    list-style-type: decimal;
    text-align: left;
    text-indent: 20px;
}
</style>