<template>
  <div>
    <p class="text-orange">{{title}}</p>
    <p v-for="value in list" v-html="value"></p>
    <hr/>
  </div>
</template>
<script>
import jQuery from "jquery";
export default {
  data: () => {
    return { 
      title: "The Third Persons",
      list: [
        "In providing services on software (application) of the Company, you have agreed and given your consent to the Company to let the third persons make presentations on their goods and services, advertisements, publicity on data and information through the Company’s software (application).",
        "If you should have agreed to take any acceptances and offers, perform any juristic acts or enter into any contracts with any third person abovementioned, such acts shall be deemed to be your agreement directly made with the third person on such performances without having the Company getting involved with, thus, the Company shall not be obliged nor responsible for any consequences between you and such third person. The occurring juristic relation shall be deemed to be the direct responsibilities, in entirety, between you and the third person. In performing any juristic act or entering into any contract with a third person, you may need to make additional agreements and conditions apart from those set out under these Agreements and Conditions or the agreements and conditions different from those defined under these Agreements and Conditions or make an additional or a separate contract before using, having a participation in, accessing to the goods or services. In this respect, the Company has no involvement whatever with you in being bound by any such conditions and agreements or contracts, therefore, you cannot demand the Company to be responsible for any consequences arising therefrom.",
        "Except in the case of the creation of any juristic act or contract between you and the third person that the Company has agreed to provide you with the additional assistance on the services which in creating such juristic relation, performing the juristic act, the Company may set additional agreements and conditions other than these Agreements and Conditions or may have agreements and conditions different from the previous agreements and conditions or that a contract may be additionally made including the matter on the computation of the service charges and fees to be imposed on you. However, in taking any responsibility, the Company has still limited its liability only on the part agreed upon to provide you with the additional assistance.",
        "In the case which you do not wish to receive any data, information, presentations of any goods, services, advertisements, publicities of any data and information, you can forward your notification accordingly on the Company’s website or application or through any other channels prescribed by the Company. The Company will take actions to make change and correction within the period of not over 14 working days from the date of receiving the notification. But, in such case, the Company reserves its right to impose the service charges or fees at the higher rate or may deny the providing of our services to you."
      ]
    }
  }
}
</script>
<style scoped>
p {
  margin-top: 20px;
  margin-bottom: 20px;
  text-align: left;
  text-indent: 50px;
}
.text-orange{
    color: orange !important;
    text-align: center;
    text-indent: 0;
}

p a{
  color:black;
}

ul li{
    list-style-type: decimal;
    text-align: left;
    text-indent: 20px;
}
</style>