<template>
    <footer class="footer">
        <div class="container">
            <div class="row title">
                <div class="col-md-3"><a v-on:click="openModal('helpModal')">ความช่วยเหลือ</a></div>
                <div class="col-md-3"><a v-on:click="openModal('registerDriverDownload')">ลงทะเบียนขับรถ</a></div>
                <div class="col-md-3"><router-link to="/advertisement">ติดต่อโฆษณา</router-link></div>
                <div class="col-md-3"><router-link to="/help">เงื่อนไขและความเป็นส่วนตัว</router-link></div>
            </div>
            <hr/>
            <div class="row">
                <div class="col logo">

                    <div class="social-container">
                        <img class="social" src="~assets/images/cut_res-09.png">
                        <img class="social" src="~assets/images/cut_res-10.png">
                        <img class="social" src="~assets/images/cut_res-11.png">
                    </div>

                    <a href="https://itunes.apple.com/th/app/apptaxi/id1246054015?mt=8" target="_blank"><img class="download" src="~assets/images/cut_res-08.png"></a>
                    <a href="https://play.google.com/store/apps/details?id=com.apptaxi.passenger" target="_blank"><img class="download" src="~assets/images/cut_res-07.png"></a>
                    <p class="brand link"> <a href="mailto:support@app-taxi.com">© APPTAXI ,Inc </a></p>
                </div>
            </div>
        </div>
    </footer>
</template>

<script>
    export default {
        methods:{
            openModal: (name)=>{
            jQuery('#'+name).modal('show')
            console.log( 'name',name )
            }
        }
    }
</script>

<style scoped>

footer{
    padding-top: 50px;
    background-color: #212121;
    color:white;
}

hr{
    border-top: 1px solid white;
    margin: 2rem 0;
}

.logo{
    display: flex;
    justify-content:center;
    flex-wrap: wrap;
}

p{  
    text-align: left;
    margin-bottom: 5px !important;
}

img{
    cursor: pointer;
}

a{
    text-decoration: none;
    color: white;
    cursor: pointer;
}

.container{
    width: 50%;
    height: 250px;
    padding-top: 20px;
}

.row{
    font-size: medium;
}

.title .col-md-3:nth-child(1){
    flex: 0 0 21%;
}
.title .col-md-3:nth-child(2){
    flex: 0 0 24%;
}
.title .col-md-3:nth-child(3){
    flex: 0 0 20%;
}
.title .col-md-3:nth-child(4){
    flex: 0 0 35%;
}

.col-md-3{
    max-width: unset;
}

img{
    margin: 10px;
}
.social{
    width: 40px;
    height: 40px;
}
.download{
    width: 130px;
    height: 40px;
}

.brand{
    align-self: center;
}

@media (max-width: 1024px){
    .container{
        width: 100%;
        height: 200px;
    }
}

@media (max-width: 768px){
    .footer{
        padding-top: 30px;
    }

    .title .col-md-3{
        flex: 0 0 50% !important;
        margin-bottom: 30px;
    }

    .container{
        height: unset !important;
    }

    .social-container{
        width: 100%;
    }

    .brand{
        margin-bottom: 20px !important;
    }

    .title .col-md-3:nth-child(3),
    .title .col-md-3:nth-child(4){
        margin-bottom: 0 !important;
    }

}

.brand.link a{
    color: #FF9800 !important;
}
</style>