<template>
    <footer class="footer">
        <div class="container">

            	<div class="row">

                    <div class="col-lg-3 col-md-12 text-center">
                        <label class="select">
                            <select>
                                <option> ภาษาไทย </option>
                            </select>
                        </label>
            	    </div>

                    <div class="col-lg-2 col-md-6">
                    
                    	<!-- Services Section STARTS -->
                        <div id="services" class="clearfix">
                        
                        	<p>บริษัท</p>
                            <div class="font-md">
                                <p> <nuxt-link :to="'/about/'" > เกี่ยวกับเรา </nuxt-link> </p>
                                <p> <nuxt-link :to="'/support/'" > ความช่วยเหลือ </nuxt-link> </p>
                                <p> <nuxt-link :to="'/term-of-use/'" > ข้อกำหนดการใช้งาน </nuxt-link></p>
                                <p> เงื่อนไขและความเป็นส่วนตัว</p>
                        	 </div>
                        </div> 
                    	<!-- Services Section ENDS -->
                    
                    </div>
                    <!-- .col-md-4 ENDS -->
            
                
                    <div class="col-lg-2 col-md-6">
                    
						<!-- Footer Links Section STARTS -->
                        <div id="ftrLinks" class="clearfix">
                            
                            <p>ผู้โดยสาร</p>
                            <div class="font-md">
                                <p>เชิญเพื่อน</p>
                                <p>ข่าวสารโปรโมชั่น</p>
                                <p>วิธีใช้งาน</p>
                                <p>ความไว้วางใจและ</p>
                                <p>ความปลอดภัย</p>
                            </div>
                        </div> 
                		<!-- Footer Links Section ENDS -->
                                           
                    </div>
                    <!-- .col-md-4 ENDS -->
                
                
                    <div class="col-lg-3 col-md-6">
                    
                    	<!-- About Us Section STARTS -->
                        <div id="aboutUs" class="clearfix">
                            <p>คนขับ</p>
                            <div class="font-md">
                                <p>เหตุผลที่ควรขับรถกับเรา</p>
                                <p>ข่าวสารโปรโมชั่น</p>
                                <p>วิธีใช้งาน</p>
                                <p>ความปลอดภัยในการให้บริการ</p>
                            </div>
                        </div> 
                		<!-- About Us Section ENDS -->
                    
                    </div>
                    <!-- .col-md-4 ENDS -->

                    <div class="col-lg-2 col-md-12" id="contact-us">

                        <p>ติดตามเราได้ที่</p>
                        <div class="fa-padding">
                            <img src="~assets/images/bt_footer_link_facebook_noactive.png">
                            <img src="~assets/images/bt_footer_link_instagram_noactive.png" >
                            <img src="~assets/images/bt_footer_link_twitter_noactive.png" >
                            <img src="~assets/images/bt_footer_link_pinsterest_noactive.png" >
                            <img src="~assets/images/bt_footer_link_google_noactive.png" >
                            
                        </div>

                        <p>บนแอพพลิเคชั่น</p>
                        <div class="row">
                            <div class="col-md-6">
                                <img src="~assets/images/cut_res-08.png">
                            </div>

                            <div class="col-md-6">
                                <img src="~assets/images/cut_res-07.png">
                            </div>
                        </div>

                        <br/>
                        <p class="text-center link">© APPTAXI ,Inc</p>

                    </div>

                </div>
                <!-- .row ENDS -->
        </div>
    </footer>

    
</template>

<script>
    export default {
        methods: {
        }
    }
</script>

<style scoped>

@media (min-width: 768px){
    #contact-us{
        text-align: center
    }
    #contact-us p{
        text-align: center
    }
}

footer{
    padding-top: 50px;
    background-color: #212121;
    color:white;
}
p{  
    text-align: left;
    margin-bottom: 5px !important;
}

.text-center{
    text-align: center;
}

.font-md p{
    font-size:medium;
}

.fa-padding img{
    cursor: pointer;
    padding-left: 2.5px;
    padding-right: 2.5px;
}

.fa-padding img:first-child{
    padding-left: 0px;
}
.fa-padding img:last-child{
    padding-right: 0px;
}
/*
.facebook{
    width: 28px;
    height: 28px;
    background: url('~assets/images/bt_footer_link_facebook_noactive.png')
}

.facebook:hover{
    background: url('~assets/images/bt_footer_link_facebook_active.png')
}
*/
img:hover{
    cursor: pointer;
}

.select,
.select-selected {
    border: 1px solid #ccc;
    overflow: hidden; 
    height: 40px;    
    width: 140px;
    position: relative;
    display: inline;
    border: 0px;
}

select{       
    height: 40px;
    padding: 5px;
    font-size: 16px;       
    width: 140px;
    border: 0px;
    color: #CFCDCC;
    background-color: #636363;
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
}
.select:after {
    background-image: url("~assets/images/bt_dropdown_down.png");
    background-repeat: no-repeat;
    content:"";
   /* content:"\F107";
    font-family: FontAwesome; */
    color: #CFCDCC;
    padding: 4px 0px;
    /*position: absolute; right: 11px; top: 0; */
    position: absolute; right: 5px; top: 10px; 
    z-index: 1;
    text-align: center;
    width: 10%;
    height: 100%;      
    pointer-events: none;
    box-sizing: border-box;   
}

.select-selected:after{
    background-image: url("~assets/images/bt_dropdown_up.png");
    background-repeat: no-repeat;
    content:"";
   /* content:"\F107";
    font-family: FontAwesome; */
    color: #CFCDCC;
    padding: 4px 0px;
    position: absolute; right: 5px; top: 10px; 
    z-index: 1;
    text-align: center;
    width: 10%;
    height: 100%;      
    pointer-events: none;
    box-sizing: border-box;   
}

a{
    text-decoration: none;
    color: white;
}

</style>