<template>

<div class="container">
    <p>รับข่าวสารและโปรโมชั่นได้ก่อนใคร</p>
    <button class="btn">ตกลง</button>
</div>


</template>

<script>
export default {
  methods:{

  }
}
</script>

<style scoped>

</style>