<template>

<div class="modal fade" id="helpModal">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
    
      <div class="modal-header">
        <h5 class="modal-title">ความช่วยเหลือ</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>

      <div class="modal-body">
          <img src="~assets/images/map-apptaxi.png">
      </div>

      <div class="modal-footer">

      </div>

    </div>
  </div>
</div>

</template>

<script>

</script>

<style scoped>

.modal-title{
    color: #FF9800;
}
.modal-body button{
    background: none;
    border: none;
    padding: 0;
    cursor: pointer;
    flex: 0 1 40%;
}

@media (min-width: 576px){
    .modal-dialog{
        max-width: 800px;
        margin: 0px auto;
    }

    .modal{
        top: 20% !important;
    }
}

img{
    width:100%;
}
</style>