<template>

<div class="col-6 col-lg-4">
    <nuxt-link :to="'/passenger/news/1'" >
    <div class="mg-B20 img-default">
        <img src="~assets/images/pic_news_default.png" />
    </div>
    <h2>ข่าวสารที่</h2>
    <p>ใช้งานง่ายไม่กี่ขั้นตอนทำให้คุณได้รถทันทีโดยไม่ต้องรอทำให้การเดินทางของคุณเป็นไปอย่างราบรื่นตั้งแต่จุดรับถึงปลายทาง</p>
    </nuxt-link>
</div>


</template>

<script>
export default {
    props: [
        'link',
        'img',
        'title',
        'content'
    ],
    methods:{

    }
}
</script>

<style scoped>

</style>