<template>

<div class="modal fade" id="registerPassengerDownload">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
    
      <div class="modal-header">
        <h5 class="modal-title"></h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>

      <div class="modal-body">

        <h2 style="text-align: center;">แอพพิเคชั่นสำหรับผู้โดยสาร</h2>

        <br/>

        <div class="row mg-LR0">
          <div class="col container-align-center">สำหรับระบบ ios 6.13 ขึ้นไป</div>
          <div class="col">
            <img class="btn-ios-download" >
          </div>
        </div>

        <br/>

        <div class="row mg-LR0">
          <div class="col container-align-center">สำหรับระบบ Android 4.2 ขึ้นไป</div>
          <div class="col">
            <img class="btn-android-download" >
          </div>
        </div>
        

      </div>

      <div class="modal-footer">

      </div>

    </div>
  </div>
</div>

</template>

<script>

</script>

<style scoped>

</style>