<template>

<div class="modal fade centered-modal" id="registerPassenger">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title"></h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <h2 class="text-center">ให้การเดินทางของคุณง่ายขึ้น</h2>
        <br/>
        <div class="row mg-LR0">
          <div class="col">สมัครใช้งานผ่านแอพพิเคชั่น</div>
          <div class="col">
            <button class="btn btn-taxi-white" v-on:click="openModal('registerPassengerDownload')" > ดาวน์โหลดแอพพิเคชั่น </button>
          </div>
        </div>
      </div>
      <div class="modal-footer">
      </div>
    </div>
  </div>
</div>

</template>

<script>
export default {
  methods:{
    openModal: (name)=>{
      jQuery('#'+name).modal('show')
      console.log( 'name',name )
    }
  }
}
</script>

<style scoped>

</style>