<template>

<div class="modal fade" id="registerNews">
  <div class="modal-dialog" role="document">
    <div class="modal-content">

      <div class="modal-header">
        <h5 class="modal-title"></h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>

      <div class="modal-body text-center">
          <img src="~assets/images/pic_popup_register_success.png">
          <h2>ลงทะเบียนสำเร็จ</h2>
          <p>คุณจะได้รับโปรโมชั่นและข่าวสารจากเราก่อนใคร</p>
      </div>

      <div class="modal-footer">
      </div>

    </div>
  </div>
</div>

</template>

<script>
export default {
  methods:{
  }
}
</script>

<style scoped>
.container-center{
  text-align: center;
}
</style>