<template>

<div class="modal fade" id="registerDriverDownload">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
    
      <div class="modal-header">
        <h5 class="modal-title"></h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>

      <div class="modal-body">

        <h2 style="text-align: center;">ดาวน์โหลดเพื่อสมัครขับรถกับเรา</h2>

        <br/>

        <div class="row mg-LR0">
          <div class="col container-align-center">สำหรับระบบ ios 6.13 ขึ้นไป</div>
          <div class="col">
             <a href="https://itunes.apple.com/th/app/apptaxi-driver-thai/id1246063872?mt=8" target="_blank"><button><img src="~assets/images/cut_res-08.png"></button></a>
          </div>
        </div>

        <br/>

        <div class="row mg-LR0">
          <div class="col container-align-center">สำหรับระบบ Android 4.2 ขึ้นไป</div>
          <div class="col">
            <a href="https://play.google.com/store/apps/details?id=com.apptaxi.driver.th" target="_blank"><button><img src="~assets/images/cut_res-07.png"></button></a>
          </div>
        </div>
        

      </div>

      <div class="modal-footer">

      </div>

    </div>
  </div>
</div>

</template>

<script>

</script>

<style scoped>
.modal-body button{
    background: none;
    border: none;
    padding: 0;
    cursor: pointer;
    flex: 0 1 40%;
}
</style>