<template>

  <div>
    <nav id="header" class="navbar navbar-toggleable-md fixed-top navbar-light">

      <nuxt-link class="navbar-brand header-logo" :to="'/'"></nuxt-link>

      <button class="navbar-toggler navbar-toggler-right" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>

      <div class="navbar-collapse collapse" id="navbarSupportedContent">
        <ul class="navbar-nav">
          <li class="nav-item">
            <router-link class="nav-link" to="/advertisement">ติดต่อโฆษณา</router-link>
          </li>
          <li class="nav-item">
            <a class="nav-link" v-on:click="openModal('helpModal')" >ความช่วยเหลือ</a>
          </li>
          <li class="nav-item">
            <button class="btn register-btn"><a class="nav-link"  v-on:click="openModal('registerDriverDownload')">ลงทะเบียนขับรถ</a></button>
          </li>
        </ul>
      </div>

    </nav>
    

    
    <register-passenger></register-passenger>
    <register-passenger-download></register-passenger-download>
    <register-driver-download></register-driver-download>
    <register-news></register-news>

    <help-modal></help-modal>

  </div>

</template>

<script>
import jQuery from "jquery";


import RegisterPassenger from "~/components/RegisterPassenger";
import RegisterPassengerDownload from "~/components/RegisterPassengerDownload";
import RegisterDriverDownload from "~/components/RegisterDriverDownload";
import RegisterNews from "~/components/RegisterNews";

import helpModal from "~/components/helpModal";

export default {
  components: {
    RegisterPassenger,
    RegisterPassengerDownload,
    RegisterDriverDownload,
    RegisterNews,
    helpModal
  },
  mounted: () => {
    /*
                const navBar = jQuery('.navbar'),
                data = navBar.data();

                // booleans used to tame the scroll event listening a little..
                let scrolling = false,
                    scrolledPast = false;

                // transition Into
                function switchInto() {
                    // update `scrolledPast` bool
                    scrolledPast = true;
                    // add/remove CSS classes
                    navBar.removeClass(data.startcolor);
                    navBar.removeClass(data.startsize);
                    navBar.addClass(data.intocolor);
                    navBar.addClass(data.intosize);
                    console.log('into transition triggered!')
                };

                // transition Start
                function switchStart() {
                    // update `scrolledPast` bool
                    scrolledPast = false;
                    // add/remove CSS classes
                    navBar.addClass(data.startcolor);
                    navBar.addClass(data.startsize);
                    navBar.removeClass(data.intocolor);
                    navBar.removeClass(data.intosize);
                    console.log('start transition triggered!')
                }

                // set `scrolling` to true when user scrolls
                jQuery(window).scroll(() => scrolling = true);

                setInterval(() => {
                    // when `scrolling` becomes true... 
                    if(scrolling) {      
                        // set it back to false
                        scrolling = false;
                        // check scroll position
                        if (jQuery(window).scrollTop() > 50) {
                        // user has scrolled > 100px from top since last check
                        if ( !scrolledPast ) {
                            switchInto(); 
                        }
                        } else {
                        // user has scrolled back <= 100px from top since last check
                        if ( scrolledPast ) {
                            switchStart();
                        }
                        }
                    }
                    // take a breath.. hold event listener from firing for 100ms
                }, 100);
                */
  },
  methods:{
    openModal: (name)=>{
      jQuery('#'+name).modal('show')
      console.log( 'name',name )
    }
  }
};
</script>

<style scoped>
/* ===================================== */
/* ===== THE INTERESTING STUFF NOW ===== */
/* ===================================== */
.navbar {
  border: none;
  transition: 0.8s;
  color: white;
  background: white;
  height: 65px;
  display: inline-flex;
  justify-content: space-around;
}
.navbar-nav {
  padding-right: 15px;
  display: -webkit-box;
}
.navbar-brand {
  font-size: 2.25rem;
  font-weight: 900;
  /*color: #4b4b4b;*/
  margin-left: 20px !important;
}

a{
  cursor: pointer;
}

.header-logo {
  background-image: url("~assets/images/pic_header_logo_b.png");
  background-repeat: no-repeat;
  width: 140px;
  height: 52px;
}

.navbar-nav .nav-item{
    margin-left: 20px;
}

.register-btn{
  color: white;
  background-color: #FF9800;
  padding: 0 15px;
  border-radius: 0px;
}

@media (min-width: 767px){
  .navbar-collapse{
    flex-basis: unset;
    flex-grow: unset;
  }
  .navbar-toggler{
    display: none;
  }
  .navbar-collapse.collapse{
    display: unset;
  }
}
@media (max-width: 767px){
  .navbar {
      justify-content: space-between;
  }
  .navbar-brand{
    margin-left: 0 !important;
  }

  .navbar-collapse{
    background: white;
    margin-left: -16px;
    width: 100vw;
    min-width: 100vw;
  }

  .navbar-nav{
    display: block;
    padding: 0px;
    margin-bottom: 10px;
  }

  .nav-item{
    margin-left: 0 !important;
    text-align: center;
  }
}
</style>