<template>
  <div>
    <div class="container container-left container-top-bottom">
        <div class="row mg-LR0">
            <div class="col-lg-4">
                <p id="back-btn"><nuxt-link :to="'/support'" > <img class="arrow-left" src="~assets/images/bt_vdo_arrow_left.png"><span class="text-orange"> กลับไปก่อนหน้านี้</span></nuxt-link></p>
                <p ><nuxt-link :to="'/support/'" exact active-class="is-active" id="index-link">ความช่วยเหลือ</nuxt-link></p>
                <p><nuxt-link :to="'/support/howto'" active-class="is-active">วิธีการใช้งาน</nuxt-link></p>
                <p><nuxt-link :to="'/support/account'" active-class="is-active">บัญชีและโปรไฟล์</nuxt-link></p>
                <p><nuxt-link :to="'/support/travel'" active-class="is-active">การเดินทาง</nuxt-link></p>
                <p><nuxt-link :to="'/support/opinion'" active-class="is-active">ความคิดเห็นของการบริการ</nuxt-link></p>
                <p><nuxt-link :to="'/support/security'" active-class="is-active">ความไว้วางใจและความปลอดภัย</nuxt-link></p>
                <p><nuxt-link :to="'/support/policy'" active-class="is-active">นโยบาย</nuxt-link></p>
                <p><nuxt-link :to="'/support/recommend'" active-class="is-active">ข้อเสนอแนะ</nuxt-link></p>
                <p><nuxt-link :to="'/support/contact'" active-class="is-active">ติดต่อ</nuxt-link></p>
            </div>
            <div class="col-lg-8" >
                <nuxt-child />
            </div>
        </div>
    </div>
  </div>
</template>

<script>
export default {
  //layout: 'leftnav',
  asyncData ({ req }) {
    return {
      name: req ? 'server' : 'client'
    }
  },
  mounted: () => {
      const navBar = jQuery('.navbar'),
      data = navBar.data();
      navBar.removeClass(data.startcolor);
      navBar.removeClass(data.startsize);
      navBar.addClass(data.notindexColor);
      navBar.addClass(data.notindexSize);

      jQuery("#back-btn").hide()
  },
  destroyed: () =>{
      const navBar = jQuery('.navbar'),
      data = navBar.data();
      navBar.addClass(data.startcolor);
      navBar.addClass(data.startsize);
      navBar.removeClass(data.notindexColor);
      navBar.removeClass(data.notindexSize);
  }
}
</script>

<style>
.container-top-bottom{
    margin-top: 6em;
    margin-bottom: 5em;
}

.container-left{
    text-align: unset !important;
}

a{
    text-decoration: none;
    color: #9C9899;
}

a:focus,
a:hover{
    text-decoration: none;
    color: #9C9899;
}

.is-active{
    font-weight: 600;
    color: black !important;
    text-decoration: none;
}
</style>
