<template>
    <div class="container">
        <div class="row">
            <div class="col">
                <h1 class="text-orange">เงื่อนไขและความเป็นส่วนตัว</h1>
            </div>
        </div>
        <div class="row">
            <div class="col">
                <p>ข้อกำหนดการใช้งาน</p>
                <div class="topic-list">
                    <ul>
                        <li><router-link to="/help/termsofuse/drivers">สำหรับ Drivers (คนขับรถ)</router-link></li>
                        <li><router-link to="/help/termsofuse/drivers/en">for Drivers - English version</router-link></li>
                        <li><router-link to="/help/termsofuse/passengers">สำหรับ Passengers (ผู้โดยสาร)</router-link></li>
                        <li><router-link to="/help/termsofuse/passengers/en">for Passengers - English version</router-link></li>
                    </ul>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col">
                <p>นโยบายด้านความเป็นส่วนตัว</p>
                <div class="topic-list">
                    <ul>
                        <li><router-link to="/help/privacy/drivers">ของ Drivers (คนขับรถ)</router-link></li>
                        <li><router-link to="/help/privacy/drivers/en">for Drivers - English version</router-link></li>
                        <li><router-link to="/help/privacy/passengers">ของ Passengers (ผู้โดยสาร)</router-link></li>
                        <li><router-link to="/help/privacy/passengers/en">for Passengers - English version</router-link></li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
</template>

<style scoped>
.container{
    margin-top:80px;
}

.text-orange {
  color: orange !important;
  font-size: xx-large;
}

p {
  margin-top: 20px;
  margin-bottom: 20px;
}

.topic-list{
    width: 300px;
    text-align: center;
    margin: auto;
}

.topic-list ul{
    text-align: left;
}

li{
    width: max-content;
}
</style>