<template>
  <div>
    
    <p class="p-header">
        <nuxt-link :to="'/support'" >ความช่วยเหลือ </nuxt-link>  
        <img class="arrow-right" src="~assets/images/bt_vdo_arrow_right.png">
        <nuxt-link :to="'/support'" >คำถามที่พบบ่อย </nuxt-link>  
        <img class="arrow-right" src="~assets/images/bt_vdo_arrow_right.png">
        ฉันจะเปลี่ยนบัญชีผู้ใช้ได้อย่างไร
    </p>

    <h2 class="text-orange">ฉันจะเปลี่ยนบัญชีผู้ใช้ได้อย่างไร</h2>
    
    <p>
        ข้อกำหนดการใช้งานคุณสามารถใช้บริการของเราได้หลายวิธี ไม่ว่าจะเป็นการค้นหาหรือแบ่งปันข้อมูล ติดต่อสื่อสารกับคนอื่นหรือสร้างเนื้อหาใหม่
        เมื่อคุณแบ่งปันข้อมูลนี้กับเราเช่น ด้วยการสร้างบัญชีเราจะสามารถทำให้บริการเหล่านั้นดียิ่งขึ้นได้ด้วยการแสดงผลการค้นหาและโฆษณาที่
        เกี่ยวข้องมากยิ่งขึ้น ช่วยคุณติดต่อกับบุคคลอื่นๆหรือทำให้การแบ่งปันกับผอื่นรวดเร็วและง่ายดายยิ่งขึ้น เนื่องจากคุณใช้บริการของเราเราจึง
        ต้องการให้คุณทราบอย่างชัดเจนว่าเราใช้ข้อมูลของคุณอย่างไรและวิธีการที่คุณสามารถใช้เพื่อปกป้องข้อมูลส่วนบุคคลของคุณ
    </p>

  </div>
</template>



<script>
export default {
  //layout: 'leftnav',
  asyncData ({ req }) {
    return {
      name: req ? 'server' : 'client'
    }
  },
  mounted: () => {
    jQuery("#back-btn").show()
    jQuery("#index-link").addClass('link-is-active')
  },
  beforeDestroy: () =>{
    jQuery("#back-btn").hide()
    jQuery("#index-link").removeClass('link-is-active')
  }
}
</script>

<style scoped>

.text-orange{
    color: orange !important;
}

p{
    margin-top: 20px;
    margin-bottom: 20px;
}

p.p-header{
    font-weight: 600;
    margin-top: 0px;
}

a{
    color:black;
}

</style>