<template>
  <div>
    <h1 class="text-orange">ความช่วยเหลือ</h1>
    <br/>

    <p style="font-weight: 600;">คำถามที่พบบ่อย</p>
    <br/>

    <p><nuxt-link :to="'/support/change-account'" exact active-class="is-active">ฉันจะเปลี่ยนบัญชีผู้ใช้ได้อย่างไร</nuxt-link></p>
    <hr/>

    <p>ฉันสามารถยกเลิกการเดินทางได้หรือไม่</p>
    <hr/>
    
    <p>บัญชีผู้ใช้ของฉันถูกระงับต้องทำอย่างไร</p>
    <hr/>

    <p>ฉันจะเปลี่ยนหมายเลขโทรศัพท์ที่ใช้อยู่ได้หรือไม่</p>
    <hr/>

    <p>ฉันจะลดค่าใช้จ่ายในการเดินทางได้อย่างไร</p>
    <hr/>

    <p>ค่าเดินทางจะถูกคิดอย่างไร</p>
    <hr/>

  </div>
</template>

<style scoped>

.text-orange{
    color: orange !important;
}

p{
    margin-top: 20px;
    margin-bottom: 20px;
}

p a{
  color:black;
}
</style>