<template>
  <div>
    <p class="text-orange">เกี่ยวกับบริการของเรา</p>
    <p>
      บริษัทเป็นผู้ให้บริการ(ซอร์ฟแวร์) แอพพลิเคชั่นในการบริการเรียกยานพาหนะหรือรถโดยสารสาธารณะผ่านระบบอินเตอร์เน็ต  ซึ่งมีวัตถุประสงค์ในการให้ความช่วยเหลือบุคคลใดๆ หรือผู้โดยสารซึ่งเป็นบุคคลที่สามในการ เดินทาง เคลื่อนย้าย ไม่ว่าจะเป็น คน สัตว์ สิ่งของ จากจุดหมายหนึ่ง ไปยังจุดหมายหนึ่ง หรือในหลายจุดหมายปลายทาง โดยในการให้บริการดังกล่าวถึงแม้บริษัทจะจัดให้มีบุคลากร ศูนย์บัญชาการ (Customer Care) มีการให้ข้อมูล ความรู้ นำเสนอข้อมูลและวิธีการใดๆ ในการให้บริการและเรื่องอื่นๆ  ไม่ว่ากับทั้งบุคคลที่สาม ผู้โดยสาร หรือ คนขับรถ หรือความช่วยเหลือใดๆ นอกจากการเรียกรถผ่านทางระบบอินเตอร์เน็ต ก็เป็นแต่เพียงความช่วยเหลือเพิ่มเติม รองรับ แก้ไข ให้ในการบริการเรียกรถผ่านทาง(ซอร์ฟแวร์) แอพพลิเคชั่นของบริษัทได้สะดวก เข้าถึง  ได้รับการบริการที่ดี แก้ไข และรองรับในการให้บริการจากการใช้(ซอร์ฟแวร์) แอพพลิเคชั่นดังกล่าวของบริษัท ให้ได้ครบถ้วนมากที่สุด รวมถึงจัดกิจกรรมส่งเสริมทางการตลาด ให้สิทธิประโยชน์ใดๆ ที่มีลักษณะใกล้เคียงการให้สวัสดิการลูกจ้างหรือพนักงาน ก็เป็นเพียงการทำการตลาดจูงใจให้ท่าน หรือบุคคลใดมาใช้บริการกับบริษัทเท่านั้น
    </p>
    <p>
      โดยบริษัทไม่ได้ดำเนินการในลักษณะเป็นเจ้าของรถยนต์ในการบริการด้วยตนเอง หรือเป็นผู้ให้บริการในการใช้ยานพาหนะในขนส่งใดๆ หรือจะถือว่าเป็นเสมือนหนึ่งผู้ให้บริการขนส่งทางยานพาหนะใดๆ หรือเป็นผู้ประกอบกิจการให้เช่ายานพาหนะพร้อมคนขับ ท่าน คนขับรถ หรือบุคคลใดๆ ที่มาใช้บริการแอพพลิเคชั่นดังกล่าวจึงไม่ถือว่าท่านเป็นลูกจ้าง พนักงาน ตัวแทนของบริษัท 
    </p>
    <p>
      การกระทำใดๆ ของท่าน คนขับรถ หรือบุคคลใดที่เป็นบริวารของท่าน ที่ก่อให้เกิดความสูญเสีย ความเสียหาย ละเมิด เกิดข้อร้องเรียน ข้อพิพาท การกระทำใด และ/หรือการละเว้นการใดๆ หรือการกระทำผิดกฎหมายใดๆ รวมถึงเรื่องอื่นๆ ที่มีผลเสียหายตามมา บริษัทจะไม่มีหน้าที่รับผิดชอบใดๆ ทุกกรณี
    </p>
    <p>
      ทั้งนี้รวมถึงท่าน ไม่มีสิทธิ ทำให้บุคคลใดบุคคลหนึ่ง หรือบุคคลอื่นใดสำคัญผิดว่าท่านได้ทำไปในฐานะลูกจ้าง พนักงาน หรือตัวแทนของบริษัท
    </p>
    <hr/>

  </div>
</template>

<style scoped>
p {
  margin-top: 20px;
  margin-bottom: 20px;
  text-align: left;
  text-indent: 50px;
}

.text-orange {
  color: orange !important;
  text-align: center;
  text-indent: 0;
}

p a {
  color: black;
}
</style>