<template>
  <div>
    <p class="text-orange">{{title}}</p>
    <p v-for="value in list" v-html="value"></p>
    <hr/>
  </div>
</template>

<script>
import jQuery from "jquery";
export default {
  data: () => {
    return { 
      title: "การแก้ไขและเพิ่มเติมข้อตกลง/เงื่อนไข",
      list: [
        "ในการเปลี่ยนแปลง แก้ไข เพิ่มเติม ดัดแปลง ตัดทอน ลดทอน ข้อตกลงและเงื่อนไขในฉบับนี้ใดๆ รวมทั้งเงื่อนไขและข้อตกลงและเงื่อนไขอื่น สัญญาอื่นๆ ที่เกี่ยวข้อง  หรือประกาศต่างที่เกี่ยวข้องกับเงื่อนไขและข้อตกลงนี้ จะประกาศให้ท่านทราบผ่านทางเว็บไซด์ของบริษัท App-taxi.com.  หรือผ่านทางแอพพลิเคชั่นจะมีผลบังคับใช้เมื่อมีการปรับปรุง เปลี่ยนแปลงครั้งล่าสุด โดยไม่ต้องแจ้งให้ท่านทราบล่วงหน้าหรือได้รับการอนุมัติเป็นลายลักษณ์อักษรจากบริษัทก่อน รวมถึงไม่ต้องได้รับการยินยอมจากท่านก่อน เป็นหน้าที่ของท่านในการรับผิดชอบตรวจสอบข้อตกลงและเงื่อนไขดังกล่าวอย่างต่อเนื่อง หากมีการเปลี่ยนแปลงข้อตกลงหรือเงื่อนไขใดๆ ไม่ว่าท่านจะได้ตรวจสอบดังกล่าวหรือไม่ ถือว่าท่านได้ให้การยินยอมและยอมรับในการเปลี่ยนแปลงเงื่อนไขและข้อตกลงดังกล่าวแล้ว",
        "หากท่านไม่พอใจข้อตกลงและเงื่อนไขปรับปรุง เปลี่ยนแปลงครั้งล่าสุด ท่านมีสิทธิระงับใช้บริการโดยการลบหรือถอนซอร์ฟแวร์(แอพพลิเคชั่น) อุปกรณ์มือถือ แท็บเล็ต หรืออุปกรณ์ใดๆ ที่ท่านติดตั้งซอร์ฟแวร์ (แอพพลิเคชั่น) ",
        "<font color='red'>พร้อมกับถอนเงินออกจากบัญชีธนาคารที่ผูกไว้กับซอร์ฟแวร์ (แอพพลิเคชั่น) ทั้งหมด ในกรณีที่มีเงินเหลืออยู่ในบัญชีธนาคารดังกล่าว</font>",
      ]
    }
  }
}
</script>
<style scoped>
p {
  margin-top: 20px;
  margin-bottom: 20px;
  text-align: left;
  text-indent: 50px;
}
.text-orange{
    color: orange !important;
    text-align: center;
    text-indent: 0;
}

p a{
  color:black;
}

ul li{
    list-style-type: decimal;
    text-align: left;
    text-indent: 20px;
}
</style>