<template>
  <div>
    <p class="text-orange">{{title}}</p>
    <p v-for="value in list" v-html="value"></p>
    <hr/>
  </div>
</template>

<script>
import jQuery from "jquery";
export default {
  data: () => {
    return { 
      title: "การคิดค่าบริการ ค่าธรรมเนียม อื่นๆ",
      list: [
        "โดยการคิดค่าบริการหรือค่าธรรมเนียมดังกล่าว อาจแตกต่างกันไปตามแต่ละครั้ง ตามแต่ละสถานการณ์ผู้โดยสาร และบุคคลผู้ใช้บริการอยู่ที่การข้อกำหนดของบริษัทในบางช่วงเวลา และ การจัดการทางการตลาดของบริษัทในช่วงนั้นซึ่งบริษัทจะมีการคิดค่าบริการ และ ค่าธรรมเนียม เท่าไรและอย่างไร จะมีการประกาศให้ทราบผ่านทางเว็บไซด์ App-taxi.com.ของบริษัท หรือ ทางโซเชียลมีเดีย โดยบริษัทสามารถเปลี่ยนแปลงค่าบริการ หรือ ค่าธรรมเนียมได้เสมอ แต่จะไม่มีผลย้อนหลัง โดยจะประกาศให้ทราบก่อนล่วงในระยะเวลาสมควรเมื่อมีการเปลี่ยนแปลงดังกล่าว ผ่านทางเว็บไซด์ App-taxi.com.ของบริษัท หรือ สื่ออื่นๆ",
        "ในส่วนช่องทางการชำระเงินท่านจะต้องชำระเงินมายังช่องทางที่บริษัทจัดเตรียมไว้ให้เท่านั้น โดยสามารถชำระเงินมาทางที่บริษัทจะมีการประกาศให้ทราบผ่านทางเว็บไซด์ App-taxi.com.ของบริษัท หรือ สื่ออื่นๆ             ",
        "หากท่านชำระเงินช่องทางอื่นใด หรือ ชำระจากบุคคลอื่นใดที่ไม่มีอำนาจ ที่บริษัทไม่ได้ระบุไว้อย่างชัดเจน ท่านไม่สิทธิที่จะเรียกร้องความรับผิดชอบและความเสียหายใดๆ กับทางบริษัท",
      ]
    }
  }
}
</script>
<style scoped>
p {
  margin-top: 20px;
  margin-bottom: 20px;
  text-align: left;
  text-indent: 50px;
}
.text-orange{
    color: orange !important;
    text-align: center;
    text-indent: 0;
}

p a{
  color:black;
}

ul li{
    list-style-type: decimal;
    text-align: left;
    text-indent: 20px;
}
</style>