<template>
  <div>
    <p class="text-orange">{{title}}</p>
    <p v-for="value in list" v-html="value"></p>
    <hr/>
  </div>
</template>

<script>
import jQuery from "jquery";
export default {
  data: () => {
    return { 
      title: "กรรมสิทธิ์ในทรัพย์สินทางปัญญา",
      list: [
        "ข้อมูลใดๆ ในแอพพลิเคชั่น (ซอร์ฟแวร์) ของบริษัท จะมีบริษัท แอพ แท็กซี่ จำกัด เป็นเจ้าของและดูแลรักษาแอพพลิเคชั่น (ซอร์ฟแวร์) นี้เว้นแต่จะกำหนดเป็นอย่างอื่น ข้อมูลทั้งหลายหรือข้อมูลอื่นใดมีอยู่ในแอพพลิเคชั่น (ซอร์ฟแวร์)นี้ เป็นสิทธิของบริษัทที่ได้รับความคุ้มครองตามกฎหมายลิขสิทธิ์ เครื่องหมายการค้า และสิทธิในความเป็นเจ้าของไม่ว่าในรูปแบบใดๆ ก็ตาม",
        "ท่านยอมรับและรับรู้ว่าแอพพลิเคชั่น (ซอร์ฟแวร์) นี้ รวมถึงข้อความ เนื้อหาทั้งหมดหรือบางส่วน ไม่ว่าจะเป็นในรูปแบบ โปรแกรมทางคอมพิวเตอร์ / รูปภาพ / วีดีโอ / เสียง หรือภาพกราฟิกทั้งหลาย ไม่อาจจะทำซ้ำ จำแนกแจกจ่ายหรือตีพิมพ์โดยบุคคลใดๆ ไม่ว่าเพื่อวัตถุประสงค์ใด เว้นแต่ได้รับความยินยอมเป็นลายลักษณ์อักษรจากบริษัท หรือบริษัทแอพแท็กซี่จำกัด  หรือ มีข้อความระบุไว้เป็นอย่างอื่นในโซเชียลมีเดียอื่นๆที่เกี่ยวข้องกับธุรกิจของบริษัทนี้   ว่าบรรดาข้อมูล ไฟล์ ภาพ หรือเอกสาร ที่ปรากฏในแอพพลิเคชั่น (ซอร์ฟแวร์ ) นี้ ท่านสามารถมีสิทธิ ดาวน์โหลด อัพโหลดเนื้อหาและพิมพ์เนื้อหาดังกล่าว เพื่อการใช้งานส่วนตัว และ การใช้งานที่มิใช่เพื่อประโยชน์ในทางการค้า  โดยท่านตกลงที่จะเก็บบรรดาข้อความซึ่งเกี่ยวกับการแสดงถึงลิขสิทธิ์และสิทธิในความเป็นเจ้าของอื่นใดที่ปรากฏในแอพพลิเคชั่น (ซอร์ฟแวร์ ) นี้ไว้ด้วย  ",
        "รวมถึงห้ามท่านลงแจ้งหรือประกาศ โฆษณา ทำซ้ำ ดัดแปลง ทำให้ปรากฏโดยวิธีหนึ่งวิธีใด จำแนกแจกจ่ายในทางหนึ่งทางใด ในเนื้อหา ข้อมูล หรือข้อความทั้งหมดหรือบางส่วนที่มีลิขสิทธิ์ เครื่องหมายการค้า สิทธิบัตร ที่เป็นกรรมสิทธิ์ของบุคคลอื่นๆ โดยไม่ได้รับความยินยอมจากเจ้าของกรรมสิทธิ์นั้นด้วย อีกทั้งห้ามลบลิขสิทธิ์ เครื่องหมายการค้า หรือข้อความ ประกาศใดๆ ที่เกี่ยวกับกรรมสิทธิ์อื่นๆ ที่มีอยู่ในการให้บริการ",
      ]
    }
  }
}
</script>
<style scoped>
p {
  margin-top: 20px;
  margin-bottom: 20px;
  text-align: left;
  text-indent: 50px;
}
.text-orange{
    color: orange !important;
    text-align: center;
    text-indent: 0;
}

p a{
  color:black;
}

ul li{
    list-style-type: decimal;
    text-align: left;
    text-indent: 20px;
}
</style>