<template>
  <div>
    <p class="text-orange">การชำระเงิน</p>

    <p v-for="value in list"  v-html="value">
    </p>

    <hr/>

  </div>
</template>
<script>
import jQuery from "jquery";
export default {
  data: () => {
    return { 
      list: [
        "ในการใช้บริการเรียกรถผ่านแอพพลิเคชั่น (ซอร์ฟแวร์) บริษัทมีการคิดค่าบริการ หรือ ค่าธรรมเนียมกับท่าน โดยการคิดค่าบริการ ค่าธรรมเนียมใดๆ ท่านจะต้องชำระเงินมาก่อนล่วงหน้าเพื่อเป็นค่าบริการ ค่าธรรมเนียม โดยบริษัทจะไม่มีการคืนค่าบริการ หรือ ค่าธรรมเนียมดังกล่าวกับท่าน ไม่ว่าท่านมีความประสงค์ต้องการยกเลิกหรือระงับใช้บริการกับบริษัทหรือไม่ หรือมีความประสงค์ หรือวัตถุประสงค์ในการชำระเงินดังกล่าวอย่างไร",
        "รวมถึงไม่นำเงินค่าบริการ ค่าธรรมเนียมที่ชำระมาล่วงหน้า ไปชำระค่าใช้จ่ายอื่นๆ เว้นแต่มีข้อตกลงหรือสัญญาเพิ่มเติมต่างหากกับบริษัทนอกจากข้อตกลงและเงื่อนไขนี้",
        "ในการคิดค่าบริการหรือค่าธรรมเนียมในการเรียกรถกับผู้โดยสารหรือบุคคลใด เพื่อเป็นค่าใช้บริการซอร์ฟแวร์ (แอพพลิเคชั่น) ของบริษัทนั้น ท่านยินยอมและรับทราบว่าเงินที่ท่านเรียกเก็บกับผู้โดยสารหรือบุคคลใด เป็นเงินที่ท่านจะต้องส่งคืนให้กับบริษัทแยกต่างหากจากค่าโดยสารและทิป",
        "เว้นแต่ในกรณีค่าโดยสาร เช่น ค่าโดยสารตามค่ามิเตอร์ รวมถึงค่าทิปนั้น การชำระเงินดังกล่าวเป็นเรื่องระหว่างท่าน กับผู้โดยสารหรือบุคคลใดๆ โดยตรง ค่าโดยสาร รวมถึงค่าทิปเหล่านี้บริษัทไม่มีความรับผิดชอบใดๆ หากท่านไม่ได้รับค่าโดยสาร หรือ ค่าบริการ เต็มจำนวน หรือตามที่ท่านได้ตกลงกับผู้โดยสารหรือบุคคลใดๆ ไว้ เว้นแต่ในกรณีบริษัทมีการจัดช่องทางการชำระเงินเพื่ออำนวยความสะดวกหรือจัดการส่งเสริมการตลาด โปรโมชั่นให้กับผู้โดยสารหรือบุคคลใดๆ หรือท่าน เช่น ",
        "<font color='red'>ผู้โดยสารชำระเงินด้วยบัตรเครดิตและท่านไม่ได้รับเงินที่ถูกต้องเต็มจำนวนเกิดจากความผิดพลาดการชำระเงินของบริษัท </font>",
        "หรือ เช่น บริษัทจัดโปรโมชั่นส่วนลดค่าโดยสารให้ผู้โดยสารหรือบุคคลใด ผ่านทางช่องทางการชำระเงินที่บริษัทจัดเตรียมอำนวยความสะดวกไว้ให้ และท่านไม่ได้รับถูกต้องครบถ้วน โดยเกิดจากความผิดพลาดของบริษัท",
        "อัตราค่าบริการหรือค่าธรรมเนียมนั้น บริษัทจะจัดเก็บกับท่านในอัตราเท่าใด บริษัทจะมีการประกาศให้ท่านทราบผ่านทางแอพพลิเคชั่น หรือหน้าเว็บไซด์ของบริษัท ",
        "บริษัทอาจจะจัดเก็บค่าอัตราค่าบริการหรือค่าธรรมเนียมแตกต่างกันไปช่วงเวลาใดๆ ก็ได้ เป็นไปตามนโยบายบริษัท โดยบริษัทจะมีการประกาศให้ท่านทราบผ่านทางแอพพลิเคชั่น หรือหน้าเว็บไซด์ของบริษัท และอัตราค่าบริการหรือค่าธรรมเนียมของท่านอาจแตกต่างกับบุคคลอื่นก็ได้ ขึ้นอยู่กับการจัดการส่งเสริมการตลาดและกิจกรรมการตลาดในช่วงนั้น ซึ่งบริษัทจะมีการแจ้งให้ท่านทราบเช่นกัน"
      ]
    }
  }
}
</script>
<style scoped>
p {
  margin-top: 20px;
  margin-bottom: 20px;
  text-align: left;
  text-indent: 50px;
}
.text-orange{
    color: orange !important;
    text-align: center;
    text-indent: 0;
}

p a{
  color:black;
}

ul li{
    list-style-type: decimal;
    text-align: left;
    text-indent: 20px;
}
</style>