<template>
  <div>
    <p class="text-orange">การลงทะเบียนและการใช้บริการ</p>

    <ul>
      <li v-for="value in list">
        {{ value }}
      </li>
    </ul>
    
    <hr/>

  </div>
</template>

<script>
import jQuery from "jquery";
export default {
  data: () => {
    return { 
      list: [
        "ในการสมัครลงทะเบียนและการใช้บริการท่านจะต้องรับรองและยืนยันว่าเป็นบุคคลที่มีสิทธิและมีความสามารถตามกฎหมาย เป็นบุคคลที่มีอำนาจผูกพันทำสัญญาได้ด้วยตนเอง ไม่เป็นบุคคลไร้ความสามารถ หรือบุคคลที่ต้องห้ามด้วยเหตุประการใด และ/หรือบุคคลที่ต้องทำสัญญาแบบมีเงื่อนไข เช่น ได้รับความยินยอมก่อน ไม่นั้นท่านจะไม่ได้รับรองหรือคุ้มครองสิทธิตามกฎหมายและตามข้อตกลงและเงื่อนไขนี้",
        "ในการลงทะเบียนท่านจะต้องให้การรับรองและยืนยันว่าข้อมูลที่กรอกเข้ามาเป็นข้อมูลที่ถูกต้องแท้จริง และเป็นข้อมูลส่วนตัวของท่านเอง ไม่นำข้อมูลของบุคคลอื่นใดมากรอก โดยการสมัครเป็นไปด้วยความสมัครใจของตัวท่าน ด้วยจุดประสงค์ของการสมัครเพื่อประโยชน์ของตัวท่านเอง ",
        "ในการลงทะเบียนเมื่อท่านได้กรอกข้อมูลถูกต้องครบถ้วน และได้แสดงความจำนงสมัครการใช้บริการเข้ามาแล้ว บริษัทมีอำนาจพิจารณาในการให้การอนุมัติ หรือที่จะปฏิเสธการให้บริการกับท่านได้ โดยไม่ต้องระบุหรือแจ้งเหตุผลใดๆ ให้ท่านทราบ แต่การปฏิเสธดังกล่าวท่านมีสิทธิที่จะสมัครลงทะเบียนเข้ามาใหม่ได้",
        "ภายหลังจากการลงทะเบียนสมัครเข้ามา เมื่อท่านได้รับการรับอนุมัติให้ใช้บริการแล้ว แต่ทางบริษัทตรวจพบหรือมีข้อสงสัยใดๆ ว่าข้อมูลที่ท่านให้มาไม่ถูกต้อง ไม่เพียงพอ ไม่เป็นข้อมูลที่ถูกต้องล่าสุด หรือท่านไม่เป็นบุคคลตามเกณฑ์ที่บริษัทกำหนด บริษัทขอสงวนสิทธิในการระงับใช้บริการของท่านชั่วคราว หรืออาจถึงขั้นยกเลิกการให้บริการท่านได้ โดยไม่ต้องแจ้งให้ท่านทราบล่วงหน้า",
        "ในการใช้บริการท่านจะมีรหัส (Password) ในการเข้าสู่บัญชีเพื่อใช้บริการ รวมถึงการเข้าสู่บัญชีใช้งานโดยผ่านทาง Facebook หรือ อีเมล์ ท่านต้องเก็บไว้เป็นความลับ ห้ามท่านนำข้อมูลดังกล่าวเปิดเผยให้กับบุคคลใด หรือ ห้ามท่านนำบุคคลหนึ่ง บุคคลใดมาใช้สิทธิในบัญชีแทนท่าน โอน จำหน่ายสิทธิในบัญชีดังกล่าวของตัวท่านให้บุคคลใด หากพบการกระทำดังกล่าวบริษัทจะขอยกเลิกการให้บริการกับท่านในบัญชีดังกล่าวโดยทันที และในกรณีเกิดความเสียหายดังกล่าวจากการเก็บรหัสที่ใช้การบริการไม่ดี หรือ นำข้อมูลดังกล่าวเปิดเผยให้กับบุคคลใด หรือ นำบุคคลหนึ่งบุคคลใดมาใช้สิทธิบัญชีแทน โอน จำหน่ายสิทธิในบัญชีดังกล่าว บริษัทจะไม่รับผิดชอบต่อความเสียหายใดๆ ทุกกรณีทั้งสิ้น",
        "ในการใช้บริการท่าน มีสิทธิเข้าถึงการใช้บริการ ตามแต่ที่บริษัทอนุญาตให้เข้าถึงได้",
        "ในการใช้บริการเป็นหน้าที่ของท่านในการดาวน์โหลดซอร์ฟแวร์ โดยต้องตรวจสอบให้แน่ใจว่าท่านได้ดาว์นโหลดซอร์ฟแวร์ที่ถูกต้อง บริษัทไม่มีหน้าที่รับผิดชอบใดๆ หากท่านไม่มีอุปกรณ์ เครื่องมือที่เหมาะสมในดาว์นโหลดซอร์ฟแวร์ หรือท่านดาว์นโหลดซอร์ฟแวร์ไม่ถูกต้อง หรือผิดเวอร์ชั่นในอุปกรณ์ใดๆ ของท่านเอง",
        "ภายหลังที่ดาวน์โหลด(ซอร์ฟแวร์) แอพพลิเคชั่นแล้ว  หากเกิดความล่าช้า ผิดพลาด ไม่ถูกต้องครบถ้วน หยุดชะงัก ไม่สามารถเข้าถึงระบบ เนื้อหา ข้อมูล ข่าวสาร อันเนื่องมาจากความบกพร่องประการใดๆ  ไม่สามารถเข้าถึง การใช้ (ซอร์ฟแวร์) แอพพลิเคชั่นเป็นไปอย่างต่อเนื่อง บริษัทไม่ต้องรับผิดชอบค่าความเสียหายใดๆ กับท่าน ท่านไม่มีสิทธิเรียกร้องค่าเสียหายใดๆ ที่เกิดขึ้นกับบริษัทได้ อีกทั้งไม่รับผิดชอบความเสียหายใดๆ ที่เกิดจากโปรแกรมหรือไฟล์ที่อาจสร้างความเสียหายต่อระบบของผู้ใช้(ซอร์ฟแวร์) แอพพลิเคชั่น ซึ่งรวมถึงไวรัส สไปแวร์ สแปม โทรจัน เวิร์ม หรือซอฟท์แวร์หรือไฟล์ หรือข้อมูลรบกวนซึ่งเป็นอันตรายใดๆ ที่อาจสร้างความเสียหายดังกล่าว  เว้นแต่ความเสียหายดังกล่าวเกิดจากความผิดของบริษัทโดยจงใจ",
        "ในการให้บริการของบริษัท บริษัทจะมีการช่วยเหลือ ทั้งด้านการให้ข้อมูล ข่าวสาร รวมถึงให้คำแนะนำ ซึ่งอยู่ที่ท่านจะใช้วิจารณญาณในการพิจารณาว่าจะเชื่อ หรือ กระทำตามหรือไม่ หากเกิดความเสียหายใดๆ จากข้อมูล ข่าวสารรวมถึงการให้คำแนะนำ ท่านไม่สิทธิเรียกร้องค่าเสียหายใดๆ ที่เกิดขึ้นกับบริษัทได้",
        "ในการใช้บริการ บริษัทมีกฎเกณฑ์ กฎระเบียบของบริษัท รวมถึงมีการกำหนดคุณสมบัติของผู้ใช้บริการ ที่ท่านต้องปฏิบัติตาม และไม่ละเว้นการปฏิบัติ หากการกระทำใดๆ ของท่านไม่ปฏิบัติตามกฎระเบียบ หรือละเว้นการปฏิบัติใดๆ บริษัทสามารถมีสิทธิระงับการใช้บริการชั่วคราว การเข้าถึงการใช้บริการใดๆ จนไปถึงยกเลิกการให้บริการได้โดยไม่ต้องแจ้งให้ทราบล่วงหน้า",
        "ในการใช้บริการ ท่านต้องอยู่ภายใต้กฎหมาย ปฏิบัติตามกฎหมาย หากการกระทำใดๆ ของท่านไม่ปฏิบัติตามกฎหมาย หรือละเว้นการปฏิบัติใดๆ ตามกฎหมายบริษัทสามารถมีสิทธิระงับการใช้บริการชั่วคราว การเข้าถึงการใช้บริการใดๆ จนไปถึงยกเลิกการให้บริการได้โดยไม่ต้องแจ้งให้ทราบล่วงหน้า รวมถึงภายหลังมีกฎหมายฉบับใหม่ประกาศออกมาท่านเคยมีคุณสมบัติที่สามารถใช้บริการได้ แต่กฎหมายที่ประกาศออกมาบังคับใช้ท่านไม่มีคุณสมบัติดังกล่าว หรือมีคุณสมบัติต้องห้าม บริษัทสามารถมีสิทธิระงับการใช้บริการชั่วคราว การเข้าถึงการใช้บริการใดๆ จนไปถึงยกเลิกการให้บริการได้โดยไม่ต้องแจ้งให้ทราบล่วงหน้าได้เช่นกัน",
        "ในการใช้บริการ(ซอร์ฟแวร์) แอพพลิเคชั่น ท่านต้องใช้อย่างเหมาะสมและถูกวัตถุประสงค์การใช้งาน หากบริษัทสงสัย หรือพบว่าท่านใช้บริการ ไม่ถูกวัตถุประสงค์หรือใช้วัตถุประสงค์อื่นนอกเหนือจากวัตถุประสงค์ในการให้บริการของบริษัท บริษัทมีสิทธิระงับการใช้งานชั่วคราว การเข้าถึงการใช้งานใดๆ จนไปถึงยกเลิกการให้บริการได้โดยไม่ต้องแจ้งให้ทราบล่วงหน้าได้",
        "ในการให้ข้อมูลทั้งข้อมูลส่วนตัวของท่าน หรือข้อมูลใดๆ ที่เกี่ยวข้องกับการใช้บริการหากมีการเปลี่ยนแปลงข้อมูลใดๆ ท่านต้องแจ้งการเปลี่ยนแปลงมาให้บริษัท รับทราบ หากท่านไม่แจ้งการเปลี่ยนแปลงดังกล่าว หรือแจ้งภายหลังการเปลี่ยนดังกล่าวในระยะเวลาอันเกินสมควร เมื่อบริษัทรับทราบการเปลี่ยนนั้น โดยที่ท่านไม่ได้แจ้งเข้ามา หรือแจ้งเข้ามาล่าช้าในระยะอันเกินสมควร บริษัทมีสิทธิระงับการใช้งานชั่วคราว การเข้าถึงการใช้งานใดๆ จนไปถึงยกเลิกการให้บริการได้",
        "ห้ามท่านใช้บริการ(ซอร์ฟแวร์) แอพพลิเคชั่น ไปทางสร้างความเดือดร้อน เสียหาย หรือสร้างความรำคาญแก่บุคคลหนึ่งบุคคลใด นิติบุคคลใด รวมถึงบริษัท บริษัทมีสิทธิระงับการใช้งานชั่วคราว การเข้าถึงการใช้งานใดๆ จนไปถึงยกเลิกการให้บริการได้",
        "ห้ามท่านใช้บริการบริการ(ซอร์ฟแวร์) แอพพลิเคชั่น ไปในทางเจตนาทุจริต หรือส่อว่าเจตนาจะทุจริตแก่บุคคลหนึ่งบุคคลใด นิติบุคคลใด รวมถึงบริษัท เช่น ในการดำเนินงานของบริษัท บริษัทอาจมีการจัดกิจกรรมการส่งเสริมการตลาด ส่งเสริมการขาย การใช้แอพพลิเคชั่น หรือของรางวัล หรือผลประโยชน์อื่นใด หากพบว่าท่านทำการทุจริต หรือส่อว่าจะทำการทุจริต เพื่อให้ได้รับผลประโยชน์ใดๆ จากส่งเสริมกิจกรรมการตลาดของบริษัทดังกล่าว บริษัทมีสิทธิระงับการใช้งานชั่วคราว การเข้าถึงการใช้งานใดๆ จนไปถึงยกเลิกการให้บริการได้ รวมถึงดำเนินการทางกฎหมายกับท่าน",
        "ในการดำเนินการใช้บริการผ่าน(ซอร์ฟแวร์) แอพพลิเคชั่น ท่านต้องเป็นคนจัดหาอุปกรณ์ดังกล่าวมาด้วยตนเองเพื่อเชื่อมต่อ อีกทั้งอาจให้เสียค่าใช้จ่ายเพิ่มเติม เช่น ค่าอินเตอร์เน็ต ค่าใช้จ่ายในส่วนดังกล่าวเป็นความรับผิดชอบของตัวท่านเอง บริษัทไม่มีหน้าที่รับผิดชอบแต่ใดๆ เว้นแต่ ท่านมีข้อตกลงต่างหากจากบริษัท เช่น บริษัทมีการส่งเสริมการตลาดในการจะจัดสิทธิพิเศษ หรือผลประโยชน์ใดๆ ในการจัดหาอุปกรณ์ และช่วยค่าใช้จ่ายเพิ่มเติมดังกล่าว ซึ่งต้องเป็นไปตามข้อตกลงนั้น",
        "ในการดำเนินการใช้บริการผ่าน(ซอร์ฟแวร์) แอพพลิเคชั่น ท่านอาจจะต้องมีการติดต่อกับผู้โดยสาร บุคคลใดๆ ผ่านทางโครงข่ายสัญญาณโทรศัพท์หรือมีการดำเนินการใดๆ ที่อาจให้เสียค่าใช้จ่ายเพิ่มเติม ค่าใช้จ่ายในส่วนดังกล่าวเป็นความรับผิดชอบของตัวท่านเอง บริษัทไม่มีหน้าที่รับผิดชอบแต่ใดๆ เว้นแต่ ท่านมีข้อตกลงต่างหากจากบริษัท เช่น บริษัทมีการส่งเสริมการตลาดในการจะจัดสิทธิพิเศษ หรือผลประโยชน์ใดๆ ในการช่วยค่าใช้จ่ายเพิ่มเติมดังกล่าว ซึ่งต้องเป็นไปตามข้อตกลงนั้น ",
        "ในการดาว์นโหลดติดตั้งแอพพลิเคชั่น (ซอร์ฟแวร์) ของบริษัท เข้ากับอุปกรณ์มือถือ แท็บเล็ต อุปกรณ์คอมพิวเตอร์ หรืออุปกรณ์อย่างใดๆ ก่อให้เกิดความเสียหายต่ออุปกรณ์ ข้อมูล ระบบใดๆในอุปกรณ์ดังกล่าวของท่าน ท่านไม่สิทธิเรียกร้องค่าเสียหาย และความรับผิดชอบใดๆ ต่อบริษัท",
        "ในการใช้บริการแอพพลิเคชั่น(ซอร์ฟแวร์) ขณะขับรถท่านต้องหาอุปกรณ์เสริมด้วยตนเอง เพื่อใช้ในการติดต่อสื่อสาร ใช้บริการกดรับผู้โดยสารที่เรียกผ่านแอพพลิเคชั่น ดูข้อมูล  หรือใช้อุปกรณ์เสริมเพื่อปฏิบัติให้ถูกกฎหมายจราจร เพราะหากเกิดอุบัติเหตุ ความสูญเสีย ความเสียหายอย่างใดๆ หรือท่านถูกปรับ ดำเนินคดีทางกฎหมายใดๆ ขณะใช้บริการแอพพลิเคชั่นของบริษัท ท่านไม่สามารถเรียกร้องให้บริษัทรับผิดชอบใดๆ ได้ ท่านต้องเป็นคนรับผิดชอบด้วยตนเอง",
        "ในการใช้บริการบริการแอพพลิเคชั่น(ซอร์ฟแวร์) หากท่านได้รับทราบข้อมูลใดๆ ของผู้โดยสารหรือบุคคลใด ท่านต้องรักษาข้อมูลดังกล่าวไว้เป็นความลับ ห้ามนำไปเปิดเผย หรือกระทำการใดๆ อย่างอื่นนอกเหนือจากวัตถุประสงค์ของการให้บริการแอพพลิเคชั่น (ซอร์ฟแวร์) นี้ เช่น นำเบอร์ผู้โดยสารหรือบุคคลใดๆ ไปเปิดเผย หรือ โทรไปรบกวนก่อให้เกิดความเดือดร้อนรำคาญ นำที่อยู่ หรือเส้นทางเดินทางผู้โดยสารหรือบุคคลใดไปเปิดเผย หรือไปรบกวนก่อให้เกิดความเดือดร้อนรำคาญถึงอยู่อาศัย ที่พักของผู้โดยสารหรือบุคคลใดๆ ถ้าทางบริษัททราบว่าท่านได้การเปิดเผยข้อมูลดังกล่าว หรือกระทำการใดๆ อย่างอื่นนอกเหนือจากวัตถุประสงค์ บริษัทมีสิทธิระงับการใช้งานชั่วคราว การเข้าถึงการใช้งานใดๆ จนไปถึงยกเลิกการให้บริการได้ รวมถึงดำเนินการทางกฎหมายกับท่าน เว้นแต่ท่านสามารถเปิดเผยข้อมูลได้ ถ้าเป็นการให้ความร่วมมือ ช่วยเหลือ เมื่อเจ้าหน้าที่ ตัวแทน หรือพนักงานที่มีอำนาจตามกฎหมายร้องขอ รวมถึงพนักงานของบริษัท",
        "ในการใช้บริการบริษัทท่านอาจรู้ข้อมูลความลับของบริษัท ไม่ว่าจะเป็นผลิตภัณฑ์หรือบริการ ธุรกิจ เทคโนโลยี  ความรู้ความชำนาญ ความคิดและแนวคิด แผนการตลาด รายชื่อลูกค้าผู้โดยสาร คนขับรถ บุคคลใดๆ ที่บริษัทกำหนดให้รักษาเป็นความลับจนกว่าบริษัทจะทำการเปิดเผยต่อสาธารณะ หรือได้รับความเห็นชอบเป็นลายลักษณ์อักษรกับบริษัท เว้นแต่กฎหมายกำหนดให้เปิดเผยได้ ",
        "บริษัทไม่ใช่ตัวแทนใดๆ ของผู้โดยสารหรือบุคคลใดๆ ที่มาใช้บริการเรียกรถผ่านซอร์ฟแวร์ (แอพพลิเคชั่น) ของบริษัท บริษัทเป็นเพียงช่วยในการเป็นคนกลางในการบริการจัดหาผู้โดยสารหรือในการเรียกรถ ให้กับท่าน คนขับรถอื่นๆ ให้มีโอกาสพบปะได้ติดต่อประสานงานกันได้สะดวกขึ้น หากผู้โดยสารหรือบุคคลใดๆ ที่ใช้บริการเรียกรถกระทำการใดๆ หรือละเว้นการกระทำงานใดๆ ที่ส่งผลให้ท่านได้รับความเสียหาย เดือดร้อน รำคาญ ละเมิด หรือผิดกฎหมายต่างๆ ซึ่งอาจเป็นผลต่อเนื่องจากการใช้บริการเรียกรถผ่านซอร์ฟแวร์ (แอพพลิเคชั่น) ของบริษัท บริษัทไม่มีส่วนรับผิดชอบต่อการกระทำของผู้โดยสารหรือบุคคลใดๆ ดังกล่าว ท่านไม่สามารถเรียกร้องค่าเสียหายใดๆ กับบริษัทได้",
        "ในการให้บริการ บริษัทอาจมีเว็บบอร์ดหรือช่องทางติดต่อใดๆ เพื่อให้ท่านได้แลกเปลี่ยนข้อมูล ข่าวสาร กับผู้ใช้บริการคนอื่นๆ หรือกับบุคคลใดๆ กรุณาใช้ความสุภาพ ถ้อยคำที่เหมาะสม ไม่แสดงคำหยาบ หรือแสดงความความคิดเห็นในทางว่าให้ร้ายกล่าวโทษใคร หรือหมิ่นประมาทบุคคลใด หรือมีการกระทำไปในทางที่ขัดต่อความสงบเรียบร้อยหรือศีลธรรมอันดีของประชาชน  พาดพิงถึงบุพพการี พาดพิงถึงสถาบันกษัตริย์  ก่อกวน และก่อให้เกิดความเสียหายต่อการให้บริการ ละเมิดกฎหมายใดๆ หรือมีการส่งข้อความหรือรูปภาพที่เกี่ยวข้องกับ การเมือง ศาสนา อันก่อให้เกิดความแตกแยกในสังคม แอบอ้างว่าเป็นบุคคลหรือเจ้าหน้าที่ของบริษัท  ให้ข้อมูลที่เป็นเท็จ หรือบิดเบือน เกี่ยวกับบริษัท โฆษณาถึงเว็บไซต์ผิดกฎหมาย โฆษณาประชาสัมพันธ์บริษัทคู่แข่ง ในการติดต่อกับผู้ใช้บริการคนอื่น หรือกับบุคคลใดๆ ท่าน หรือผู้ใช้บริการคนอื่นอาจแสดงลิงค์ไปหาบุคคลที่สามไป ถ้าเกิดความเสียหายอย่างใดๆ บริษัทไม่มีส่วนเกี่ยวข้องและความรับผิดชอบใดๆ ทั้งนี้หากท่านทำผิดข้อตกลงและเงื่อนไขดังกล่าวบริษัทขอสงวนสิทธิ์ระงับการใช้งานชั่วคราว การเข้าถึงการใช้งานใดๆ จนไปถึงยกเลิกการให้บริการได้ รวมถึงดำเนินการทางกฎหมายกับท่าน",
        "ในการใช้บริการกับบริษัท บริษัทไม่ได้รับรอง รับประกันจำนวนผู้โดยสาร บุคคลใดๆ ที่จะมาใช้บริการเรียกรถกับท่าน รวมถึงรายได้ที่จะได้รับ หากการในใช้บริการกับบริษัท ท่านไม่ได้ผู้โดยสาร หรือ จำนวนผู้โดยสารที่มาใช้กับท่าน รวมถึงรายได้ที่จะได้รับ ตามที่ท่านคาดการณ์ หรือเป็นตามประสงค์ของท่าน ท่านไม่สามารถเรียกร้องความรับผิดชอบใดๆ หรือค่าเสียหาย ค่าใช้จ่ายใดๆ กับบริษัทได้",
        "ในการใช้บริการกับบริษัท บริษัทมีการจัดศูนย์ Call Center หรือ Customer Care ในการให้ความช่วยเหลือ เพิ่มเติม เพื่อพยายามส่งเสริมในการบริการซอร์ฟแวร์(แอพพลิเคชั่น) บริษัทให้ได้มากที่สุด แต่ในการให้บริการเสริมดังกล่าวของบริษัท บริษัทไม่ได้ให้การรับประกันว่าจะเป็นไปอย่างถูกต้อง สมบูรณ์ ไม่มีความขาดตกบกพร่อง หรือผิดพลาดอย่างใดๆ หากท่านเกิดความสูญเสีย ความเสียหายจากการให้บริการ Call Center หรือ Customer Care ท่านไม่สามารถเรียกร้องความรับผิดชอบใดๆ กับบริษัทได้ เว้นแต่ความสูญเสีย หรือ ความเสียหายดังกล่าวเกิดจากการกระทำโดยจงใจและประมาทเลินเล่ออย่างร้ายแรง ของพนักงานของบริษัท ผู้รับผิดชอบในเรื่องดังกล่าว",
        "ในการใช้บริการท่านสามารถมีบัญชีเข้าใช้งานเพียงบัญชีเดียวเท่านั้น หากบริษัทตรวจสอบหรือพบว่าท่านมีการใช้งานเกินกว่าหนึ่งบัญชี บริษัทสามารถระงับใช้การบริการของท่านให้เหลือเพียงบัญชีเดียว  หรือระงับใช้งานกับท่านทุกบัญชีไม่ว่าบัญชีนั้นจะเป็นบัญชีที่เป็นตัวตนที่แท้จริงของท่านหรือไม่",
        "ห้ามท่านดัดแปลง ลบ หรือแก้ไข ทางวิศวกรรมบนซอร์ฟแวร์ (แอพพลิเคชั่น) ของบริษัท ไม่ว่าด้วยเหตุใดๆ   หากบริษัทตรวจสอบหรือพบ บริษัทสามารถระงับใช้การบริการของท่าน",
        ]
      };
  }
};
</script>

<style scoped>

.text-orange{
    color: orange !important;
}

p{
    margin-top: 20px;
    margin-bottom: 20px;
}

p a{
  color:black;
}

ul li{
    list-style-type: decimal;
    text-align: left;
    text-indent: 20px;
}
</style>