<template>
  <div>
    <p class="text-orange">{{title}}</p>
    <p v-for="value in list" v-html="value"></p>
    <hr/>
  </div>
</template>

<script>
import jQuery from "jquery";
export default {
  data: () => {
    return { 
      title: "กรณีมีการเปลี่ยนแปลงข้อมูลใดๆ",
      list: [
        "ในการเปลี่ยนแปลงข้อมูลใดๆ ทั้งข้อมูลส่วนบุคคลเกี่ยวกับตัวท่านหรือข้อมูลต่างๆ ที่บริษัทให้กรอกเมื่อตอนสมัครเข้ามา หรือให้กรอกข้อมูลเพิ่มเติมในภายหลัง ท่านสามารถเปลี่ยนแปลงข้อมูลดังกล่าวมาได้มาตามช่องทางที่บริษัทประกาศไว้บนหน้าเว็บไซด์ App-taxi.com.ของบริษัท หรือ ทางสื่อโซเชียลมีเดียอื่นๆ ",
        "โดยภายหลังจากท่านได้แจ้งแก้ไขเปลี่ยนแปลงข้อมูลใดๆ แล้วบริษัทจะทำการแก้ไขโดยเร็ว โดยข้อมูลที่มีการเปลี่ยนแปลงแก้ไขดังกล่าว ท่านตกลงและยินยอมให้ไปตามนโยบายความเป็นส่วนบุคคลของบริษัท และเงื่อนไขและข้อตกลงนี้",
      ]
    }
  }
}
</script>
<style scoped>
p {
  margin-top: 20px;
  margin-bottom: 20px;
  text-align: left;
  text-indent: 50px;
}
.text-orange{
    color: orange !important;
    text-align: center;
    text-indent: 0;
}

p a{
  color:black;
}

ul li{
    list-style-type: decimal;
    text-align: left;
    text-indent: 20px;
}
</style>