<template>
  <div>
    <p class="text-orange">{{title}}</p>
    <p v-for="value in list" v-html="value"></p>
    <hr/>
  </div>

</template>

<script>
import jQuery from "jquery";
export default {
  data: () => {
    return { 
      title: "บุคคลที่สาม",
      list: [
        "ในการให้บริการซอร์ฟแวร์ (แอพพลิเคชั่น) ของบริษัท ท่านตกลงและยินยอมให้บริษัทมีการเปิดให้บุคคลที่สาม นำเสนอสินค้า บริการ โฆษณา ประชาสัมพันธ์ ข้อมูล ข่าวสารใด ผ่านทางบริการซอร์ฟแวร์ (แอพพลิเคชั่น) ของบริษัท",
        "หากท่านมีการตกลงรับคำเสนอสนองใด ทำนิติกรรม สัญญาใดๆ กับบุคคลที่สามดังกล่าว ถือว่าการดังกล่าวเป็นการตกลงรับคำเสนอคำสนองใด ทำนิติกรรม สัญญาใดๆ ดังกล่าวเป็นการกระทำของท่านส่วนตัวกับบุคคลที่สามโดยตรง ไม่เกี่ยวกับข้อตกลงและเงื่อนไขนี้ และไม่เกี่ยวข้องใดๆ กับบริษัท บริษัทไม่มีภาระผูกผันและความรับผิดชอบใดๆ ระหว่างท่านกับบุคคลที่สามดังกล่าว นิติสัมพันธ์ที่เกิดขึ้นถือเป็นความรับผิดชอบระหว่างท่านกับบุคคลที่สามโดยตรงทั้งสิ้น โดยการทำนิติกรรม สัญญาใดๆ กับบุคคลที่สามท่านอาจจะต้องมีการเพิ่มเติมข้อตกลงและเงื่อนไขเพิ่มขึ้นจากข้อตกลงและเงื่อนไขนี้ หรือมีข้อตกลงและเงื่อนไขที่แตกต่างจากข้อตกลงและเงื่อนไขนี้ หรือทำสัญญาเพิ่มเติม ทำสัญญาต่างหาก ก่อนที่จะใช้เข้าไปมีส่วนร่วมใด เข้าถึงสินค้า หรือบริการ โดยการผูกเงื่อนไขและข้อตกลง หรือสัญญาใดๆ บริษัทไม่ส่วนเกี่ยวข้องด้วย ท่านจึงไม่สามารถเรียกร้องความรับผิดชอบใดๆ กับบริษัทได้",
        "เว้นแต่ในการเกิดนิติกรรม สัญญาใดๆ ระหว่างท่านกับบุคคลที่สาม บริษัทตกลงที่จะให้การบริการช่วยเหลือท่านเพิ่มเติม โดยการทำนิติกรรมสัญญา ดังกล่าวบริษัทอาจจะต้องมีการเพิ่มเติมข้อตกลงและเงื่อนไขเพิ่มขึ้นจากข้อตกลงและเงื่อนไขนี้ หรือมีข้อตกลงและเงื่อนไขที่แตกต่างจากข้อตกลงและเงื่อนไข หรือทำสัญญาเพิ่มเติม รวมถึงคิดค่าบริการ และค่าธรรมเนียมต่างๆ กับท่าน แต่ในการรับผิดชอบใดๆ นั้นบริษัทก็ยังจำกัดความรับผิดชอบเฉพาะแค่ส่วนที่บริษัทตกลงจะบริการช่วยเหลือท่านเพิ่มเติมเท่านั้น",
        "ในกรณีที่ท่านไม่ต้องการรับข้อมูล ข่าวสาร การนำเสนอสินค้า บริการ โฆษณา ประชาสัมพันธ์ ข้อมูล ข่าวสารใดๆ ท่านสามารถทำเรื่องเข้ามาตามช่องทางที่บริษัทบนหน้าเว็บไซด์หรือแอพพลิเคชั่น   หรือช่องทางอื่นใดที่บริษัทกำหนดไว้ บริษัทจะดำเนินเปลี่ยนแปลง แก้ไขให้ไม่เกิน 14 วันทำการนับแต่วันที่ได้รับทราบการแจ้ง แต่ในกรณีดังกล่าวบริษัทของสงวนสิทธิในการคิดค่าบริการหรือค่าธรรมเนียมในอัตราที่สูงขึ้น และอาจปฏิเสธการให้บริการท่านได้"
      ]
    }
  }
}
</script>
<style scoped>
p {
  margin-top: 20px;
  margin-bottom: 20px;
  text-align: left;
  text-indent: 50px;
}
.text-orange{
    color: orange !important;
    text-align: center;
    text-indent: 0;
}

p a{
  color:black;
}

ul li{
    list-style-type: decimal;
    text-align: left;
    text-indent: 20px;
}
</style>