<template>
    <div class="container">
        
        <!--
        <p id="back-btn">
            <nuxt-link :to="'/support'" > 
                <img class="arrow-left" src="~assets/images/bt_vdo_arrow_left.png">
                <span class="text-orange"> กลับไปก่อนหน้านี้</span>
            </nuxt-link>
        </p>
        -->

        <div class="row">
            <div class="col">
                <h1 class="text-orange">ข้อตกลงและเงื่อนไขในการใช้บริการ สำหรับคนขับรถ</h1>
            </div>
        </div>
        <div class="row">
            <div class="col-lg-4">
                <p ><nuxt-link :to="'/help/termsofuse/drivers/'" exact active-class="is-active" id="index-link">ข้อตกลงและเงื่อนไขในการใช้บริการ</nuxt-link></p>
                <p><nuxt-link :to="'/help/termsofuse/drivers/aboutus'" active-class="is-active">เกี่ยวกับบริการของเรา</nuxt-link></p>
                <p><nuxt-link :to="'/help/termsofuse/drivers/register'" active-class="is-active">การลงทะเบียนและการใช้บริการ</nuxt-link></p>
                <p><nuxt-link :to="'/help/termsofuse/drivers/payment'" active-class="is-active">การชำระเงิน</nuxt-link></p>
                <p><nuxt-link :to="'/help/termsofuse/drivers/fee'" active-class="is-active">การคิดค่าบริการ ค่าธรรมเนียม อื่นๆ </nuxt-link></p>
                <p><nuxt-link :to="'/help/termsofuse/drivers/license'" active-class="is-active">กรรมสิทธิ์ในทรัพย์สินทางปัญญา</nuxt-link></p>
                <p><nuxt-link :to="'/help/termsofuse/drivers/security'" active-class="is-active">การคุ้มครองข้อมูลส่วนบุคคล</nuxt-link></p>
                <p><nuxt-link :to="'/help/termsofuse/drivers/thirdparty'" active-class="is-active">บุคคลที่สาม</nuxt-link></p>

                <p><nuxt-link :to="'/help/termsofuse/drivers/responsibity'" active-class="is-active">ข้อจำกัดความรับผิด</nuxt-link></p>
                <p><nuxt-link :to="'/help/termsofuse/drivers/securityinfo'" active-class="is-active">กรณีมีการเปลี่ยนแปลงข้อมูลใดๆ</nuxt-link></p>
                <p><nuxt-link :to="'/help/termsofuse/drivers/editcondition'" active-class="is-active">การแก้ไขและเพิ่มเติมข้อตกลง/เงื่อนไข</nuxt-link></p>

                <p><nuxt-link :to="'/help/termsofuse/drivers/announcement'" active-class="is-active">คำบอกกล่าว</nuxt-link></p>
                <p><nuxt-link :to="'/help/termsofuse/drivers/terminate'" active-class="is-active">ระงับการใช้และการยกเลิกให้บริการ</nuxt-link></p>
                <p><nuxt-link :to="'/help/termsofuse/drivers/termofcondition'" active-class="is-active">ขอบเขตของข้อตกลงและเงื่อนไขนี้</nuxt-link></p>

            </div>
            <div class="col-lg-8" >
                <nuxt-child />
            </div>
        </div>
    </div>
</template>

<style scoped>
.container{
    margin-top:80px;
}

.text-orange {
  color: orange !important;
  font-size: xx-large;
}

p {
  margin-top: 20px;
  margin-bottom: 20px;
}

p a {
  color: black;
}

.topic-list{
    width: 250px;
    text-align: center;
    margin: auto;
}

.topic-list ul{
    text-align: left;
}

.is-active{
    color: orange !important;
    font-weight: bold;
}

</style>