<template>
  <div>
    <h1 class="text-orange">AppTaxi</h1>
    <br/>
    <h2>ข้อเสนอแนะ</h2>
    <br/>

    <p>
        Coming Soon...
    </p>

  </div>
</template>

<style scoped>

.text-orange{
    color: orange !important;
}

p{
    margin-top: 20px;
    margin-bottom: 20px;
}
</style>