<template>
    <div class="container">
        
        <!--
        <p id="back-btn">
            <nuxt-link :to="'/support'" > 
                <img class="arrow-left" src="~assets/images/bt_vdo_arrow_left.png">
                <span class="text-orange"> กลับไปก่อนหน้านี้</span>
            </nuxt-link>
        </p>
        -->

        <div class="row">
            <div class="col">
                <h1 class="text-orange">{{title}}</h1>
            </div>
        </div>
        <div class="row">
            <div class="col-lg-4">
                <p v-for="value in list">
                    <nuxt-link :to="'/help/termsofuse/passengers/'+value.link" exact active-class="is-active">{{value.text}}</nuxt-link></p>
                </p>
            </div>
            <div class="col-lg-8" >
                <nuxt-child />
            </div>
        </div>
    </div>
</template>


<script>
import jQuery from "jquery";
export default {
  data: () => {
    return { 
      title: "ข้อตกลงและเงื่อนไขในการใช้บริการ สำหรับบุคคลทั่วไป",
      list: [   
       { 
           link: "",
           text: "ข้อตกลงและเงื่อนไขในการใช้บริการ"
        },
        { 
           link: "aboutus",
           text: "เกี่ยวกับบริการของเรา"
        },
        {
            link: "register",
            text: "การลงทะเบียนและการใช้บริการ"
        },
        {
            link: "payment",
            text: "การชำระเงินและค่าบริการ"
        },
        {
            link: "license",
            text: "กรรมสิทธิ์ในทรัพย์สินทางปัญญา"
        },
        {
            link: "security",
            text: "การคุ้มครองข้อมูลส่วนบุคคล"
        },
        {
            link: "dependent",
            text: "การเชื่อมโยงกับแอพพลิเคชั่น/เว็บไซต์อื่นๆ"
        },
        {
            link: "thirdparty",
            text: "บุคคลที่สาม"
        },
        {
            link: "marketingandevent",
            text: "การส่งเสริมการตลาดหรือจัดกิจกรรมการตลาด"
        },
        {
            link: "responsibity",
            text: "ข้อจำกัดความรับผิด"
        },
        {
            link: "securityinfo",
            text: "กรณีมีการเปลี่ยนแปลงข้อมูลใดๆ"
        },
        {
            link: "editcondition",
            text: "การแก้ไขและเพิ่มเติมข้อตกลง/เงื่อนไข"
        },
        {
            link: "announcement",
            text: "คำบอกกล่าว"
        },
        {
            link: "terminate",
            text: "ระงับการใช้และการยกเลิกให้บริการ"
        },
        {
            link: "termofcondition",
            text: "ขอบเขตของข้อตกลงและเงื่อนไขนี้"
        }

      ]
    }
  }
}
</script>

<style scoped>
.container{
    margin-top:80px;
}

.text-orange {
  color: orange !important;
  font-size: xx-large;
}

p {
  margin-top: 20px;
  margin-bottom: 20px;
}

p a {
  color: black;
}

.topic-list{
    width: 250px;
    text-align: center;
    margin: auto;
}

.topic-list ul{
    text-align: left;
}

.is-active{
    color: orange !important;
    font-weight: bold;
}

</style>