<template>

  <div class="Site">
    <top-nav />
    <div class="Site-content" >
      <nuxt />
    </div>
    <bottom-nav />
  </div>
  
</template>

<script>
import BottomNav from '~/components/BottomNav'
import TopNav from '~/components/TopNav'

export default {
  components: { BottomNav , TopNav }
}

</script>

<style>
.Site {
  display: flex;
  min-height: 100vh;
  flex-direction: column;
}

.Site-content {
  flex: 1;
}
</style>
