<template>

  <div class="Site">
    <top-nav />
    <div class="Site-content container">
      <h1 v-if="error.statusCode === 404">Page not found</h1>
      <h1 v-else>An error occured</h1>
      <nuxt-link to="/">Home page</nuxt-link>
    </div>
    <bottom-nav />
  </div>

</template>

<script>
import BottomNav from '~/components/BottomNav'
import TopNav from '~/components/TopNav'

export default {
  props: ['error'],
  components: { BottomNav , TopNav }
}
</script>

<style scoped>
.Site {
  display: flex;
  min-height: 100vh;
  flex-direction: column;
}
.Site-content {
  flex: 1;
}
.container {
  font-family: sans-serif;
  padding-top: 10%;
  text-align: center;
}
.container h1 {
  font-size: 20px;
}
</style>