<template>

  <div class="Site">
    <top-nav />
    <div class="Site-content container">
        <div class="row">
            <div class="col">
                <p>Left Nav Bar</p>
            </div>
            <div class="col" >
                <nuxt />
            </div>
        </div>
    </div>
    <bottom-nav />
  </div>

</template>

<script>
import BottomNav from '~/components/BottomNav'
import TopNav from '~/components/TopNav'

export default {
  layout: 'default',
  components: { BottomNav , TopNav },
  asyncData ({ req }) {
    return {
      name: req ? 'server' : 'client'
    }
  }
}
</script>


<style>
.Site {
  display: flex;
  min-height: 100vh;
  flex-direction: column;
}

.Site-content {
  flex: 1;
}

.container {
  font-family: sans-serif;
  padding-top: 10%;
  text-align: center;
}
</style>