<template>
  <div>
    <div class="container container-top-bottom container-bgcolor-white">
        <div class="row mg-LR0">
            <div class="col-lg-4">
                <p><nuxt-link :to="'/about/'" exact active-class="is-active">เกี่ยวกับเรา</nuxt-link></p>
                <p><nuxt-link :to="'/about/policy'" active-class="is-active">นโยบายการให้บริการ</nuxt-link></p>
                <p><nuxt-link :to="'/about/privacy'" active-class="is-active">เงื่อนไขและความเป็นส่วนตัว</nuxt-link></p>
                <p><nuxt-link :to="'/about/recommend'" active-class="is-active">ข้อเสนอแนะ</nuxt-link></p>
                <p><nuxt-link :to="'/about/contact'" active-class="is-active">ติดต่อ</nuxt-link></p>
            </div>
            <div class="col-lg-8" >
                <nuxt-child />
            </div>
        </div>
    </div>
  </div>
</template>

<script>
export default {
  //layout: 'leftnav',
  asyncData ({ req }) {
    return {
      name: req ? 'server' : 'client'
    }
  },
  mounted: () => {
      const navBar = jQuery('.navbar'),
      data = navBar.data();
      navBar.removeClass(data.startcolor);
      navBar.removeClass(data.startsize);
      navBar.addClass(data.notindexColor);
      navBar.addClass(data.notindexSize);
  },
  destroyed: () =>{
      const navBar = jQuery('.navbar'),
      data = navBar.data();
      navBar.addClass(data.startcolor);
      navBar.addClass(data.startsize);
      navBar.removeClass(data.notindexColor);
      navBar.removeClass(data.notindexSize);
  }
}
</script>

<style>
.container-top-bottom{
    margin-top: 6em;
    margin-bottom: 5em;
}
/*
.container{
    text-align: unset !important;
}
*/
a{
    text-decoration: none;
    color: #9C9899;
}

a:focus,
a:hover{
    text-decoration: none;
    color: #9C9899;
}

.is-active{
    font-weight: 600;
    color: black !important;
    text-decoration: none;
}
</style>
