<template>

<div class="container-fluid">

    <section-passenger></section-passenger>
    <section-driver></section-driver>
    <section-advertisement></section-advertisement>

</div>

</template>

<script>
import jQuery from "jquery";

import SectionHeader from "~/components/sections/SectionHeader";
import SectionPassenger from "~/components/sections/SectionPassenger";
import SectionDriver from "~/components/sections/SectionDriver";
import SectionAdvertisement from "~/components/sections/SectionAdvertisement";
/*
import SectionNews from "~/components/sections/SectionNews";
import RegisterPassenger from "~/components/RegisterPassenger";
import RegisterPassengerDownload from "~/components/RegisterPassengerDownload";
import RegisterDriverDownload from "~/components/RegisterDriverDownload";
import RegisterNews from "~/components/RegisterNews";

import helpModal from "~/components/helpModal";
*/
export default {
  
  components: {
    SectionHeader,
    SectionPassenger,
    SectionDriver,
    SectionAdvertisement,
    /*
    RegisterPassenger,
    RegisterPassengerDownload,
    RegisterDriverDownload,
    RegisterNews,
    helpModal
    */
  },
  
  head: {
    title: "About Page",
    meta: [
      {
        hid: "description",
        name: "description",
        content: "About page description"
      }
    ]
  },
  data: () => {
    return { name: "world" };
  },
  methods: {
    openModal: name => {
      jQuery("#" + name).modal("show");
      console.log("name", name);
    }
  }
};
</script>

<style scoped>
.btn-advertisement {
  background-color: unset;
  border-color: white;
  border-radius: unset;
  color: white;
  width: 250px;
}
</style>
