<template>
  <div>
    <div class="row">
      <div class="col">
        <h1 class="text-orange">TERMS AND PRACTICAL GUIDELINES F MEMBERS USING SERVICES </h1>
        <h1 class="text-orange">APP TAXI APPLICATION</h1>
      </div>
    </div>
    <div class="row">
        <div class="col" >
          <p v-for="value in list" v-html="value"></p>
          <hr/>
        </div>
    </div>
  </div>
</template>

<script>
import jQuery from "jquery";
export default {
  data: () => {
    return { 
      list: [
        "<b><u>Clause 1. Compliance with the Law, Policy and Advices</u></b>",
        "1.1 The members must strictly comply with the law relating to land traffics on riding in public cars currently existing and to exist in the future.",
        "1.2 No members shall perform or omit to perform, cooperate or support the other members in any acts which may cause damage or tarnish reputation of the Company or perform any acts whatever to cause Taxi Application to stop short.",
        "1.3 No members shall intentionally perform any act which is a criminal offence against the driver or any persons riding with  which may cause damage, whether directly or indirectly, to the Company.",
        "1.4 No members shall use the application for participate with unlawful thing or organization nor shall instigate nor encourage the other members to oppose or threaten the other members which may affect the benefits of Company and the overall society.",
        "1.5 No members shall use the cars registered with the Application as vehicles for transporting things or people prohibited by law such as narcotics, aliens, war arms, etc., or use in the commission of all categories of criminal offences intentionally, whether serious or petty offence, in all cases.",
        "<b><u>Clause 2. Politely Using the Service</u></b>",
        "2.1 The members must use services politely and take into account travel safety as the significant matter.",
        "2.2 During the course of using the application, members must not use any drugs nor consume any beverages having the mixtures of all kinds of alcohols nor shall they keep any contrabands or beverage containers having the mixtures of alcohols with their caps opened ready to drink in the cars. If a member should have noticed that a driver is under the influence of any drug or alcoholic beverage, the member shall have a right to cancel the use of the service of the car and lodge a complaint with the Company immediately.",
        "2.3 The members shall maintain the car under clean condition and free of infections at all times during the period they are riding in and must refrain from intentionally create any filths in the cars in which they are riding, in all cases.",
        "2.4 At all times of using the travel service, it is the duty of the member sitting in the front seat by side of the driver to fasten the seatbelt without exception until arriving at the destination.",
        "2.5 Members must avoid, in all cases, to demonstrate their belligerent behaviors towards the drivers, both inappropriate verbal and threatening drivers, bodily and mentally. Should there be any circumstances which may cause a potential risk to demonstrate such behaviors, the Company make consideration to proceed with appropriate actions and maintain justice for both parties.",
        "2.6 It is strictly forbidden that no members shall commit any offences of sexual harassments against any drivers whether by way of a criticism or showing a manner of obscenity, molestation, detention, restraint, an act against their wills and bodies.",
        "The members shall always be aware that the thoughts and feelings of being sexually harassed are variedly different according to the social customs and individual thought. Therefore, any criticism on descriptions of a driver by using words or manners which cause a potential risk of infringement against the driver’s right would all be taboos.",
        "2.7 The members shall have a right to request a driver to be responsive upon reasonably requested such as tuning up or down the air-conditioner or radio voice level or driving in a scary manner.",
        "2.8 A member shall have a right to request the driver to choose the route differently from the normal route which should be used between the original point and the destination which, in this respect, the driver has no right to deny such request except the member has an intention to cheat the driver to change the route in order to commit a criminal offence by the driver or use the vehicle in which the member is riding to facilitate the commission of a criminal offence by him/her or dependents riding in with him/her at such time.",
        "2.9 In the case where a member forgetfully leaves his/her property in a car regardless of the price, the member must hurriedly notify the Company’s Call Center or the local police authority on details of the property at the first available chance in order to tract down to recover the property immediately without delay.",
        "2.10 In the case in which a member has already made an appointment with a driver through the system, it shall be deemed to be the member’s duty to travel to the appointment point. The member shall be prohibited to transfer such appointment job to the other member or person. If the appointment should be canceled, the member must make a notification via telephone call to cancel such appointment together with notifying the Company’s Call Center on the cancelation of the appointment immediately.",
        "2.11 The members shall be prohibited to request any driver to provide transport service for them or their dependents personally or as a special case other than a reservation through the application system because such practice shall be deemed to be in violation of the Company’s objective to enable the car in the nearest location to pick up the passengers with the maximum efficiency.",
        "<b><u>Clause 3. Practical Executions on Occurrence of an Emergency Case</u></b>",
        "3.1 The member must notify the Company Call Center immediately in an emergency case such as when the driver or a passenger riding in with the member has become sudden sick or to deliver a child, etc., for coordination in order to participate in solving the problem.",
        "3.2 During the course of travel, if a member should be of the view that he/she is under the condition of a potential risk of any harmful circumstances, bodily or mentally, or to his/her property, the member must hurriedly notify the Company’s Call Center to take immediate actions to remedy the situation."
      ]
    }
  }
}
</script>
<style scoped>
p {
  margin-top: 20px;
  margin-bottom: 20px;
  text-align: left;
  text-indent: 50px;
}
.text-orange{
    color: orange !important;
    text-align: center;
    text-indent: 0;
}

p a{
  color:black;
}

ul li{
    list-style-type: decimal;
    text-align: left;
    text-indent: 20px;
}
</style>