<template>
  <div>
    <div class="row">
      <div class="col">
        <h1 class="text-orange">ข้อกำหนดและแนวปฏิบัติของสมาชิก APP TAXI APPLICATION</h1>
        <h1 class="text-orange">บริษัท มีนาลิสซิ่ง จำกัด</h1>
      </div>
    </div>
    <div class="row">
        <div class="col" >
          <p v-for="value in list" v-html="value"></p>
          <hr/>
        </div>
    </div>
  </div>
</template>

<script>
import jQuery from "jquery";
export default {
  data: () => {
    return { 
      list: [
        "<b><u>ข้อ 1. การปฏิบัติตามกฎหมาย นโยบายและข้อแนะนำ</u></b>",
        "1.1 สมาชิกต้องถือปฏิบัติตามกฎหมายที่เกี่ยวข้องกับการจราจรทางบกว่าด้วยการโดยสารรถยนต์นั่งสาธารณะ ทั้งที่มีอยู่แล้วและที่จะมีต่อไปในภายหน้าอย่างเคร่งครัด",
        "1.2 ห้ามมิให้สมาชิกกระทำการ งดเว้นกระทำการร่วมมือหรือสนับสนุนสมาชิกรายอื่นในกิจกรรมใดๆ ที่อาจก่อความเสียหายหรือทำลายชื่อเสียงของบริษัทฯหรือกระทำการใดๆอันอาจเป็นเหตุให้ TAXI  APPLICATION หยุดชะงัก",
        "1.3 ห้ามมิให้สมาชิกกระทำการใดๆกระทำการโดยเจตนาที่เป็นความผิดทางอาญาแก่ผู้ขับขี่หรือบุคคลอื่นใดที่โดยสารไปด้วย ซึ่งอาจก่อความเสียหายทั้งทางตรงและทางอ้อมแก่บริษัทฯ",
        "1.4 ห้ามมิให้สมาชิกใช้ APPLICATION ในการเข้ามีส่วนร่วมกับสิ่งของหรือองค์กรที่ผิดกฎหมาย ทั้งห้ามมิให้ยุยงส่งเสริมสมาชิกรายอื่นไม่ให้ใช้ APPLICATION  ต่อต้านหรือข่มขู่สมาชิกรายอื่นอันอาจมีผลกระทบต่อผลประโยชน์ของบริษัทฯ และสังคมส่วนรวม",
        "1.5 ห้ามมิให้สมาชิกใช้รถยนต์ที่ขึ้นทะเบียนกับ APPLICATION ไว้แล้ว เป็นพาหนะในการขนสิ่งของ วัตถุ หรือบุคคลอันต้องห้ามตามกฎหมาย เช่น ยาเสพติด บุคคลต่างด้าว อาวุธสงคราม ฯลฯ หรือใช้ในการกระทำความผิดในทางอาญาทุกประเภท โดยเจตนา ไม่ว่าจะเป็นความผิดอุจฉกรรจ์ หรือลหุโทษ ก็ตาม ทุกกรณี",
        "<b><u>ข้อ 2. การใช้บริการด้วยความสุภาพ</u></b>",
        "2.1 สมาชิกต้องใช้บริการด้วยความสุภาพและคำนึงถึงความปลอดภัยในการเดินทางเป็นสำคัญ",
        "2.2 ระหว่างการใช้งาน APPLICATION สมาชิกจะต้องไม่เสพยาหรือเครื่องดื่มที่มีส่วนผสมของแอลกอฮอล์ทุกชนิด ทั้งสมาชิกจะต้องไม่เก็บสิ่งของผิดกฎหมายหรือภาชนะเครื่องดื่มที่มีส่วนผสมของแอลกอฮอล์ที่เปิดฝาในลักษณะพร้อมดื่มไว้ในรถ หากสมาชิกเห็นว่าผู้ขับขี่กำลังอยู่ภายใต้ฤทธิ์ยาหรือแอลกอฮอล์ ให้สมาชิกมีสิทธิยกเลิกการโดยสารและร้องเรียนต่อบริษัทฯได้ทันที",
        "2.3 สมาชิกต้องพึงรักษาสภาพรถให้สะอาดปลอดการติดเชื้อในระหว่างการโดยสารตลอดเวลา ไม่เจตนาหรือจงใจสร้างความสกปรกให้เกิดขึ้นภายในรถยนต์ที่โดยสารทุกกรณี",
        "2.4 ตลอดเวลาที่ใช้บริการการเดินทาง ให้ถือเป็นหน้าที่ของสมาชิกที่นั่งที่นั่งตอนหน้าแถวเดียวกับที่นั่งของผู้ขับขี่จะต้องคาดเข็มขัดนิรภัยตลอดเวลาการเดินทางจนกว่าจะถึงจุดหมายปลายทางโดยไม่มีข้อยกเว้น",
        "2.5 สมาชิกจะต้องหลีกเลี่ยงการแสดงพฤติกรรมก้าวร้าวรุนแรงต่อผู้ขับขี่ในทุกกรณี ทั้งด้วยวาจาที่ไม่เหมาะสมและการข่มขู่ต่อผู้ขับขี่ทั้งด้านร่างกายและจิตใจ หากมีเหตุการณ์ที่สุ่มเสี่ยงต่อการแสดงออกซึ่งพฤติกรรมดังกล่าว บริษัทฯจะพิจารณาดำเนินการตามความเหมาะสมและให้ความยุติธรรมแก่ทุกฝ่าย ",
        "2.6 ห้ามมิให้สมาชิกกระทำความผิดใดๆอันเป็นการคุกคามทางเพศต่อผู้ขับขี่ ไม่ว่าจะเป็นการวิจารณ์ แสดงอากัปกิริยาที่ลามก ลวนลาม กักขังหน่วงเหนี่ยว ข่มขืนใจของผู้ขับขี่อย่างเด็ดขาด",
        "สมาชิกพึงตระหนักเสมอว่า  ความคิดหรือความรู้สึกต่อการถูกคุกคามทางเพศนั้นย่อมแตกต่างกันไปตามธรรมเนียมของสังคมและความคิดเห็นของบุคคล ดังนั้น การวิจารณ์ถึงรูปลักษณ์ของผู้ขับขี่ การใช้คำพูดหรือกริยาอาการที่สุ่มเสี่ยงต่อการละเมิดต่อสิทธิส่วนบุคคลของผู้ขับขี่ ย่อมถือเป็นสิ่งต้องห้ามทั้งสิ้น",
        "2.7 สมาชิกมีสิทธิที่จะร้องขอให้ผู้ขับขี่ต้องตอบสนองได้ เมื่อสมาชิกร้องขออย่างมีเหตุผล เช่น การปรับลดหรือเพิ่มอุณหภูมิเครื่องปรับอากาศหรือระดับเสียงวิทยุ หรือการขับรถในลักษณะหวาดเสียว",
        "2.8 สมาชิกมีสิทธิร้องขอที่จะให้ผู้ขับขี่ เลือกเส้นทางอื่นที่ผิดไปจากเส้นทางปกติอันควรใช้ระหว่างสถานที่ต้นทางและปลายทางได้ โดยผู้ขับขี่ไม่มีสิทธิไม่ปฏิบัติตาม ยกเว้นในกรณีที่สมาชิกมีเจตนาที่จะหลอกลวงให้ผู้ขับขี่เปลี่ยนเส้นทาง เพื่อจะกระทำผิดในทางอาญาแก่ผู้ขับขี่ หรือใช้ยานพาหนะที่โดยสารในเพื่อความสะดวกในการกระทำความผิดในทางอาญาแก่ตนเอง และหรือบริวาร ที่โดยสารร่วมกันกับสมาชิกในขณะนั้น",
        "2.9 กรณีที่สมาชิกหลงลืมทรัพย์สินไว้ในรถ ไม่ว่าจะมีราคาเท่าใดก็ตาม สมาชิกจะต้องรีบแจ้งรายละเอียดของทรัพย์สินนั้นแก่บริษัทฯทันที ที่ศูนย์ประสานงานของบริษัทฯ ( CALL CENTER ) หรือเจ้าหน้าที่ตำรวจท้องที่ ในโอกาสแรกที่สามารถกระทำได้ เพื่อดำเนินการติดตามเอาคืนได้ทันท่วงทีโดยไม่ชักช้า",
        "2.10 กรณีสมาชิกนัดหมายผู้ขับขี่ผ่านระบบไว้แล้ว ถือเป็นหน้าที่ของสมาชิกที่จะต้องเดินทางไปตามจุดนัดพบและ ห้ามมิให้สมาชิกโอนงานที่นัดหมายนั้นไปให้สมาชิกหรือบุคคลอื่น หากจะยกเลิกการนัดหมายสมาชิกจะต้องแจ้งให้บริษัทฯทราบโดยสมาชิกจะต้องโทรแจ้งเพื่อขอยกเลิกการนัดหมาย พร้อมกับแจ้งให้ศูนย์ประสานงานของบริษัทฯ ( CALL CENTER ) ทราบการยกเลิกนัดทันที ",
        "2.11 ห้ามมิให้สมาชิกร้องขอให้ผู้ขับขี่มาให้บริการรับส่งตนเองหรือบริวารของตนเป็นการส่วนตัวหรือเป็นการพิเศษนอกเหนือจากการจองรถผ่านระบบ APPLICATION เพราะถือเป็นการฝ่าฝืนวัตถุประสงค์ของบริษัทฯที่จะให้รถที่อยู่ใกล้ที่สุดไปรับผู้โดยสารด้วยประสิทธิภาพสูงสุด",
        "<b><u>ข้อ 3. ข้อปฏิบัติเมื่อเกิดเหตุฉุกเฉิน</u></b>",
        "3.1 สมาชิกต้องแจ้งเหตุฉุกเฉิน เช่น ผู้ขับขี่ หรือผู้ร่วมโดยสารมากับสมาชิกด้วยกัน เจ็บป่วยกะทันหัน หรือจะคลอดบุตร ฯลฯ ให้สมาชิกประสานงานกับศูนย์ ของบริษัทฯ ทราบทันทีเพื่อเข้าร่วมแก้ไขปัญหา ",
        "3.2 ในระหว่างการเดินทาง หากสมาชิกเห็นว่าตนกำลังตกอยู่ในสภาวะสุ่มเสี่ยงต่อภยันตรายต่อร่างกาย จิตใจหรือทรัพย์สิน สมาชิกต้องรีบแจ้งให้ศูนย์ประสานงานของบริษัทฯทราบเพื่อเข้าดำเนินการแก้ไขในทันที"
      ]
    }
  }
}
</script>
<style scoped>
p {
  margin-top: 20px;
  margin-bottom: 20px;
  text-align: left;
  text-indent: 50px;
}
.text-orange{
    color: orange !important;
    text-align: center;
    text-indent: 0;
}

p a{
  color:black;
}

ul li{
    list-style-type: decimal;
    text-align: left;
    text-indent: 20px;
}
</style>