<template>

<div class="container-fluid container-top-bottom">

    <div class="container container-left mg-B30">
        <!--
        <p><img class="mg-R10 size28-28" src="~assets/images/icn_taxi.png">แอพแท็กซี่</p>
        <p> 
            <nuxt-link :to="'/'" >หน้าแรก</nuxt-link> 
            <img class="arrow-right" src="~assets/images/bt_vdo_arrow_right.png">
            ติดต่อโฆษณา 
        </p>
        <hr />
        -->
        <h2 class="text-orange">เลือกจุดที่คุณต้องการได้</h2>
    </div>
    
    <div class="container">

        <div class="card">
        <div class="row card-block pd-All50">
            <div class="col-lg-8 container-align-center">
                <div>
                    <h4 class="card-title">ป้ายด้านบน</h4>
                    <p class="card-text">คุณสามารถให้คนภายนอกรถเห็นป้ายโฆษณานี้ของคุณได้อย่างชัดเจนทั้งสองฝั่งถนนเป็นจุดโฆษณาที่ใครเห็นเป็นต้องมอง</p>
                    <a class="link mg-LR0">ติดต่อเพิ่มเคิม</a><br/>
                    <a class="link mg-LR0">โอกาสสร้างรายได้เสริมคนขับที่สนใจรายได้เสริมติดต่อเบอร์นี้  02-044-5151</a>
                </div>
            </div>
            <div class="col-lg-4 col-md-auto text-center">
                <img src="~assets/images/pic_ad_1.png" />
            </div>
        </div>
        </div>

        <div class="card">
        <div class="row card-block pd-All50">
            <div class="col-lg-8 container-align-center">
                <div>
                    <h4 class="card-title">ป้ายด้านหลัง</h4>
                    <p class="card-text">รถหรือใครก็ตามที่อยู่หลังรถคันนี้ต้องสนใจในโฆษณาที่ติดอยู่ด้านหลังรถคันนี้</p>
                    <a class="link mg-LR0">ติดต่อเพิ่มเคิม</a><br/>
                    <a class="link mg-LR0">โอกาสสร้างรายได้เสริมคนขับที่สนใจรายได้เสริมติดต่อเบอร์นี้  02-044-5151</a>
                </div>
            </div>
            <div class="col-lg-4 col-md-auto text-center">
                <img src="~assets/images/pic_ad_2.png" />
            </div>
        </div>
        </div>

        <div class="card">
        <div class="row card-block pd-All50">
            <div class="col-lg-8 container-align-center">
                <div>
                    <h4 class="card-title">ป้ายในรถ</h4>
                    <p class="card-text">ผู้โดยสารภายในรถคันนี้จะเห็นโฆษณาของคุณได้อย่างเด่นชัดทั้งโฆษณาที่ติดด้านหลังเบาะและผนักพิง</p>
                    <a class="link mg-LR0">ติดต่อเพิ่มเคิม</a><br/>
                    <a class="link mg-LR0">โอกาสสร้างรายได้เสริมคนขับที่สนใจรายได้เสริมติดต่อเบอร์นี้  02-044-5151</a>
                </div>
            </div>
            <div class="col-lg-4 col-md-auto text-center">
                <img src="~assets/images/pic_ad_3.png" />
            </div>
        </div>
        </div>

        <!--
        <div class="card">
        <div class="row card-block pd-All50">
            <div class="col-lg-12 col-md-auto">
                <div>
                    <h4 class="card-title">คุณต้องการทำอะไรต่อ?</h4>
                    <br/>
                    <a class="link mg-LR0">ติดต่อโฆษณา</a>
                    <br/>
                    <br/>
                    <a class="link mg-LR0">สอบถามข้อมูลเพิ่มเติม</a>
                </div>
            </div>
        </div>
        </div>
        -->

    </div>
    
</div>

</template>

<script>
import jQuery from 'jquery'

export default {
  components: { 
  },
  head:{
    title: 'Passenger Page',
    meta: [
      { hid: 'description', name: 'description', content: 'About page description' }
    ]
  },
  data: () => {
    return { name: 'world' }
  },
  methods:{

  },
  mounted: () => {
        const navBar = jQuery('.navbar'),
        data = navBar.data();
        navBar.removeClass(data.startcolor);
        navBar.removeClass(data.startsize);
        navBar.addClass(data.notindexColor);
        navBar.addClass(data.notindexSize);
    },
    destroyed: () =>{
        const navBar = jQuery('.navbar'),
        data = navBar.data();
        navBar.addClass(data.startcolor);
        navBar.addClass(data.startsize);
        navBar.removeClass(data.notindexColor);
        navBar.removeClass(data.notindexSize);
    }
}
</script>

<style scoped>
.container-top-bottom{
    margin-top: 6em;
    margin-bottom: 5em;
}

.container {
  text-align: unset !important;
}

a{
  text-decoration: none;
  color: black;
}

.text-orange{
    margin-left: 20px;
    color: orange !important;
}

.link{
    cursor: unset;
}

.size28-28{
    width: 28px;
    height: 28px;
}
</style>
