<template>
  <div>
    <p class="text-orange">About our Services</p>
    <p>
      Our Company provides services on (software) application in service calls for vehicles or public buses through internet system with the purpose to provide assistances to any persons or passengers being the third persons in traveling, moving whether they are human beings, animals, things from one point to another or many destination points. However, in providing such services, even the Company, has made arrangements to have personnel available and Customer Care set up as well as providing any information and method relating to our services and other matters both to the third persons and passengers or drivers or any assistances other than the service calls for vehicles through the internet system, but, they are just our additional assistances to support and remedy the situation in providing services in calling for the vehicles through (software) application of the Company in order to make our services conveniently and easily accessible; the third persons and passengers receive good services; our services can be remedied and can back up the providing of services from using such (software) application to the fullest extent. Or even the organizing of marketing promotion activity, giving away any privileges similar to that of the employees’ or staff’s welfares, however, they are just the market making to motivate you or any persons only just to use the Company’s services. 
    </p>
    <p>
      The Company has neither carried out any operations in a manner of being a proprietor of the cars in providing services by own self nor been a service provider in using vehicles for any transports nor shall it be deemed to be as if a service provider on transports by way of any vehicles nor shall it be deemed to be an operator carrying out business on leasing any vehicles with drivers, you, the drivers or any persons using the services of such application therefore shall not be deemed to be the employees, staff or representatives of the Company.
    </p>
    <p>
      The Company shall not be responsible, in all cases whatever, for any acts of yours, the drivers or any persons being your dependents that cause a loss, damage, wrongful act, claim, dispute, any acts and/or any omission to act or a commission of an offence against any laws including other matters consequently causing an adverse result. 
    </p>
    <p>
      In addition, you have no right to make any persons misunderstand that your acts are performed in the capacity of an employee, a staff or a representative of the Company.
    </p>
    <hr/>

  </div>
</template>

<style scoped>
p {
  margin-top: 20px;
  margin-bottom: 20px;
  text-align: left;
  text-indent: 50px;
}

.text-orange {
  color: orange !important;
  text-align: center;
  text-indent: 0;
}

p a {
  color: black;
}
</style>