<template>
  <div>
    <p class="text-orange">{{title}}</p>
    <p v-for="value in list" v-html="value"></p>
    <hr/>
  </div>
</template>

<script>
import jQuery from "jquery";
export default {
  data: () => {
    return { 
      title: "Notices",
      list: [
         "Any notices which may be forwarded to you shall be forwarded to the software (application), electronics media or any other media channels whether via e-mails or in your application account or by making it in writing for forwarding them to you via postal service to the address you gave to the Company at the time you had submitted your application or after your notification on the subsequent change in the address other than you had previously informed the Company shall be deemed to be legally received and known of by you except the forwarding of such notices may run into a problem during the course of forwarding regardless of any reasons whatever which, in this respect, we shall send you the message to inform you thereafter soonest.",
        "In addition, in the case where your e-mail or contacting addresses, your place for receiving the notices, have been changed from the ones you previously informed the Company without any of your notification accordingly to the Company or that nobody has agreed to receive such notices, those notices or notifications or contacts shall be deemed to be legally made."
      ]
    }
  }
}
</script>
<style scoped>
p {
  margin-top: 20px;
  margin-bottom: 20px;
  text-align: left;
  text-indent: 50px;
}
.text-orange{
    color: orange !important;
    text-align: center;
    text-indent: 0;
}

p a{
  color:black;
}

ul li{
    list-style-type: decimal;
    text-align: left;
    text-indent: 20px;
}
</style>