<template>
  <div>
    <p class="text-orange">{{title}}</p>
    <p v-for="value in list" v-html="value"></p>
    <hr/>
  </div>
</template>

<script>
import jQuery from "jquery";
export default {
  data: () => {
    return { 
      title: "Other Service Charge and Fee Computations",
      list: [
        "Such service charges or fees may be computed differently each time according to the situation on the passengers and persons using the services and depending on the terms of use of the Company at some particular period of times and the Company’s marketing management at such time. In this connection, the Company will make a determination on the computation of the service charges and fees as to what they would be and how the computation would be made and that a relevant notification shall be made through the Company’s website: App-taxi.com or social media. In this respect, the Company is always entitled to alter the services charges or fees, but, it would not take effect retroactively. Such notification shall reasonably be made in advance through the Company’s website: App-taxi.com or the other media when such alteration has taken place.",
        "In respect of the payment channels, you are required to make the payments to the channels arranged for you by the Company only and that the notification on which to you will be made through the Company’s website: App-taxi.com or the other media.",
        "If you should make your payments via any other channel or receive the payment from any other unauthorized person who is not clearly specified by the Company, you have no right whatever to demand the Company to be responsible for any consequences or damages.",
      ]
    }
  }
}
</script>
<style scoped>
p {
  margin-top: 20px;
  margin-bottom: 20px;
  text-align: left;
  text-indent: 50px;
}
.text-orange{
    color: orange !important;
    text-align: center;
    text-indent: 0;
}

p a{
  color:black;
}

ul li{
    list-style-type: decimal;
    text-align: left;
    text-indent: 20px;
}
</style>