<template>
  <div>
    <p class="text-orange">Agreements and Conditions on the Use of Services</p>
    <p>
        All these Agreements and Conditions are covenants between you and App Taxi Co., Ltd., Juristic Person Registration No. 0105560023760, hereinafter referred to as the “Company”. Please read and come to understanding on all terms comprehensively and completely before acknowledging your acceptance because after you have accepted the use of this service, you will be deemed to have already come to understanding on all such terms clearly and comprehensively and agreed to be bound by said Agreements and Conditions and then press the acceptance button below to signify your acceptance of such Agreements and Conditions.
    </p>
    <p>
        But, if after reading and coming to understanding, you have disagreed with nor accepted the conditions or agreements, whether wholly or partially, or any minor details of the conditions, you can press the denying button to signify your denial on such conditions and agreements which, in this respect, the Company will reserve its right on the use of the use of the services. Therefore, please do not initiate any actions on the application or services any further.
    </p>
    <p>
        In the case of your acceptance, the Company reserves its right to make alterations on, additions to, modifications on, cuts, subtractions and reductions in any conditions and agreements herein which, in this respect, you will be notified accordingly through the application which shall be enforceable upon the latest modifications and alterations. It will be your duty to be responsible for checking and verifying such Agreements and Conditions continuously. Should there be any alterations on any agreement or conditions no matter whether you have made a check or verification or not, it would be deemed that you have already agreed on and accepted the alterations on such conditions and agreements.
    </p>
    <hr/>

  </div>
</template>

<style scoped>

p {
  margin-top: 20px;
  margin-bottom: 20px;
  text-align: left;
  text-indent: 50px;
}

.text-orange {
  color: orange !important;
  text-align: center;
  text-indent: 0;
}

p a {
  color: black;
}
</style>