<template>
  <div>
    <p class="text-orange">{{title}}</p>
    <p v-for="value in list" v-html="value"></p>
    <hr/>
  </div>
</template>

<script>
import jQuery from "jquery";
export default {
  data: () => {
    return { 
      title: "Proprietary Right in Intellectual Property",
      list: [
        "Any data in the application (software) of the Company is owned and taken care of by App Taxi Co., Ltd., unless otherwise specified. All such and any other data existing in such application (software) are under the Company’s right which have been protected under the Law on Copyright, Trademark and Proprietary Right regardless of being in whatever the form.",
        "You have agreed and acknowledged that this application (software) including the contents and substances, wholly or partially, whether in the form of a computer program, picture, video, audio, or graphics cannot be reproduced, disposed of or printed by any persons regardless of for any purposes unless otherwise a consent in writing is obtained from the Company or App Taxi Co., Ltd., or that there is another content otherwise specified in other social media related to business of this Company that the contents of all data, files, pictures or documents appearing in such application (software) can be downloaded, uploaded and printed by you for personal use or for the use not being for trade benefits. In this respect, you agree to store all contents relating to the expression of any other copyrights and the proprietary rights that appear in the application (software), as well.",
        "In addition, you are prohibited to make any notifications, announcements on, reproduce, modify, render to appear by any means whatever, dispose of by any means Whatever, the substances, data or contents, wholly or partially, which are copyrighted, trademarks, patents, owned by the other parties, without any consent of the respective owners of such rights. Moreover, you are prohibited to delete the copyrights, trademarks or any announcement contents relating to the other proprietary rights as well as any copyrights, trademarks, contents, announcements relating to the other copyrights currently existing in the operations in providing the services.",
      ]
    }
  }
}
</script>
<style scoped>
p {
  margin-top: 20px;
  margin-bottom: 20px;
  text-align: left;
  text-indent: 50px;
}
.text-orange{
    color: orange !important;
    text-align: center;
    text-indent: 0;
}

p a{
  color:black;
}

ul li{
    list-style-type: decimal;
    text-align: left;
    text-indent: 20px;
}
</style>