<template>
  <div>
    <p class="text-orange">Payment</p>

    <p v-for="value in list"  v-html="value">
    </p>

    <hr/>

  </div>
</template>
<script>
import jQuery from "jquery";
export default {
  data: () => {
    return { 
      list: [
        "In using the services by calling the taxis through the application (software), the Company imposes the service charges or fees on you and that any such service charges or fees will require you to make payment in advance which, in this respect, such service charges or fees will not be returned to you no matter whether you have desired to cancel or suspend the use of the service with the Company or not or how you have a desire or an objective on such payment.",
        "In addition, no service charges and fees paid in advance must be used to cover payment of any expenses unless otherwise there is any additional agreements or Contract separately made with the Company other than these Agreements and Conditions.",
        "In imposing the service charges or fees on a call for a taxi from any passenger or persons as the cost for the use of the service of software (application) of the Company, you agree and acknowledge that the money you collected from the any passenger or person is the money that you are required to turn in to the Company separately from the fares and tips.",
        "Except in the case of the fares such as the fares according to the taxi meter including the tips which will be your own business directly between you and any passengers or persons. All such fares including the tips are not the Company’s responsibility. If you should not get such fares or service charges in full amount as agreed upon with any passengers or persons, except in the case on which the Company has provided the payment channels for you for your comfort or promotional campaign on marketing, for any passengers or any persons or you such as; the passengers making payment by credit cards and you have not received the money properly in full amount through the Company’s error on payment.",
        "Or such as the Company has launched a promotional campaign by giving discounts on the fares to any passengers or persons through payment channels made available by the Company for your comfort and that you have not received the money properly in full amount through the Company’s error."
      ]
    }
  }
}
</script>
<style scoped>
p {
  margin-top: 20px;
  margin-bottom: 20px;
  text-align: left;
  text-indent: 50px;
}
.text-orange{
    color: orange !important;
    text-align: center;
    text-indent: 0;
}

p a{
  color:black;
}

ul li{
    list-style-type: decimal;
    text-align: left;
    text-indent: 20px;
}
</style>