<template>
  <div>
    <p class="text-orange">Registration and Using of Services</p>

    <ul>
      <li v-for="value in list">
        {{ value }}
      </li>
    </ul>
    
    <hr/>

  </div>
</template>

<script>
import jQuery from "jquery";
export default {
  data: () => {
    return { 
      list: [
        "On the application for registration and the use of services, you are required to certify and confirm that you are the person having the right and being legally competent;  having the power in binding on making contracts/agreements by your own self; not being an incompetent person or a prohibited person for any reasons whatever and/or a person compellingly required to make contracts/agreements on condition: such as; must receive a consent first, otherwise you will not be legally certified nor protected in accordance with the law and these Agreements and Conditions.",
        "In making the registration, you are required to certify and confirm that the information you fill in is your correct and true personal information without entering information of the other persons and that the application for the registration is made onyour voluntary basis with the purpose for your own benefit.",
        "In making the registration, once you have fully and completely filled in the information and declared your intention on the application for using the services, the Company has the power to make considerations in giving the approval or denying to give the approval on your application without any requirement to notify you or give you any reason whatsoever provided, however, that such denial does not deprive you of the right to resubmit the application for the registration once again.",
        "If, subsequent to the registration and relevant approval, the Company should have discovered or been suspicious that the information given by you is neither correct nor sufficient nor most up-to-date or that you are not the person meeting the criteria as prescribed by the Company, the Company reserves its right to temporarily suspend you from using the services, accessing to use the services or even canceling the providing of services to you without giving you any advanced notification.",
        "In using the services, you will be given a password for gaining access into the account to use the services including the access into working account through Facebook or e-mail. You have to keep it in strict confidence and that under no circumstances shall such information be disclosed to any persons nor shall you allow any persons to exercise the right in the account on your behalf nor shall you transfer, dispose of the right in such your own account to any persons. If any of such acts should be discovered, the Company will cancel the providing of services in said account to you immediately and that in the case where a damage has arisen consequently as a result of your carelessness in keeping the service password or that you have disclosed such information to any persons or allowed any persons to exercise the right in the account on your behalf or that you have transferred or disposed of the right in such account, the Company shall bear no responsibility for any damages in all cases and in entirety.",
        "In using the services, you have a right to gain access into using the services as the Company will allow you on the accessibility.",
        "In using the services, it is your duty to download the software which you are required to make a check to ensure that you have downloaded the proper one. The Company bears no responsibility if you do not have the appropriate equipments or tools in downloading it or if you have improperly downloaded it or that it is wrong on the version in any of your own equipments.",
        "After you have downloaded the (software) application, if there should be any delay, error, mistake, incompleteness, disruption, causing you being unable to gain access into the system, data, information due to any defect or being unable to gain access to use the (software) application continuously, the Company shall bear no responsibility for any damages whatever. As such, you have no right to claim any damages whatever occurring to you from the Company. In addition, the Company bears no responsibility for any damage occurring from the programs or files which may cause damage to the system of the (software) application of the users which include virus, spyware, spam, Trojan, worm or software or file or interference data which can pose any harm or cause such damage except such damage has occurred through the Company’s intentional fault.",
        "The Company shall, in providing the services, give its assistances in providing the data, information including the advices which will be up to you to use your judgment as to whether you will believe it or accordingly comply with it or not. If any damage should have occurred consequently as a result of such data, information and the advices provided, you have no right to claim any occurring damages whatever from to the Company.",
        "In using the services, the Company has its rules and regulation including the determinations on qualifications of the service users that you have to comply with and must not omit to comply with. If any of your acts should not be in compliance with the Company’s rules and regulations or that you have omitted to perform any acts, the Company shall have a right to temporarily suspend you from using the services, accessing into the use of any services or even canceling the providing of services to you without any advanced notification.",
        "In using the services, you will be under the laws and required to observe the laws. If any of your acts should not be in compliance with the laws or should be an omission to perform any acts whatever in accordance with the laws, the Company shall have a right to temporarily suspend you from using the services, accessing into the use of any services or even canceling the providing of services to you without giving you any advanced notification. If subsequently, there should be any law newly put into force, even you originally had the qualification to use the services, but, your qualifications have not been met under the new law or that you have a prohibited qualification, the Company shall as well have a right to temporarily suspend you from using the services, accessing into the use of any services or even canceling the providing of services to you without any advanced notification.",
        "In using the service of the (software) application, you must use it reasonably and properly in accordance with the objective of the usage. If the Company should be in doubt or should discover that you have used the services not being in accordance with the objective or for the purpose other than the purpose in providing the services of the Company, the Company shall have a right to temporarily suspend you from using the services, accessing into the use of any services or even canceling the providing of services to you without any advanced notification.",
        "In giving the information, both your personal information or any information relating to the use of the services, should there be any change in any information, you must notify the Company on such change. If you should fail to notify the Company accordingly or that a notification is made past a reasonable period of time subsequent to the change or if the Company should have known on such change and that you had failed to notify the Company accordingly or there is a delay in making the notification, the Company shall have a right to temporarily suspend you from using the services, accessing into the use of any services or even canceling the providing of services to you.",
        "You are strictly forbidden to use the service of the (software) application to create any troublesomeness, damage  or annoyance to any persons, juristic persons including the Company. If you should cause such problems, the Company shall have a right to temporarily suspend you from using the services, accessing into the use of any services or even canceling the providing of services to you.",
        "You are strictly forbidden to use the service of the (software) application in bad faith or evincing an intention to do thing in bad faith upon any person, juristic person including the Company: such as; in the Company’s operations which the Company may hold the activities on marketing and sales promotions, the use of the application or giving away the prizes or any other benefits, if you should be found to do thing in bad faith or evincing an intention to do thing in bad faith in order to acquire any benefits from such marketing promotion activity, the Company shall have a right to temporarily suspend you from using The services, accessing into the use of any services or even canceling the providing of services to you including legal actions against you.",
        "In carrying out the operations on the use of services through the (software) application, you must be the party responsible for procuring such equipments on your own for making connections as well as the additional expenses which may be incurred such as the expenses on the internet which will be your own responsibility. The Company has no duty to take any responsibility whatever unless otherwise you have made a separate agreement with the Company such as the Company has marketing promotions to give special privileges or any benefits in procuring equipments and assist you with such additional expenses which shall be in line with such agreement.",
        "In carrying out the operations on the use of services through the (software) application, you may be required to contact any passengers through the telephone signal network or any actions which may require you to possibly pay the additional expenses. The portion of such expenses shall be your own responsibility. The Company has no duty to take any responsibility whatever unless otherwise you have made a separate agreement with the Company such as the Company has marketing promotions to give special privileges or any benefits in procuring equipments and assist you with such additional expenses which shall be in line with such agreement.",
        "In downloading for installing the application (software) of the Company with mobile device, tablet, computer or any equipment that has caused damage to your equipment, data, any system in such equipment, you have no right to claim any damages and responsibilities whatever from the Company.",
        "In using the services of the application (software) while you are driving, you must procure on your own the supplementary equipments for use in making the communication contacts; for use on the services in pressing to receive the passengers’ calls through the application, in viewing information or using the supplementary equipments in order to properly comply with the traffic law because if you should run into an accident involving any loss, damage or that you are fined or prosecuted under any law while using the Company’s application, you cannot demand the Company to take any responsibility whatever. You must be a sole party to take such responsibility on your own.",
        "In using the services of the application (software), if you should perceive any information of a passenger or any person, you must keep such information in strict confidence and that under no circumstances shall you disclose or perform any acts whatever for any purpose other than providing services on the application (software) such as disclosing the number of a passenger or any person or making a telephone call to disturb or cause an annoyance, disclosing the address or traveling routes of a passenger or any person or making disturbance or causing any annoyance at the residence of a passenger or any person. If the Company should become aware that you have disclosed such information or performed such acts for the purpose other than the prescribed objectives, the Company shall have a right to temporarily suspend you from using the services, accessing to use the services or even canceling the providing of services including legal actions against you except you are entitled to disclose the information or if it should be the providing of co-operations or assistances upon requested by competent officials, representatives or officers having the power in accordance with the law including the Company’s staff.",
        "In using the Company’s services, you may perceive the Company’s confidential information, whether on the products or services, business, technology, know-how, ideas and concepts, marketing plan, clients’ names, drivers, any persons whom the Company defines as the persons to be kept in confidence until they are publicly disclosed or a consent in writing to disclose is obtained from the Company unless otherwise the law provides that such information can be disclosed.",
        "The Company is not a representative of any passengers or persons using the services for calling the cars through the Company’s software (application). The Company just merely provides the assistances as a middleman in providing the services in finding the passengers of calling cars for you, other drivers to have chance to meet or coordinate with one another more convenient. If any passenger or person using the service call for cars should have performed any acts or omitted to perform any acts consequently resulting in you to sustain a damage, to be disturbed or annoyed or in a manner likely to be in violation or in breach of the laws which is possibly caused continuously as a result of the use of the service call for cars through the Company’s software (application), the Company shall bear no responsibility for the acts of any such passengers or persons, thus, you cannot file any claims for compensation of any damages whatever against the Company.",
        "In providing the services, the Company may have web-boards or any contacting channels to enable you to exchange information with the other service users or any persons. So, please use proper language and refrain from using obscene words or expressing your opinions in a manner likely to malign or insult any persons or performing any acts in a manner likely to be contradictory to or inconsistent with peace and order as well as good morality of the general public, allude to ascendants, monarchy institution, agitate and cause a damage to the services, violate any laws or transmit any messages or pictures relating to politics, religions which will cause disunity in the society, purportedly cite own self to be personnel or staff of the Company, give false or distorted information in relation to the Company, advertise illegal website, publicize rivalry companies in making contacts with the other service users or other persons. You or the other service users may show your link to any third persons, however, if any damage should have occurred, the Company shall have no involvement nor responsibility whatever. If you should perform any acts in breach of such agreements or conditions, the Company reserves its right to temporarily suspend you from using the service and accessing for any use or even up to the degree of the cancelation on the providing of services to you including legal actions against you, as well.",
        "In using the services with the Company, the Company bears no responsibility to confirm or make any assurance on the number of the passengers or any persons to use the services for calling your taxi including the incomes to be earned. In using the services with the Company, if you cannot have the passengers or number of the passengers using services with you or the incomes to be earned do not meet the criteria as you have expected or desired, you cannot demand the Company to be responsible for any damages or expenses whatever.",
        "In using the services with the Company, the Company provides a Call Center or Customer Care to give additional assistances in an attempt to enhance the providing of services on software (application) of the Company as much as possible. However, in providing such supplementary services of the Company, the Company makes no guarantee that the services will be properly and perfectly provided without any defects of errors. If you should sustain any loss or damage resultant from the providing of services by Call Center or Customer Care, you could not demand the Company to take responsibility unless otherwise such loss or damage have caused by an intentional and gross negligent act of the Company’s staff responsible for such matter.",
        "In using the services, you are allowed to have only one working account, if the Company should discover subsequent to the audit that you have more than on working account, the Company has a right to cut down your working account service to remain at only one working account or stop working with all your accounts regardless of whether such accounts are your tangibly actual accounts or not.",
        ]
      };
  }
};
</script>

<style scoped>

.text-orange{
    color: orange !important;
}

p{
    margin-top: 20px;
    margin-bottom: 20px;
}

p a{
  color:black;
}

ul li{
    list-style-type: decimal;
    text-align: left;
    text-indent: 20px;
}
</style>