<template>
  <div>
    <p class="text-orange">{{title}}</p>
    <p v-for="value in list" v-html="value"></p>
    <hr/>
  </div>
</template>

<script>
import jQuery from "jquery";
export default {
  data: () => {
    return { 
      title: "Limit of Liability",
      list: [
        "Subject to the Law of the Kingdom of Thailand, the Company’s liability under these Agreements and Conditions shall be limited only equal to the amount of money which you have actually paid to make use of our Company’s services.",
        "The Company shall not be liable for any losses or damages whatever, whether directly or indirectly, any other special cases, accidents or matters likely to be in relation to the punishments or economic issue or consequential damage as a result of the other cases including the damage, damages arising consequently as a result of the failure of the communications, internet, software  and hardware connections with the system, electronics connections, corruption, security, loss or data espionage, virus, spyware, spam, Trojan, worm or software, or data file or any hazardously interfered data, loss occurring to persons, mental conditions, loss of data, business, incomes, profits or investments or benefit exploitations regardless of any matters even the Company has perceived or expected the possibility of such loss and damage including a dispute with any third person, the Company absolutely needs not require to participate or take part in any negotiations whatever to settle such dispute.",
        "You agree to take responsibility and relinquish your right of claims for liability and expenses including lawyers’ fees in all respects from the Company.",
        "In the case where any losses or damages have occurred to the Company or that the Company is levied for payment of any expenses not limited to only the lawyers’ fees and any persons whoever filing claims for damages from the Company, whether directly or indirectly, consequently as a result of your violation of the law or these Agreements and Conditions while using the services, you must indemnify the damages to the Company immediately upon requested.",
      ]
    }
  }
}
</script>
<style scoped>
p {
  margin-top: 20px;
  margin-bottom: 20px;
  text-align: left;
  text-indent: 50px;
}
.text-orange{
    color: orange !important;
    text-align: center;
    text-indent: 0;
}

p a{
  color:black;
}

ul li{
    list-style-type: decimal;
    text-align: left;
    text-indent: 20px;
}
</style>