<template>
  <div>
    <p class="text-orange">{{title}}</p>
    <p v-for="value in list" v-html="value"></p>
    <hr/>
  </div>
</template>

<script>
import jQuery from "jquery";
export default {
  data: () => {
    return { 
      title: "In the case of any change in the data",
      list: [
        "In making change in the data, whether the data relating to your personal information or the data you filled in at the Company’s instructions when submitting your application or the additional data you are requested to subsequently filled in, you can make change in such data by way of the channel announced on the Company’s website: App-taxi.com or via other social media.",
        "Subsequent to your notification to make change in and alteration on any data, the Company shall initiate actions to make such change and alteration as soon as possible. In this connection, you are in agreement and giving your consent that the data having been changed or altered shall be in accordance with the Policy on the Individual Privacy and these Agreements and Conditions.",
      ]
    }
  }
}
</script>
<style scoped>
p {
  margin-top: 20px;
  margin-bottom: 20px;
  text-align: left;
  text-indent: 50px;
}
.text-orange{
    color: orange !important;
    text-align: center;
    text-indent: 0;
}

p a{
  color:black;
}

ul li{
    list-style-type: decimal;
    text-align: left;
    text-indent: 20px;
}
</style>