<template>
  <div>
    <p class="text-orange">{{title}}</p>
    <p v-for="value in list" v-html="value"></p>
    <hr/>
  </div>
</template>

<script>
import jQuery from "jquery";
export default {
  data: () => {
    return { 
      title: "Scope of these Agreements and Conditions",
      list: [
        "These Agreements and Conditions shall be applicable and construed under the Law of the Kingdom of Thailand and Thai Court without taking into account the Principle of the Conflict of Law.",
        "If any terms under such Agreements and Conditions should be invalid or unenforceable, such terms would not affect the remaining parts of these Agreements and Conditions."
      ]
    }
  }
}
</script>
<style scoped>
p {
  margin-top: 20px;
  margin-bottom: 20px;
  text-align: left;
  text-indent: 50px;
}
.text-orange{
    color: orange !important;
    text-align: center;
    text-indent: 0;
}

p a{
  color:black;
}

ul li{
    list-style-type: decimal;
    text-align: left;
    text-indent: 20px;
}
</style>