
<template>
  <div>
    <p class="text-orange">{{title}}</p>
    <ul>
      <li v-for="value in list">
        {{ value }}
      </li>
    </ul>
    <p v-for="value in topic" v-html="value"></p>
    <hr/>
  </div>
</template>

<script>
import jQuery from "jquery";
export default {
  data: () => {
    return { 
      title: "Suspension on the use and cancelation in providing the services",
      list: [
        "If you should be in breach of any Clause under these Agreements and Conditions, Company’s Rules and Regulations currently existing or to be announced in the future both as the consequences of these Agreements and Conditions or unrelated to these Agreements and Conditions, the Company shall have a right to temporarily suspend you from using the services, accessing to make use of any services or even canceling the providing of the services.",
        "The Company reserves its right to temporarily suspend you from using the services, accessing to make use of any services, change the pattern, alter, correct, modify, make an addition to, cut down any functions on the software (application) or even canceling the providing of the services at anytime without any requirement to make an advanced notification accordingly.",
        "In the case where there is a reasonable ground to be suspicious that you have been in breach of any conditions of the Company or conditions to be announced in the future both as the consequences of these Agreements and Conditions or unrelated to these Agreements and Conditions, or in violation of any laws, the Company shall as well have a right to temporarily suspend you from using the services, accessing to make use of any services or even canceling the providing of the services immediately without any requirement to make an advanced notification accordingly.",
      ],
      topic: [
        "In temporarily suspending you from using the services, accessing to make use of any services up to the extent of canceling the providing of the services regardless of whatever the reason, should any damage have occurred to you or any persons consequently as a result of temporarily suspending you from using the services, accessing to make use of any services up to the extent of canceling the providing of the services, you absolutely have no right whatever to demand the Company to be responsible for any damages or expenses in all cases.",
        "Including the suspension on the use of the services which may consequently affect your right in receiving the benefits or special conditions, rewards or returns in any forms which you may be given by the Company. If you should be suspended from using the services, it would be deemed to be the power of the Company to stop giving you such benefits or special conditions, rewards or returns in any forms whatever without any advanced notification."
      ]
    }
  }
}
</script>
<style scoped>
p {
  margin-top: 20px;
  margin-bottom: 20px;
  text-align: left;
  text-indent: 50px;
}
.text-orange{
    color: orange !important;
    text-align: center;
    text-indent: 0;
}

p a{
  color:black;
}

ul li{
    list-style-type: decimal;
    text-align: left;
    text-indent: 20px;
}
</style>
