<template>

<div class="container-fluid container-top-bottom">

  <div class="container container-left mg-B30">
      <p class="mg-L20"><img class="mg-R10" src="~assets/images/icn_passenger.png">ผู้โดยสาร</p>
      <p class="mg-L20">
        <nuxt-link :to="'/passenger/news'" >โปรโมชั่นและข่าวสาร </nuxt-link>  
        > ข่าวสารที่ {{ $route.params.id}} 
      </p>
      <hr />
      <h2 class="text-orange">ข่าวสารที่ {{ $route.params.id}}</h2>
  </div>

  <div class="container">

    <div class="row">

      <div class="col">
        <div class="mg-B20 img-default">
          <img src="~assets/images/pic_news_default.png" />
        </div>
        <p class="mg-L20">ใช้งานง่ายไม่กี่ขั้นตอนทำให้คุณได้รถทันทีโดยไม่ต้องรอทำให้การเดินทางของคุณเป็นไปอย่างราบรื่นตั้งแต่จุดรับถึงปลายทาง</p>
      </div><!--/span-->
    </div>

    <hr />

  </div>

  <section-news></section-news>

</div>

</template>

<script>
import jQuery from 'jquery'
import SectionNews from '~/components/sections/SectionNews'

export default {
  components: { 
    SectionNews
  },
  data:{
    params:{
      id:''
    }
  },
  validate ({ params }) {
    console.log( 'params' , params )
    return !isNaN(+params.id)
  },
  head:{
    title: 'Passenger Page',
    meta: [
      { hid: 'description', name: 'description', content: 'About page description' }
    ]
  },
  data: () => {
    return { name: 'world' }
  },
  methods:{

  },
  mounted: () => {
      const navBar = jQuery('.navbar'),
      data = navBar.data();
      navBar.removeClass(data.startcolor);
      navBar.removeClass(data.startsize);
      navBar.addClass(data.notindexColor);
      navBar.addClass(data.notindexSize);
      console.log( data )
  },
  destroyed: () =>{
      const navBar = jQuery('.navbar'),
      data = navBar.data();
      navBar.addClass(data.startcolor);
      navBar.addClass(data.startsize);
      navBar.removeClass(data.notindexColor);
      navBar.removeClass(data.notindexSize);
  }
}
</script>

<style scoped>
.container-top-bottom{
    margin-top: 6em;
}
hr{
  margin-top: 1rem;
  margin-bottom: 3rem;
  border-top-width: 2px;
}

.text-orange{
    margin-left: 20px;
    color: orange !important;
}

a{
  text-decoration: none;
  color: black;
}
</style>
