<template>

<div class="container-fluid container-top-bottom">

    <div class="container container-left mg-B30">
        <p><img class="mg-R10" src="~assets/images/icn_passenger.png">ผู้โดยสาร</p>
        <h2>ข่าวสาร</h2>
    </div>

    <div class="container container-left">

      <div class="row">

        <div class="col-6 col-lg-4">
        <nuxt-link :to="'/passenger/news/1'" >
            <div class="mg-B20 img-default">
              <img src="~assets/images/pic_news_default.png" />
            </div>
            <h2>ข่าวสารที่ 1</h2>
            <p>ใช้งานง่ายไม่กี่ขั้นตอนทำให้คุณได้รถทันทีโดยไม่ต้องรอทำให้การเดินทางของคุณเป็นไปอย่างราบรื่นตั้งแต่จุดรับถึงปลายทาง</p>
        </nuxt-link>
        </div><!--/span-->

        <div class="col-6 col-lg-4">
        <nuxt-link :to="'/passenger/news/2'" >
          <div class="mg-B20 img-default">
            <img src="~assets/images/pic_news_default.png" />
          </div>
          <h2>ข่าวสารที่ 2</h2>
          <p>ด้วยระบบติดตามเส้นทางการเดินทางและการลงทะเบียนคนขับรถทำให้คุณมั่นใจได้ว่าการเดินทางของคุณจะปลอดภัย</p>
        </nuxt-link>
        </div><!--/span-->

        <div class="col-6 col-lg-4">
        <nuxt-link :to="'/passenger/news/3'" >
          <div class="mg-B20 img-default">
            <img src="~assets/images/pic_news_default.png" />
          </div>
          <h2>ข่าวสารที่ 3</h2>
          <p>ช่วยให้คุณประหยัดได้ทั้งเวลาและค่าโดยสารลดการปฎิเสธผู้โดยสารของคนขับและพร้อมรับส่วนลดและโปรโมชั่นต่างๆ</p>
        </nuxt-link>
        </div>

        <div class="col-6 col-lg-4">
        <nuxt-link :to="'/passenger/news/4'" >
          <div class="mg-B20 img-default">
            <img src="~assets/images/pic_news_default.png" />
          </div>
          <h2>ข่าวสารที่ 4</h2>
          <p>ใช้งานง่ายไม่กี่ขั้นตอนทำให้คุณได้รถทันทีโดยไม่ต้องรอทำให้การเดินทางของคุณเป็นไปอย่างราบรื่นตั้งแต่จุดรับถึงปลายทาง</p>
        </nuxt-link>
        </div><!--/span-->

        <div class="col-6 col-lg-4">
        <nuxt-link :to="'/passenger/news/5'" >
          <div class="mg-B20 img-default">
            <img src="~assets/images/pic_news_default.png" />
          </div>
          <h2>ข่าวสารที่ 5</h2>
          <p>ด้วยระบบติดตามเส้นทางการเดินทางและการลงทะเบียนคนขับรถทำให้คุณมั่นใจได้ว่าการเดินทางของคุณจะปลอดภัย</p>
        </nuxt-link>
        </div><!--/span-->

        <div class="col-6 col-lg-4">
        <nuxt-link :to="'/passenger/news/6'" >
          <div class="mg-B20 img-default">
            <img src="~assets/images/pic_news_default.png" />
          </div>
          <h2>ข่าวสารที่ 6</h2>
          <p>ช่วยให้คุณประหยัดได้ทั้งเวลาและค่าโดยสารลดการปฎิเสธผู้โดยสารของคนขับและพร้อมรับส่วนลดและโปรโมชั่นต่างๆ</p>
        </nuxt-link>          
        </div>

    </div>

    <hr/>
    <hr/>

  </div>

  <section-news></section-news>

</div>

</template>

<script>
import jQuery from 'jquery'
import SectionNews from '~/components/sections/SectionNews'

export default {
  components: { 
    SectionNews
  },
  head:{
    title: 'Passenger Page',
    meta: [
      { hid: 'description', name: 'description', content: 'About page description' }
    ]
  },
  data: () => {
    return { name: 'world' }
  },
  methods:{

  },
  mounted: () => {
      const navBar = jQuery('.navbar'),
      data = navBar.data();
      navBar.removeClass(data.startcolor);
      navBar.removeClass(data.startsize);
      navBar.addClass(data.notindexColor);
      navBar.addClass(data.notindexSize);
      console.log( data )
  },
  destroyed: () =>{
      const navBar = jQuery('.navbar'),
      data = navBar.data();
      navBar.addClass(data.startcolor);
      navBar.addClass(data.startsize);
      navBar.removeClass(data.notindexColor);
      navBar.removeClass(data.notindexSize);
  }
}
</script>

<style scoped>
.container-top-bottom{
    margin-top: 6em;
}

a{
  text-decoration: none;
  color: black;
}

hr{
  margin-top: 3rem;
  margin-bottom: 3rem;
  border-top-width: 2px;
}

</style>
