<template>
    <div class="container-fluid test">
        {{ $t('TITLE') }}
        sss
    </div>
</template>

<script>
export default {

}
</script>

<style scoped>
.test {
  color: black;
  margin-top: 10vw;
}
</style>

