<template>

<div class="container-fluid container-top-bottom">

    <div class="container mg-B30">
        <p><img class="mg-R10" src="~assets/images/icn_driver.png">คนขับ</p>
        <p> 
            <nuxt-link :to="'/'" >หน้าแรก</nuxt-link> 
            <img class="arrow-right" src="~assets/images/bt_vdo_arrow_right.png">
            เหตุผลในการขับ 
        </p>
        <hr />
        <h2 class="text-orange">ให้คุณทำเงินได้มากกว่า</h2>
    </div>

    <div class="container">
    
        <div class="card">
        <div class="row card-block pd-All50">
            <div class="col-lg-8">
                <h4 class="card-title">มีอิสระ</h4>
                <p class="card-text">คุณสามารถที่จะเลือกรับงานที่คุณต้องการได้หรือปล่อยผ่านโดยไม่ถูกหักคะแนนตราบใดที่คุณยังไม่กดรับงาน</p>
                <a class="link mg-LR0">ดูวิธีการใช้งานสำหรับคนขับ</a>
            </div>
            <div class="col-lg-4 col-md-auto text-center">
                <img src="~assets/images/pic_about_driver_1.png" />
            </div>
        </div>
        </div>

        <div class="card">
        <div class="row card-block pd-All50">
            <div class="col-lg-8">
                <h4 class="card-title">กำหนดรายได้</h4>
                <p class="card-text">คุณสามารถกำหนดงานของคุณได้ง่ายๆโดยสามารถเลือกได้ว่าจะรับงานหรือไม่ยิ่งคุณรับงานคุณก็จะได้ค่าตอบแทนที่มากขึ้น</p>
                <a class="link mg-LR0">ตรวจสอบโปรโมชั่นสำหรับคนขับ</a>
            </div>
            <div class="col-lg-4 col-md-auto text-center">
                <img src="~assets/images/pic_about_driver_2.png" />
            </div>
        </div>
        </div>

        <div class="card">
        <div class="row card-block pd-All50">
            <div class="col-lg-8">
                <h4 class="card-title">ได้แต้มสะสม</h4>
                <p class="card-text">เมื่อคุณยิ่งรับงานบ่อยๆ และเป็นงานที่มีประสิทธิภาพ คุณก็จะได้รับแต้มสะสมเรื่อยๆและเมื่อถึงเวลาคุณก็จะได้รับของรางวัล</p>
                <a class="link mg-LR0">ตรวจสอบข่าวสารสำหรับคนขับ</a>
            </div>
            <div class="col-lg-4 col-md-auto text-center">
                <img src="~assets/images/pic_about_driver_3.png" />
            </div>
        </div>
        </div>

        <div class="card">
        <div class="row card-block pd-All50">
            <div class="col-lg-12 col-md-auto">
                <h4 class="card-title">คุณต้องการทำอะไรต่อ?</h4>
                <br/>
                <a class="link mg-LR0">ลงทะเบียนขับรถกับเรา</a>
                <br/>
                <br/>
                <a class="link mg-LR0">ดูข้อมูลเพิ่มเติมที่ความช่วยเหลือ</a>
            </div>
        </div>
        </div>

    </div>
    
</div>

</template>

<script>
import jQuery from 'jquery'

export default {
    components: { 
    },
    head:{
        title: 'Passenger Page',
        meta: [
        { hid: 'description', name: 'description', content: 'About page description' }
        ]
    },
    data: () => {
        return { name: 'world' }
    },
    methods:{

    },
    mounted: () => {
        const navBar = jQuery('.navbar'),
        data = navBar.data();
        navBar.removeClass(data.startcolor);
        navBar.removeClass(data.startsize);
        navBar.addClass(data.notindexColor);
        navBar.addClass(data.notindexSize);
    },
    destroyed: () =>{
        const navBar = jQuery('.navbar'),
        data = navBar.data();
        navBar.addClass(data.startcolor);
        navBar.addClass(data.startsize);
        navBar.removeClass(data.notindexColor);
        navBar.removeClass(data.notindexSize);
    }
}
</script>

<style scoped>
.container-top-bottom{
    margin-top: 6em;
    margin-bottom: 5em;
}

.container {
  text-align: unset !important;
}

a{
  text-decoration: none;
  color: black;
}

</style>
