<template>
  <div>
    <h1 class="text-orange">ข้อกำหนดการใช้งาน</h1>
    <br/>

    <p>
        ข้อกำหนดการใช้งานคุณสามารถใช้บริการของเราได้หลายวิธี ไม่ว่าจะเป็นการค้นหาหรือแบ่งปันข้อมูล ติดต่อสื่อสารกับคนอื่นหรือสร้างเนื้อหาใหม่
        เมื่อคุณแบ่งปันข้อมูลนี้กับเราเช่น ด้วยการสร้างบัญชีเราจะสามารถทำให้บริการเหล่านั้นดียิ่งขึ้นได้ด้วยการแสดงผลการค้นหาและโฆษณาที่
        เกี่ยวข้องมากยิ่งขึ้น ช่วยคุณติดต่อกับบุคคลอื่นๆหรือทำให้การแบ่งปันกับผอื่นรวดเร็วและง่ายดายยิ่งขึ้น เนื่องจากคุณใช้บริการของเราเราจึง
        ต้องการให้คุณทราบอย่างชัดเจนว่าเราใช้ข้อมูลของคุณอย่างไรและวิธีการที่คุณสามารถใช้เพื่อปกป้องข้อมูลส่วนบุคคลของคุณ
    </p>

    <p>
        ข้อกำหนดการใช้งานคุณสามารถใช้บริการของเราได้หลายวิธี ไม่ว่าจะเป็นการค้นหาหรือแบ่งปันข้อมูล ติดต่อสื่อสารกับคนอื่นหรือสร้างเนื้อหาใหม่
        เมื่อคุณแบ่งปันข้อมูลนี้กับเราเช่น ด้วยการสร้างบัญชีเราจะสามารถทำให้บริการเหล่านั้นดียิ่งขึ้นได้ด้วยการแสดงผลการค้นหาและโฆษณาที่
        เกี่ยวข้องมากยิ่งขึ้น ช่วยคุณติดต่อกับบุคคลอื่นๆหรือทำให้การแบ่งปันกับผอื่นรวดเร็วและง่ายดายยิ่งขึ้น เนื่องจากคุณใช้บริการของเราเราจึง
        ต้องการให้คุณทราบอย่างชัดเจนว่าเราใช้ข้อมูลของคุณอย่างไรและวิธีการที่คุณสามารถใช้เพื่อปกป้องข้อมูลส่วนบุคคลของคุณ
    </p>

    <p>
        ข้อกำหนดการใช้งานคุณสามารถใช้บริการของเราได้หลายวิธี ไม่ว่าจะเป็นการค้นหาหรือแบ่งปันข้อมูล ติดต่อสื่อสารกับคนอื่นหรือสร้างเนื้อหาใหม่
        เมื่อคุณแบ่งปันข้อมูลนี้กับเราเช่น ด้วยการสร้างบัญชีเราจะสามารถทำให้บริการเหล่านั้นดียิ่งขึ้นได้ด้วยการแสดงผลการค้นหาและโฆษณาที่
        เกี่ยวข้องมากยิ่งขึ้น ช่วยคุณติดต่อกับบุคคลอื่นๆหรือทำให้การแบ่งปันกับผอื่นรวดเร็วและง่ายดายยิ่งขึ้น เนื่องจากคุณใช้บริการของเราเราจึง
        ต้องการให้คุณทราบอย่างชัดเจนว่าเราใช้ข้อมูลของคุณอย่างไรและวิธีการที่คุณสามารถใช้เพื่อปกป้องข้อมูลส่วนบุคคลของคุณ
    </p>

    <p>
        ข้อกำหนดการใช้งานคุณสามารถใช้บริการของเราได้หลายวิธี ไม่ว่าจะเป็นการค้นหาหรือแบ่งปันข้อมูล ติดต่อสื่อสารกับคนอื่นหรือสร้างเนื้อหาใหม่
        เมื่อคุณแบ่งปันข้อมูลนี้กับเราเช่น ด้วยการสร้างบัญชีเราจะสามารถทำให้บริการเหล่านั้นดียิ่งขึ้นได้ด้วยการแสดงผลการค้นหาและโฆษณาที่
        เกี่ยวข้องมากยิ่งขึ้น ช่วยคุณติดต่อกับบุคคลอื่นๆหรือทำให้การแบ่งปันกับผอื่นรวดเร็วและง่ายดายยิ่งขึ้น เนื่องจากคุณใช้บริการของเราเราจึง
        ต้องการให้คุณทราบอย่างชัดเจนว่าเราใช้ข้อมูลของคุณอย่างไรและวิธีการที่คุณสามารถใช้เพื่อปกป้องข้อมูลส่วนบุคคลของคุณ
    </p>

    <p>
        ข้อกำหนดการใช้งานคุณสามารถใช้บริการของเราได้หลายวิธี ไม่ว่าจะเป็นการค้นหาหรือแบ่งปันข้อมูล ติดต่อสื่อสารกับคนอื่นหรือสร้างเนื้อหาใหม่
        เมื่อคุณแบ่งปันข้อมูลนี้กับเราเช่น ด้วยการสร้างบัญชีเราจะสามารถทำให้บริการเหล่านั้นดียิ่งขึ้นได้ด้วยการแสดงผลการค้นหาและโฆษณาที่
        เกี่ยวข้องมากยิ่งขึ้น ช่วยคุณติดต่อกับบุคคลอื่นๆหรือทำให้การแบ่งปันกับผอื่นรวดเร็วและง่ายดายยิ่งขึ้น เนื่องจากคุณใช้บริการของเราเราจึง
        ต้องการให้คุณทราบอย่างชัดเจนว่าเราใช้ข้อมูลของคุณอย่างไรและวิธีการที่คุณสามารถใช้เพื่อปกป้องข้อมูลส่วนบุคคลของคุณ
    </p>

  </div>
</template>

<style scoped>

.text-orange{
    color: orange !important;
}

p{
    margin-top: 20px;
    margin-bottom: 20px;
}
</style>